In [3]:
import sys
import os
import pandas as pd
import numpy as np

file_dir="/Users/yachiru/Documents/nyu/class/DSforBusinessTech/assignment/assignment1/stock_data/"
all_file_list=os.listdir(file_dir)

dic = {}

for single_file in all_file_list:
    if ".csv" in single_file:
        single_data_frame=pd.read_csv(os.path.join(file_dir,single_file))
        
        dic[single_file[:-4]] = single_data_frame

In [4]:
# Assignment7
for key, value in dic.items():
    value[key] = (value['Adj Close'].diff() / value['Adj Close'].shift(1)).fillna(0)
    display(value)

,Date,Open,High,Low,Close,Adj Close,Volume,UAL
0,2014-09-02,48.000000,50.000000,48.000000,49.990002,49.990002,6237800,0.000000
1,2014-09-03,48.740002,49.150002,48.200001,49.029999,49.029999,5439400,-0.019204
2,2014-09-04,49.270000,50.860001,48.799999,50.419998,50.419998,5688300,0.028350
3,2014-09-05,50.290001,51.700001,49.830002,50.730000,50.730000,6309200,0.006148
4,2014-09-08,51.130001,51.740002,50.860001,51.130001,51.130001,5489500,0.007885
...,...,...,...,...,...,...,...,...
1254,2019-08-26,83.419998,83.629997,82.449997,83.580002,83.580002,1851400,0.012723
1255,2019-08-27,84.279999,84.709999,81.750000,81.940002,81.940002,2213800,-0.019622
1256,2019-08-28,81.519997,82.989998,81.169998,82.449997,82.449997,2299500,0.006224
1257,2019-08-29,83.230003,85.129997,83.230003,84.690002,84.690002,4085100,0.027168
1258,2019-08-30,85.199997,85.680000,84.089996,84.309998,84.309998,1928900,-0.004487

,Date,Open,High,Low,Close,Adj Close,Volume,VRTX
0,2014-09-02,94.290001,94.300003,91.690002,92.959999,92.959999,1289800,0.000000
1,2014-09-03,93.199997,93.989998,92.260002,92.820000,92.820000,660100,-0.001506
2,2014-09-04,92.989998,93.410004,90.989998,91.550003,91.550003,864900,-0.013682
3,2014-09-05,94.680000,96.309998,93.550003,95.040001,95.040001,2065600,0.038121
4,2014-09-08,95.070000,96.400002,94.019997,94.489998,94.489998,1353100,-0.005787
...,...,...,...,...,...,...,...,...
1254,2019-08-26,180.820007,182.380005,179.559998,180.639999,180.639999,829500,0.002553
1255,2019-08-27,181.990005,182.919998,177.270004,178.250000,178.250000,940100,-0.013231
1256,2019-08-28,177.470001,180.710007,170.539993,178.339996,178.339996,1680200,0.000505
1257,2019-08-29,179.300003,180.500000,178.139999,178.979996,178.979996,680300,0.003589
1258,2019-08-30,180.259995,181.199997,178.759995,180.020004,180.020004,892900,0.005811

            Date   Open   High    Low  Close  Adj Close  Volume       AQN
0     2014-09-02   8.25   8.27   8.23   8.24   6.500142   15200  0.000000
1     2014-09-03   8.30   8.38   8.30   8.33   6.571137  154200  0.010922
2     2014-09-04   8.35   8.39   8.33   8.35   6.586916   15700  0.002401
3     2014-09-05   8.09   8.30   8.09   8.15   6.429143   20300 -0.023952
4     2014-09-08   8.13   8.13   8.02   8.05   6.350259   13200 -0.012270
...          ...    ...    ...    ...    ...        ...     ...       ...
1254  2019-08-26  12.84  12.90  12.80  12.86  12.860000  216600  0.003903
1255  2019-08-27  12.88  12.98  12.87  12.91  12.910000  323200  0.003888
1256  2019-08-28  12.91  13.02  12.86  12.98  12.980000  280200  0.005422
1257  2019-08-29  13.02  13.05  12.88  13.01  13.010000  284700  0.002311
1258  2019-08-30  13.06  13.10  13.01  13.07  13.070000  186200  0.004612

[1259 rows x 8 columns]

,Date,Open,High,Low,Close,Adj Close,Volume,MO
0,2014-09-02,43.160000,43.680000,43.049999,43.189999,34.105373,4573300,0.000000
1,2014-09-03,43.389999,43.459999,43.110001,43.220001,34.129059,3497000,0.000694
2,2014-09-04,43.220001,43.480000,43.049999,43.139999,34.065880,4583100,-0.001851
3,2014-09-05,43.130001,43.410000,43.080002,43.389999,34.263302,4949600,0.005795
4,2014-09-08,43.380001,43.599998,43.360001,43.490002,34.342270,6454800,0.002305
...,...,...,...,...,...,...,...,...
1254,2019-08-26,46.970001,47.610001,46.500000,47.119999,46.229744,12763200,0.015298
1255,2019-08-27,51.169998,52.450001,44.830002,45.250000,44.395077,58065900,-0.039686
1256,2019-08-28,45.169998,46.689999,44.669998,45.849998,44.983738,20298000,0.013260
1257,2019-08-29,46.169998,46.299999,43.849998,44.250000,43.413967,18214200,-0.034896
1258,2019-08-30,44.060001,44.580002,43.570000,43.740002,42.913605,13984600,-0.011525

,Date,Open,High,Low,Close,Adj Close,Volume,NVS
0,2014-09-02,83.288528,83.978493,83.216843,83.969536,70.864578,6204800,0.000000
1,2014-09-03,84.784943,84.820786,84.363800,84.417564,71.242691,1799600,0.005336
2,2014-09-04,84.059143,84.130821,83.315414,83.629036,70.577225,1751600,-0.009341
3,2014-09-05,83.198921,83.709679,83.091400,83.575272,70.531853,1560800,-0.000643
4,2014-09-08,83.566307,83.870964,83.396057,83.584229,70.539413,1437100,0.000107
...,...,...,...,...,...,...,...,...
1254,2019-08-26,88.010002,88.550003,87.970001,88.519997,88.519997,859500,0.000905
1255,2019-08-27,89.230003,89.910004,89.000000,89.370003,89.370003,1179300,0.009602
1256,2019-08-28,88.839996,89.410004,88.610001,88.980003,88.980003,975100,-0.004364
1257,2019-08-29,89.360001,89.470001,88.930000,89.010002,89.010002,976300,0.000337
1258,2019-08-30,90.699997,90.959999,89.650002,90.110001,90.110001,1527900,0.012358

,Date,Open,High,Low,Close,Adj Close,Volume,MCHP
0,2014-09-02,48.880001,49.000000,48.439999,48.779999,43.534424,2024500,0.000000
1,2014-09-03,48.689999,48.840000,48.509998,48.570000,43.347015,1114200,-0.004305
2,2014-09-04,48.650002,48.990002,48.459999,48.619999,43.391636,929000,0.001029
3,2014-09-05,48.720001,48.849998,48.459999,48.849998,43.596897,684600,0.004730
4,2014-09-08,48.730000,49.090000,48.630001,48.970001,43.703999,1169100,0.002457
...,...,...,...,...,...,...,...,...
1254,2019-08-26,86.250000,86.410004,84.059998,84.730003,84.730003,3693100,0.001773
1255,2019-08-27,85.400002,86.360001,84.089996,84.349998,84.349998,1846800,-0.004485
1256,2019-08-28,83.970001,85.180000,83.160004,84.879997,84.879997,1615100,0.006283
1257,2019-08-29,86.510002,87.370003,86.139999,86.570000,86.570000,1347300,0.019910
1258,2019-08-30,87.339996,87.550003,86.169998,86.330002,86.330002,1207900,-0.002772

,Date,Open,High,Low,Close,Adj Close,Volume,BZH
0,2014-09-02,18.830000,18.910000,18.660000,18.780001,18.780001,450000,0.000000
1,2014-09-03,18.860001,18.860001,18.160000,18.250000,18.250000,499300,-0.028222
2,2014-09-04,18.000000,18.700001,18.000000,18.530001,18.530001,341800,0.015343
3,2014-09-05,18.469999,18.870001,18.469999,18.700001,18.700001,253300,0.009174
4,2014-09-08,18.680000,19.080000,18.559999,18.820000,18.820000,310000,0.006417
...,...,...,...,...,...,...,...,...
1254,2019-08-26,12.440000,12.570000,12.330000,12.440000,12.440000,336600,0.008104
1255,2019-08-27,12.500000,12.660000,12.140000,12.210000,12.210000,348600,-0.018489
1256,2019-08-28,12.190000,12.550000,12.040000,12.360000,12.360000,421500,0.012285
1257,2019-08-29,12.450000,12.540000,12.230000,12.420000,12.420000,336800,0.004854
1258,2019-08-30,12.480000,12.660000,12.280000,12.530000,12.530000,256700,0.008857

,Date,Open,High,Low,Close,Adj Close,Volume,EDIT
0,2016-02-03,18.00,18.879999,16.000000,18.200001,18.200001,4157900,0.000000
1,2016-02-04,18.26,19.420000,17.570000,18.500000,18.500000,469900,0.016483
2,2016-02-05,18.84,18.879999,17.520000,17.600000,17.600000,219900,-0.048649
3,2016-02-08,17.52,18.000000,15.720000,15.850000,15.850000,372100,-0.099432
4,2016-02-09,15.50,15.500000,12.748000,12.810000,12.810000,744100,-0.191798
...,...,...,...,...,...,...,...,...
896,2019-08-26,24.49,24.715000,23.740000,24.340000,24.340000,684200,0.011638
897,2019-08-27,24.50,25.000000,23.570000,23.719999,23.719999,509100,-0.025473
898,2019-08-28,23.75,24.465000,23.520000,24.299999,24.299999,461100,0.024452
899,2019-08-29,24.51,25.090000,24.400000,25.080000,25.080000,715600,0.032099
900,2019-08-30,25.18,25.450001,24.629999,24.830000,24.830000,349600,-0.009968

,Date,Open,High,Low,Close,Adj Close,Volume,FCX
0,2014-09-02,36.040001,36.220001,35.450001,35.490002,33.355282,10918600,0.000000
1,2014-09-03,35.619999,35.660000,35.209999,35.299999,33.176701,6491200,-0.005354
2,2014-09-04,35.320000,35.669998,35.049999,35.220001,33.101513,6082900,-0.002266
3,2014-09-05,35.160000,35.189999,34.730000,35.020000,32.913544,12034600,-0.005679
4,2014-09-08,34.959999,35.020000,34.740002,34.910000,32.810158,7045300,-0.003141
...,...,...,...,...,...,...,...,...
1254,2019-08-26,8.860000,8.930000,8.760000,8.840000,8.840000,19840600,0.001133
1255,2019-08-27,8.920000,9.020000,8.680000,8.710000,8.710000,15942200,-0.014706
1256,2019-08-28,8.740000,8.990000,8.580000,8.950000,8.950000,15456200,0.027555
1257,2019-08-29,9.150000,9.260000,9.060000,9.120000,9.120000,14882600,0.018994
1258,2019-08-30,9.220000,9.270000,9.090000,9.190000,9.190000,12318300,0.007675

,Date,Open,High,Low,Close,Adj Close,Volume,HAIN
0,2014-09-02,49.060001,49.259998,48.560001,49.165001,49.165001,1106400,0.000000
1,2014-09-03,49.105000,49.509998,48.764999,49.035000,49.035000,1252400,-0.002644
2,2014-09-04,49.160000,49.904999,48.720001,48.830002,48.830002,1195800,-0.004181
3,2014-09-05,48.994999,49.095001,48.075001,49.009998,49.009998,1012800,0.003686
4,2014-09-08,48.794998,49.115002,48.709999,48.895000,48.895000,682000,-0.002346
...,...,...,...,...,...,...,...,...
1254,2019-08-26,18.520000,18.590000,18.230000,18.530001,18.530001,1417300,0.008161
1255,2019-08-27,18.500000,18.530001,17.940001,18.180000,18.180000,1509300,-0.018888
1256,2019-08-28,18.420000,18.670000,18.200001,18.360001,18.360001,2892000,0.009901
1257,2019-08-29,19.309999,19.590000,18.459999,19.030001,19.030001,3288400,0.036492
1258,2019-08-30,19.040001,19.190001,18.680000,19.049999,19.049999,2866100,0.001051

,Date,Open,High,Low,Close,Adj Close,Volume,LYFT
0,2019-03-29,87.330002,88.599998,78.019997,78.290001,78.290001,71485200,0.000000
1,2019-04-01,74.900002,75.000000,67.779999,69.010002,69.010002,41799300,-0.118534
2,2019-04-02,66.900002,70.199997,66.099998,68.970001,68.970001,22483300,-0.000580
3,2019-04-03,70.059998,72.000000,69.120003,70.000000,70.000000,15648300,0.014934
4,2019-04-04,70.480003,72.889999,70.220001,72.000000,72.000000,9229300,0.028571
...,...,...,...,...,...,...,...,...
103,2019-08-26,50.200001,51.500000,49.720001,51.209999,51.209999,7189600,0.042761
104,2019-08-27,51.240002,51.299999,48.720001,49.610001,49.610001,6308100,-0.031244
105,2019-08-28,49.310001,49.480000,48.220001,48.840000,48.840000,4792300,-0.015521
106,2019-08-29,49.349998,50.200001,48.639999,49.730000,49.730000,5729600,0.018223
107,2019-08-30,49.860001,49.939999,47.869999,48.970001,48.970001,5593700,-0.015283

,Date,Open,High,Low,Close,Adj Close,Volume,SKYW
0,2014-09-02,9.000000,9.180000,8.850000,9.170000,8.755205,518800,0.000000
1,2014-09-03,9.160000,9.180000,9.010000,9.100000,8.688374,487300,-0.007633
2,2014-09-04,9.130000,9.300000,9.070000,9.100000,8.688374,390600,0.000000
3,2014-09-05,9.040000,9.190000,8.920000,9.060000,8.650184,312200,-0.004396
4,2014-09-08,9.070000,9.250000,9.050000,9.190000,8.774302,582900,0.014349
...,...,...,...,...,...,...,...,...
1254,2019-08-26,55.209999,55.480000,54.330002,54.900002,54.900002,180900,0.011982
1255,2019-08-27,55.419998,55.880001,53.639999,53.799999,53.799999,185800,-0.020036
1256,2019-08-28,53.790001,55.950001,53.740002,55.189999,55.189999,268400,0.025836
1257,2019-08-29,56.049999,57.340000,55.869999,57.119999,57.119999,113900,0.034970
1258,2019-08-30,57.470001,58.090000,57.070000,57.259998,57.259998,224800,0.002451

,Date,Open,High,Low,Close,Adj Close,Volume,BG
0,2014-09-02,84.879997,85.430000,84.489998,85.269997,74.473747,1196200,0.000000
1,2014-09-03,85.360001,86.059998,85.169998,85.769997,74.910439,991400,0.005864
2,2014-09-04,85.589996,86.559998,84.860001,84.889999,74.141861,1106800,-0.010260
3,2014-09-05,84.910004,85.500000,84.559998,85.440002,74.622223,884700,0.006479
4,2014-09-08,85.360001,85.889999,84.930000,85.620003,74.779434,661300,0.002107
...,...,...,...,...,...,...,...,...
1254,2019-08-26,53.619999,53.750000,52.939999,53.509998,53.509998,844000,0.005449
1255,2019-08-27,53.650002,53.650002,51.660000,52.580002,52.580002,1119500,-0.017380
1256,2019-08-28,52.540001,52.799999,51.770000,52.439999,52.439999,1004000,-0.002663
1257,2019-08-29,52.750000,52.849998,52.029999,52.619999,52.619999,969900,0.003432
1258,2019-08-30,53.369999,53.910000,53.160000,53.410000,53.410000,1013500,0.015013

,Date,Open,High,Low,Close,Adj Close,Volume,F
0,2014-09-02,17.480000,17.620001,17.480000,17.600000,13.444566,18538300,0.000000
1,2014-09-03,17.709999,17.870001,17.440001,17.469999,13.345263,25723900,-0.007386
2,2014-09-04,17.459999,17.629999,17.190001,17.270000,13.192480,20733700,-0.011448
3,2014-09-05,17.299999,17.299999,16.940001,17.139999,13.093174,29801700,-0.007527
4,2014-09-08,16.740000,16.870001,16.709999,16.799999,12.833452,47565300,-0.019836
...,...,...,...,...,...,...,...,...
1254,2019-08-26,8.880000,8.910000,8.790000,8.820000,8.820000,31888200,0.005701
1255,2019-08-27,8.890000,8.910000,8.750000,8.760000,8.760000,23024400,-0.006803
1256,2019-08-28,8.720000,9.040000,8.700000,9.000000,9.000000,35147300,0.027397
1257,2019-08-29,9.100000,9.140000,9.030000,9.120000,9.120000,22011000,0.013333
1258,2019-08-30,9.160000,9.230000,9.100000,9.170000,9.170000,32057900,0.005482

,Date,Open,High,Low,Close,Adj Close,Volume,ADBE
0,2014-09-02,72.059998,72.589996,71.839996,72.099998,72.099998,2161400,0.000000
1,2014-09-03,72.550003,72.800003,71.989998,72.430000,72.430000,1971400,0.004577
2,2014-09-04,72.629997,73.199997,72.260002,72.459999,72.459999,1976000,0.000414
3,2014-09-05,72.599998,73.129997,72.410004,73.129997,73.129997,1736200,0.009246
4,2014-09-08,72.870003,73.550003,72.809998,73.389999,73.389999,1373500,0.003555
...,...,...,...,...,...,...,...,...
1254,2019-08-26,284.859985,288.890015,283.510010,288.739990,288.739990,1792800,0.022306
1255,2019-08-27,290.660004,291.850006,286.529999,289.450012,289.450012,1792300,0.002459
1256,2019-08-28,286.549988,287.989990,280.420013,282.130005,282.130005,2776300,-0.025289
1257,2019-08-29,285.709991,287.700012,283.619995,286.630005,286.630005,2171900,0.015950
1258,2019-08-30,287.410004,288.500000,280.119995,284.510010,284.510010,2373300,-0.007396

,Date,Open,High,Low,Close,Adj Close,Volume,SAVE
0,2014-09-02,70.500000,72.690002,70.139999,72.620003,72.620003,747000,0.000000
1,2014-09-03,71.599998,72.610001,71.220001,72.470001,72.470001,514800,-0.002066
2,2014-09-04,72.500000,73.519997,72.190002,72.300003,72.300003,770400,-0.002346
3,2014-09-05,72.190002,73.220001,71.250000,73.199997,73.199997,414200,0.012448
4,2014-09-08,73.300003,74.000000,72.910004,73.239998,73.239998,486300,0.000546
...,...,...,...,...,...,...,...,...
1254,2019-08-26,38.060001,38.150002,37.290001,37.549999,37.549999,622500,-0.004771
1255,2019-08-27,37.619999,37.669998,36.000000,36.029999,36.029999,1239900,-0.040479
1256,2019-08-28,36.000000,37.150002,35.889999,36.980000,36.980000,828100,0.026367
1257,2019-08-29,37.299999,37.889999,37.299999,37.810001,37.810001,488900,0.022445
1258,2019-08-30,38.139999,38.380001,37.459999,37.540001,37.540001,807600,-0.007141

            Date   Open   High    Low  Close  Adj Close    Volume       JCP
0     2014-09-02  10.90  10.93  10.47  10.54      10.54  18441500  0.000000
1     2014-09-03  10.70  10.85  10.61  10.62      10.62  13245800  0.007590
2     2014-09-04  10.81  11.28  10.81  11.18      11.18  29969000  0.052731
3     2014-09-05  11.10  11.13  10.92  11.08      11.08  11259500 -0.008945
4     2014-09-08  10.99  11.08  10.77  10.94      10.94  12424900 -0.012635
...          ...    ...    ...    ...    ...        ...       ...       ...
1254  2019-08-26   0.57   0.60   0.55   0.57       0.57   9755100  0.036364
1255  2019-08-27   0.59   0.60   0.56   0.58       0.58  10301200  0.017544
1256  2019-08-28   0.57   0.65   0.57   0.64       0.64  12038900  0.103448
1257  2019-08-29   0.68   0.83   0.68   0.73       0.73  36794900  0.140625
1258  2019-08-30   0.77   0.82   0.71   0.74       0.74  14627900  0.013699

[1259 rows x 8 columns]

,Date,Open,High,Low,Close,Adj Close,Volume,PEP
0,2014-09-02,92.620003,93.139999,92.379997,92.480003,79.288795,5130300,0.000000
1,2014-09-03,92.400002,92.760002,91.809998,92.750000,80.087509,4929600,0.010073
2,2014-09-04,92.949997,93.150002,91.769997,91.849998,79.310356,4466800,-0.009704
3,2014-09-05,91.849998,91.849998,91.389999,91.750000,79.224022,3148000,-0.001089
4,2014-09-08,91.480003,92.250000,91.389999,91.860001,79.319016,3534300,0.001199
...,...,...,...,...,...,...,...,...
1254,2019-08-26,130.820007,133.750000,130.589996,133.740005,132.822128,3954100,0.026637
1255,2019-08-27,134.199997,135.360001,133.679993,134.759995,133.835114,7187800,0.007627
1256,2019-08-28,134.500000,135.339996,134.279999,135.190002,134.262177,3972600,0.003191
1257,2019-08-29,135.610001,136.440002,134.520004,136.020004,135.086487,3045200,0.006140
1258,2019-08-30,136.110001,137.110001,135.759995,136.729996,135.791595,3742800,0.005220

,Date,Open,High,Low,Close,Adj Close,Volume,IDA
0,2014-09-02,56.720001,56.939999,55.930000,56.080002,48.907925,358500,0.000000
1,2014-09-03,56.250000,56.520000,55.849998,56.099998,48.925369,251500,0.000357
2,2014-09-04,56.099998,56.200001,55.599998,55.820000,48.681187,147100,-0.004991
3,2014-09-05,55.709999,56.860001,55.619999,56.779999,49.518398,156800,0.017198
4,2014-09-08,56.889999,56.970001,56.290001,56.709999,49.457352,185000,-0.001233
...,...,...,...,...,...,...,...,...
1254,2019-08-26,108.660004,109.209999,108.309998,109.010002,109.010002,289600,0.006091
1255,2019-08-27,109.660004,110.209999,109.169998,109.250000,109.250000,329600,0.002202
1256,2019-08-28,109.489998,109.830002,108.589996,109.400002,109.400002,452600,0.001373
1257,2019-08-29,109.910004,110.360001,109.120003,109.650002,109.650002,314500,0.002285
1258,2019-08-30,109.720001,110.570000,109.120003,109.809998,109.809998,296300,0.001459

,Date,Open,High,Low,Close,Adj Close,Volume,COST
0,2014-09-02,121.000000,121.629997,120.900002,121.559998,107.118889,1469900,0.000000
1,2014-09-03,121.699997,121.940002,121.110001,121.349998,106.933830,1901000,-0.001728
2,2014-09-04,123.000000,125.169998,122.559998,125.150002,110.282387,4440300,0.031314
3,2014-09-05,125.040001,127.029999,124.709999,127.010002,111.921448,2910600,0.014862
4,2014-09-08,127.050003,127.320000,126.260002,126.599998,111.560143,2057400,-0.003228
...,...,...,...,...,...,...,...,...
1254,2019-08-26,275.750000,278.529999,275.690002,278.459991,277.845367,1426400,0.016240
1255,2019-08-27,281.000000,293.440002,280.339996,292.380005,291.734650,5169000,0.049989
1256,2019-08-28,293.750000,299.950012,292.420013,294.489990,293.839996,5162100,0.007217
1257,2019-08-29,297.480011,297.730011,292.760010,296.570007,296.570007,2613100,0.009291
1258,2019-08-30,298.000000,298.279999,292.829987,294.760010,294.760010,1801000,-0.006103

,Date,Open,High,Low,Close,Adj Close,Volume,XEL
0,2014-09-02,32.020000,32.090000,31.520000,31.690001,26.638628,1940600,0.000000
1,2014-09-03,31.809999,32.080002,31.730000,31.930000,26.840368,1599800,0.007573
2,2014-09-04,31.840000,31.950001,31.670000,31.860001,26.781527,1189800,-0.002192
3,2014-09-05,31.840000,32.480000,31.840000,32.480000,27.302702,2122900,0.019460
4,2014-09-08,32.439999,32.450001,32.020000,32.180000,27.050516,1377600,-0.009237
...,...,...,...,...,...,...,...,...
1254,2019-08-26,62.650002,63.549999,62.459999,63.540001,63.133144,2575300,0.017454
1255,2019-08-27,63.799999,64.410004,63.750000,63.990002,63.580265,3000600,0.007082
1256,2019-08-28,64.139999,64.529999,63.709999,63.980000,63.570328,3152200,-0.000156
1257,2019-08-29,64.230003,64.629997,63.660000,64.599998,64.186356,2724800,0.009690
1258,2019-08-30,64.739998,64.910004,64.070000,64.220001,63.808792,3159200,-0.005882

,Date,Open,High,Low,Close,Adj Close,Volume,DLR
0,2014-09-02,65.470001,65.589996,65.019997,65.529999,52.502735,1177600,0.000000
1,2014-09-03,65.519997,66.230003,65.459999,65.809998,52.727085,810800,0.004273
2,2014-09-04,65.870003,66.199997,65.410004,65.949997,52.839252,726500,0.002127
3,2014-09-05,65.989998,66.800003,65.870003,66.739998,53.472195,941100,0.011979
4,2014-09-08,66.889999,67.750000,66.730003,67.540001,54.113171,1306900,0.011987
...,...,...,...,...,...,...,...,...
1254,2019-08-26,121.360001,121.919998,120.260002,121.190002,120.171440,579100,0.003893
1255,2019-08-27,121.839996,122.330002,120.309998,120.339996,119.328575,989000,-0.007014
1256,2019-08-28,120.669998,121.639999,120.339996,121.279999,120.260681,659800,0.007811
1257,2019-08-29,122.010002,124.089996,121.849998,123.599998,122.561180,728000,0.019129
1258,2019-08-30,124.139999,124.440002,123.250000,123.629997,122.590927,771000,0.000243

,Date,Open,High,Low,Close,Adj Close,Volume,JBLU
0,2014-09-02,12.230000,12.700000,12.210000,12.640000,12.640000,9523700,0.000000
1,2014-09-03,12.400000,12.460000,12.210000,12.360000,12.360000,6473100,-0.022152
2,2014-09-04,12.420000,12.760000,12.380000,12.530000,12.530000,6207200,0.013754
3,2014-09-05,12.490000,12.680000,12.390000,12.540000,12.540000,3835600,0.000798
4,2014-09-08,12.520000,12.680000,12.450000,12.470000,12.470000,5407500,-0.005582
...,...,...,...,...,...,...,...,...
1254,2019-08-26,17.350000,17.420000,17.049999,17.100000,17.100000,6147300,-0.006969
1255,2019-08-27,17.240000,17.250000,16.530001,16.549999,16.549999,4997100,-0.032164
1256,2019-08-28,16.690001,16.930000,16.530001,16.750000,16.750000,5881000,0.012085
1257,2019-08-29,16.930000,17.379999,16.910000,17.350000,17.350000,4607200,0.035821
1258,2019-08-30,17.360001,17.600000,17.219999,17.320000,17.320000,4285500,-0.001729

,Date,Open,High,Low,Close,Adj Close,Volume,MRK
0,2014-09-02,59.730000,60.099998,59.669998,59.790001,50.958256,6054500,0.000000
1,2014-09-03,60.119999,60.860001,60.060001,60.480000,51.546333,9096200,0.011540
2,2014-09-04,60.570000,61.000000,59.919998,60.080002,51.205425,10809000,-0.006614
3,2014-09-05,60.419998,61.180000,60.150002,61.180000,52.142941,10744200,0.018309
4,2014-09-08,61.220001,61.330002,60.830002,61.049999,52.032139,8420400,-0.002125
...,...,...,...,...,...,...,...,...
1254,2019-08-26,85.379997,85.900002,85.080002,85.879997,85.313026,5765100,0.011067
1255,2019-08-27,86.419998,86.919998,85.449997,85.519997,84.955406,6228100,-0.004192
1256,2019-08-28,85.260002,86.570000,85.040001,86.480003,85.909073,5877800,0.011226
1257,2019-08-29,87.070000,87.349998,86.180000,86.720001,86.147484,6031500,0.002775
1258,2019-08-30,87.120003,87.220001,86.169998,86.470001,85.899139,6483900,-0.002883

,Date,Open,High,Low,Close,Adj Close,Volume,EBAY
0,2014-09-02,23.350168,23.396465,23.017677,23.097643,22.843174,26560100,0.000000
1,2014-09-03,23.207071,23.278620,22.874578,22.958754,22.705814,19286700,-0.006013
2,2014-09-04,23.059765,23.337542,22.723064,22.912458,22.660028,31086300,-0.002016
3,2014-09-05,22.853535,22.899832,22.432659,22.685184,22.435259,38499900,-0.009919
4,2014-09-08,22.634680,22.845118,22.504210,22.824074,22.572620,21543600,0.006123
...,...,...,...,...,...,...,...,...
1254,2019-08-26,39.139999,39.419998,38.900002,39.400002,39.263905,6570200,0.018088
1255,2019-08-27,39.509998,39.759998,38.709999,39.000000,38.865288,9124900,-0.010152
1256,2019-08-28,38.869999,40.259998,38.779999,40.090000,39.951523,10721200,0.027949
1257,2019-08-29,40.509998,40.810001,40.279999,40.529999,40.389999,7188200,0.010975
1258,2019-08-30,40.730000,40.740002,40.180000,40.290001,40.290001,4472700,-0.002476

,Date,Open,High,Low,Close,Adj Close,Volume,SBUX
0,2014-09-02,38.849998,38.990002,38.580002,38.740002,35.522366,6196200,0.000000
1,2014-09-03,38.779999,38.965000,38.349998,38.395000,35.206020,6796800,-0.008906
2,2014-09-04,38.400002,38.685001,38.380001,38.580002,35.375645,5741000,0.004818
3,2014-09-05,38.505001,38.985001,38.404999,38.974998,35.737846,8026600,0.010239
4,2014-09-08,38.880001,38.980000,38.665001,38.834999,35.609478,4492800,-0.003592
...,...,...,...,...,...,...,...,...
1254,2019-08-26,95.379997,96.500000,95.000000,96.500000,96.500000,5802600,0.019007
1255,2019-08-27,96.699997,97.099998,96.029999,96.089996,96.089996,6539800,-0.004249
1256,2019-08-28,96.230003,97.209999,96.000000,97.070000,97.070000,4948800,0.010199
1257,2019-08-29,97.849998,98.070000,97.059998,97.699997,97.699997,4514300,0.006490
1258,2019-08-30,98.139999,98.139999,96.110001,96.559998,96.559998,5209500,-0.011668

,Date,Open,High,Low,Close,Adj Close,Volume,SNAP
0,2017-03-02,24.000000,26.049999,23.500000,24.480000,24.480000,217048900,0.000000
1,2017-03-03,26.389999,29.440001,26.059999,27.090000,27.090000,148166400,0.106618
2,2017-03-06,28.170000,28.250000,23.770000,23.770000,23.770000,72903000,-0.122554
3,2017-03-07,22.209999,22.500000,20.639999,21.440001,21.440001,71857800,-0.098023
4,2017-03-08,22.030001,23.430000,21.309999,22.809999,22.809999,49819100,0.063899
...,...,...,...,...,...,...,...,...
625,2019-08-26,15.640000,16.209999,15.570000,16.110001,16.110001,23633900,0.036013
626,2019-08-27,16.209999,16.305000,15.030000,15.510000,15.510000,31412800,-0.037244
627,2019-08-28,15.300000,15.705000,15.250000,15.550000,15.550000,19117800,0.002579
628,2019-08-29,15.810000,16.080999,15.750000,15.780000,15.780000,14726900,0.014791
629,2019-08-30,15.930000,15.970000,15.550000,15.830000,15.830000,10591300,0.003169

,Date,Open,High,Low,Close,Adj Close,Volume,AMT
0,2014-09-02,99.129997,99.260002,98.099998,98.779999,89.581276,2678400,0.000000
1,2014-09-03,97.650002,98.260002,97.550003,98.110001,88.973663,2304200,-0.006783
2,2014-09-04,98.430000,98.940002,98.120003,98.599998,89.418037,2460000,0.004994
3,2014-09-05,98.510002,99.739998,98.419998,99.629997,90.352127,1480300,0.010446
4,2014-09-08,99.800003,99.900002,99.019997,99.360001,90.107269,957900,-0.002710
...,...,...,...,...,...,...,...,...
1254,2019-08-26,227.570007,230.149994,226.110001,230.070007,230.070007,968500,0.015448
1255,2019-08-27,230.779999,231.770004,229.029999,229.789993,229.789993,1584000,-0.001217
1256,2019-08-28,229.550003,231.529999,228.580002,230.139999,230.139999,1143700,0.001523
1257,2019-08-29,231.000000,231.500000,229.130005,230.410004,230.410004,986200,0.001173
1258,2019-08-30,231.490005,231.669998,229.070007,230.190002,230.190002,1426200,-0.000955

,Date,Open,High,Low,Close,Adj Close,Volume,DPZ
0,2014-09-02,75.650002,76.150002,75.430000,76.000000,71.989700,311400,0.000000
1,2014-09-03,76.150002,76.239998,75.309998,75.610001,71.620277,325500,-0.005132
2,2014-09-04,75.550003,75.940002,75.139999,75.379997,71.402428,162800,-0.003042
3,2014-09-05,75.239998,76.470001,75.150002,76.430000,72.397018,198100,0.013929
4,2014-09-08,76.330002,76.500000,75.680000,76.059998,72.046539,334500,-0.004841
...,...,...,...,...,...,...,...,...
1254,2019-08-26,227.789993,228.940002,224.869995,227.690002,227.095840,614600,0.006810
1255,2019-08-27,227.990005,228.440002,220.899994,222.449997,221.869522,1133800,-0.023014
1256,2019-08-28,221.809998,226.899994,221.809998,225.850006,225.260651,750500,0.015284
1257,2019-08-29,227.470001,228.809998,224.979996,225.259995,224.672180,533800,-0.002612
1258,2019-08-30,226.309998,226.940002,224.009995,226.839996,226.248062,510300,0.007014

,Date,Open,High,Low,Close,Adj Close,Volume,PG
0,2014-09-02,83.209999,83.489998,82.709999,82.980003,70.786125,5528900,0.000000
1,2014-09-03,83.260002,83.480003,82.769997,82.900002,70.717888,5851800,-0.000964
2,2014-09-04,82.919998,83.750000,82.779999,83.699997,71.400337,7444200,0.009650
3,2014-09-05,83.440002,83.800003,83.070000,83.769997,71.460045,5888900,0.000836
4,2014-09-08,83.570000,83.599998,83.129997,83.320000,71.076180,4899600,-0.005372
...,...,...,...,...,...,...,...,...
1254,2019-08-26,117.750000,119.599998,117.220001,119.320000,119.320000,5661500,0.017047
1255,2019-08-27,119.989998,121.050003,119.779999,120.550003,120.550003,6996300,0.010308
1256,2019-08-28,120.459999,121.430000,119.629997,121.400002,121.400002,4600300,0.007051
1257,2019-08-29,121.790001,122.000000,120.320000,121.180000,121.180000,5011500,-0.001812
1258,2019-08-30,121.959999,122.000000,119.510002,120.230003,120.230003,6007100,-0.007840

,Date,Open,High,Low,Close,Adj Close,Volume,CAT
0,2014-09-02,109.029999,109.730003,108.830002,108.919998,91.920044,4040200,0.000000
1,2014-09-03,109.449997,109.660004,108.050003,108.459999,91.531853,4669000,-0.004223
2,2014-09-04,108.300003,109.489998,108.160004,108.820000,91.835640,4604000,0.003319
3,2014-09-05,109.000000,109.180000,108.190002,108.540001,91.599365,4305000,-0.002573
4,2014-09-08,108.230003,108.459999,107.519997,107.910004,91.067688,3496900,-0.005804
...,...,...,...,...,...,...,...,...
1254,2019-08-26,115.059998,115.669998,113.839996,114.419998,114.419998,5200400,0.003156
1255,2019-08-27,115.160004,115.459999,113.150002,113.379997,113.379997,3160700,-0.009089
1256,2019-08-28,112.860001,114.949997,111.750000,114.860001,114.860001,3187900,0.013053
1257,2019-08-29,116.620003,118.129997,116.489998,117.769997,117.769997,3442900,0.025335
1258,2019-08-30,119.019997,119.589996,118.449997,119.000000,119.000000,2912000,0.010444

,Date,Open,High,Low,Close,Adj Close,Volume,MCD
0,2014-09-02,93.239998,93.699997,92.690002,92.800003,80.599190,6727100,0.000000
1,2014-09-03,93.269997,93.489998,93.040001,93.139999,80.894463,4855300,0.003663
2,2014-09-04,93.019997,93.230003,92.800003,93.010002,80.781578,4849800,-0.001395
3,2014-09-05,93.099998,93.120003,92.800003,93.070000,80.833687,4004600,0.000645
4,2014-09-08,92.800003,92.820000,92.199997,92.500000,80.338623,5251900,-0.006124
...,...,...,...,...,...,...,...,...
1254,2019-08-26,216.080002,217.179993,214.210007,216.910004,215.769104,2553100,0.010482
1255,2019-08-27,217.580002,217.899994,216.050003,216.050003,214.913620,2070000,-0.003965
1256,2019-08-28,216.619995,218.210007,215.399994,218.070007,216.923004,2146100,0.009350
1257,2019-08-29,219.830002,221.020004,218.369995,220.539993,219.379990,2729800,0.011327
1258,2019-08-30,219.800003,220.000000,216.940002,217.970001,217.970001,2733700,-0.006427

,Date,Open,High,Low,Close,Adj Close,Volume,AMZN
0,2014-09-02,339.980011,342.500000,337.160004,342.380005,342.380005,2326000,0.000000
1,2014-09-03,342.540009,343.269989,337.549988,339.000000,339.000000,1993700,-0.009872
2,2014-09-04,343.690002,349.380005,343.579987,345.950012,345.950012,3965600,0.020502
3,2014-09-05,346.299988,346.829987,342.500000,346.380005,346.380005,2107000,0.001243
4,2014-09-08,344.540009,345.809998,339.040009,342.339996,342.339996,2955300,-0.011664
...,...,...,...,...,...,...,...,...
1254,2019-08-26,1766.910034,1770.000000,1743.510010,1768.869995,1768.869995,3080000,0.011002
1255,2019-08-27,1775.729980,1779.400024,1746.680054,1761.829956,1761.829956,3019700,-0.003980
1256,2019-08-28,1755.000000,1767.859985,1744.050049,1764.250000,1764.250000,2419700,0.001374
1257,2019-08-29,1783.000000,1798.550049,1777.250000,1786.400024,1786.400024,3015100,0.012555
1258,2019-08-30,1797.489990,1799.739990,1764.569946,1776.290039,1776.290039,3058700,-0.005659

,Date,Open,High,Low,Close,Adj Close,Volume,INTC
0,2014-09-02,34.759998,34.910000,34.430000,34.570000,30.036959,32094800,0.000000
1,2014-09-03,34.820000,34.880001,34.450001,34.570000,30.036959,26668800,0.000000
2,2014-09-04,34.529999,35.090000,34.520000,34.910000,30.332392,27632400,0.009836
3,2014-09-05,34.919998,35.119999,34.830002,35.000000,30.410589,20841900,0.002578
4,2014-09-08,34.959999,35.560001,34.880001,35.330002,30.697315,24859600,0.009428
...,...,...,...,...,...,...,...,...
1254,2019-08-26,45.820000,45.820000,45.250000,45.560001,45.560001,22080500,0.013345
1255,2019-08-27,45.869999,46.119999,45.500000,45.790001,45.790001,16925500,0.005048
1256,2019-08-28,45.700001,45.910000,45.369999,45.790001,45.790001,14888800,0.000000
1257,2019-08-29,46.459999,47.220001,46.400002,46.869999,46.869999,17803800,0.023586
1258,2019-08-30,47.240002,47.790001,47.160000,47.410000,47.410000,16922600,0.011521

,Date,Open,High,Low,Close,Adj Close,Volume,GM
0,2014-09-02,34.880001,35.139999,34.619999,34.799999,27.707016,7824100,0.000000
1,2014-09-03,35.060001,35.119999,34.459999,34.470001,27.444279,11626400,-0.009483
2,2014-09-04,34.490002,34.919998,34.439999,34.630001,27.571671,9566300,0.004642
3,2014-09-05,34.590000,34.610001,34.230000,34.580002,27.531864,13671800,-0.001444
4,2014-09-08,34.029999,34.150002,33.150002,33.240002,26.696589,22120600,-0.030338
...,...,...,...,...,...,...,...,...
1254,2019-08-26,36.490002,36.610001,36.009998,36.250000,35.889774,4838500,0.005269
1255,2019-08-27,36.470001,36.580002,35.849998,35.889999,35.533352,6221600,-0.009931
1256,2019-08-28,35.700001,36.570000,35.580002,36.439999,36.077885,7284600,0.015325
1257,2019-08-29,36.799999,37.020000,36.730000,36.910000,36.543217,5123700,0.012898
1258,2019-08-30,37.250000,37.340000,36.910000,37.090000,36.721428,4599000,0.004877

,Date,Open,High,Low,Close,Adj Close,Volume,SJM
0,2014-09-02,102.610001,103.389999,102.150002,102.660004,90.425713,670300,0.000000
1,2014-09-03,102.739998,103.150002,102.260002,102.389999,90.187889,312000,-0.002630
2,2014-09-04,102.290001,102.739998,101.739998,102.019997,89.861984,277000,-0.003614
3,2014-09-05,101.930000,102.709999,101.500000,102.709999,90.469757,263900,0.006763
4,2014-09-08,102.279999,102.610001,101.830002,101.970001,89.817932,307400,-0.007205
...,...,...,...,...,...,...,...,...
1254,2019-08-26,111.669998,113.269997,111.669998,112.930000,112.930000,1194900,0.015558
1255,2019-08-27,107.000000,107.650002,101.750000,103.690002,103.690002,5696800,-0.081821
1256,2019-08-28,102.779999,105.860001,102.589996,104.370003,104.370003,1772500,0.006558
1257,2019-08-29,105.230003,105.650002,102.379997,102.830002,102.830002,1359000,-0.014755
1258,2019-08-30,103.980003,105.949997,103.779999,105.160004,105.160004,1209000,0.022659

,Date,Open,High,Low,Close,Adj Close,Volume,DEO
0,2014-09-02,120.279999,120.279999,119.550003,119.910004,103.331268,699800,0.000000
1,2014-09-03,121.459999,121.459999,120.360001,120.529999,103.865547,698600,0.005171
2,2014-09-04,121.500000,121.790001,121.089996,121.500000,104.701424,844700,0.008048
3,2014-09-05,120.430000,120.989998,120.389999,120.949997,104.227478,334800,-0.004527
4,2014-09-08,119.279999,119.610001,119.040001,119.419998,102.909019,706700,-0.012650
...,...,...,...,...,...,...,...,...
1254,2019-08-26,166.339996,167.360001,165.740005,166.990005,166.990005,203100,0.003727
1255,2019-08-27,168.130005,169.160004,167.690002,168.759995,168.759995,291600,0.010599
1256,2019-08-28,168.270004,169.149994,167.500000,169.029999,169.029999,272300,0.001600
1257,2019-08-29,170.000000,170.639999,169.649994,170.520004,170.520004,211000,0.008815
1258,2019-08-30,171.990005,172.039993,170.289993,171.279999,171.279999,194700,0.004457

,Date,Open,High,Low,Close,Adj Close,Volume,EXPE
0,2014-09-02,86.430000,88.339996,86.150002,88.290001,84.334930,1776800,0.000000
1,2014-09-03,88.379997,89.260002,88.050003,88.400002,84.439987,1586000,0.001246
2,2014-09-04,88.419998,89.120003,87.440002,87.940002,84.000626,1735800,-0.005203
3,2014-09-05,88.000000,88.080002,87.209999,87.860001,83.924187,1157200,-0.000910
4,2014-09-08,87.680000,88.019997,87.269997,87.760002,83.828659,1187200,-0.001138
...,...,...,...,...,...,...,...,...
1254,2019-08-26,128.649994,128.660004,127.440002,128.500000,128.500000,1040100,0.007685
1255,2019-08-27,128.910004,129.690002,127.459999,128.460007,128.460007,1358700,-0.000311
1256,2019-08-28,127.570000,129.910004,127.040001,129.380005,129.380005,993600,0.007162
1257,2019-08-29,130.690002,131.740005,129.660004,130.009995,130.009995,1346300,0.004869
1258,2019-08-30,130.830002,131.369995,129.539993,130.100006,130.100006,760800,0.000692

,Date,Open,High,Low,Close,Adj Close,Volume,KO
0,2014-09-02,41.520000,41.840000,41.310001,41.639999,35.398212,9798100,0.000000
1,2014-09-03,41.689999,41.849998,41.660000,41.779999,35.517223,8635400,0.003362
2,2014-09-04,41.799999,42.169998,41.730000,41.869999,35.593727,16785300,0.002154
3,2014-09-05,41.860001,41.860001,41.610001,41.840000,35.568222,12768100,-0.000717
4,2014-09-08,41.669998,41.939999,41.630001,41.779999,35.517223,9097700,-0.001434
...,...,...,...,...,...,...,...,...
1254,2019-08-26,54.000000,54.540001,53.730000,54.540001,54.540001,9226900,0.014886
1255,2019-08-27,54.700001,54.950001,54.410000,54.720001,54.720001,13537000,0.003300
1256,2019-08-28,54.660000,55.150002,54.419998,55.110001,55.110001,10046400,0.007127
1257,2019-08-29,55.259998,55.340000,54.599998,55.049999,55.049999,9262800,-0.001089
1258,2019-08-30,55.160000,55.220001,54.810001,55.040001,55.040001,8746700,-0.000182

,Date,Open,High,Low,Close,Adj Close,Volume,NEE
0,2014-09-02,98.290001,98.519997,96.839996,97.230003,83.258041,1873700,0.000000
1,2014-09-03,97.419998,98.070000,97.250000,97.599998,83.574875,1423700,0.003805
2,2014-09-04,97.519997,97.849998,96.769997,97.230003,83.258041,2101500,-0.003791
3,2014-09-05,97.250000,97.919998,97.080002,97.919998,83.848892,1561200,0.007097
4,2014-09-08,97.900002,98.000000,96.989998,97.239998,83.266609,1051000,-0.006944
...,...,...,...,...,...,...,...,...
1254,2019-08-26,222.500000,223.690002,221.589996,223.619995,222.372162,1863800,0.007751
1255,2019-08-27,224.229996,225.570007,223.899994,224.009995,222.759995,2385300,0.001744
1256,2019-08-28,223.139999,223.979996,220.169998,221.190002,221.190002,2839200,-0.007048
1257,2019-08-29,222.520004,222.520004,219.210007,221.119995,221.119995,2128000,-0.000317
1258,2019-08-30,221.809998,221.960007,218.850006,219.080002,219.080002,2946700,-0.009226

,Date,Open,High,Low,Close,Adj Close,Volume,MSFT
0,2014-09-02,45.430000,45.459999,44.849998,45.090000,40.363098,22976800,0.000000
1,2014-09-03,44.529999,45.110001,44.529999,44.959999,40.246719,33684500,-0.002883
2,2014-09-04,44.740002,45.270000,44.720001,45.259998,40.515274,26475500,0.006673
3,2014-09-05,45.110001,45.930000,45.110001,45.910000,41.097130,36939400,0.014361
4,2014-09-08,46.020000,46.799999,45.990002,46.470001,41.598427,45736700,0.012198
...,...,...,...,...,...,...,...,...
1254,2019-08-26,134.990005,135.559998,133.899994,135.449997,135.449997,20312600,0.015443
1255,2019-08-27,136.389999,136.720001,134.660004,135.740005,135.740005,23102100,0.002141
1256,2019-08-28,134.880005,135.759995,133.550003,135.559998,135.559998,17393300,-0.001326
1257,2019-08-29,137.250000,138.440002,136.910004,138.119995,138.119995,20168700,0.018885
1258,2019-08-30,139.149994,139.179993,136.270004,137.860001,137.860001,23940100,-0.001882

,Date,Open,High,Low,Close,Adj Close,Volume,ALGT
0,2014-09-02,123.400002,127.129997,122.839996,126.879997,114.902229,142500,0.000000
1,2014-09-03,126.709999,126.709999,123.739998,126.190002,114.277367,91300,-0.005438
2,2014-09-04,126.809998,128.270004,124.889999,125.309998,113.480438,81700,-0.006974
3,2014-09-05,124.849998,126.580002,123.459999,126.040001,114.141533,53800,0.005826
4,2014-09-08,126.339996,126.839996,125.500000,126.589996,114.639587,73500,0.004363
...,...,...,...,...,...,...,...,...
1254,2019-08-26,141.429993,141.449997,139.470001,140.419998,140.419998,293500,-0.001990
1255,2019-08-27,141.500000,142.529999,138.300003,138.820007,138.820007,114000,-0.011394
1256,2019-08-28,138.460007,141.750000,136.869995,139.740005,139.740005,398800,0.006627
1257,2019-08-29,140.880005,141.589996,139.139999,141.500000,141.500000,191900,0.012595
1258,2019-08-30,142.039993,143.419998,141.100006,141.990005,141.990005,137900,0.003463

,Date,Open,High,Low,Close,Adj Close,Volume,FL
0,2014-09-02,56.290001,57.500000,56.150002,57.250000,51.279915,2465400,0.000000
1,2014-09-03,57.660000,57.900002,56.820000,57.119999,51.163475,2766300,-0.002271
2,2014-09-04,57.250000,57.950001,57.090000,57.330002,51.351574,1472800,0.003676
3,2014-09-05,57.060001,57.270000,56.369999,57.189999,51.226177,1524600,-0.002442
4,2014-09-08,57.250000,57.540001,56.869999,57.200001,51.235138,1851600,0.000175
...,...,...,...,...,...,...,...,...
1254,2019-08-26,33.860001,35.709999,33.119999,35.689999,35.689999,8357800,0.049706
1255,2019-08-27,36.000000,36.000000,35.130001,35.320000,35.320000,3592300,-0.010367
1256,2019-08-28,35.090000,35.950001,34.750000,35.730000,35.730000,3065900,0.011608
1257,2019-08-29,36.139999,36.459999,35.759998,35.840000,35.840000,4282800,0.003079
1258,2019-08-30,36.090000,36.990002,35.970001,36.189999,36.189999,3663500,0.009766

,Date,Open,High,Low,Close,Adj Close,Volume,CMG
0,2014-09-02,678.849976,683.500000,675.250000,682.900024,682.900024,232700,0.000000
1,2014-09-03,684.500000,692.900024,678.799988,680.099976,680.099976,306900,-0.004100
2,2014-09-04,681.000000,685.440002,677.239990,680.539978,680.539978,270600,0.000647
3,2014-09-05,679.809998,683.140015,676.349976,677.950012,677.950012,240000,-0.003806
4,2014-09-08,677.900024,679.770020,674.450012,678.369995,678.369995,205600,0.000619
...,...,...,...,...,...,...,...,...
1254,2019-08-26,812.770020,827.429993,812.770020,826.799988,826.799988,391000,0.026520
1255,2019-08-27,833.679993,847.489990,833.179993,842.109985,842.109985,490700,0.018517
1256,2019-08-28,839.890015,841.000000,833.000000,839.340027,839.340027,233200,-0.003289
1257,2019-08-29,845.000000,847.950012,836.799988,843.640015,843.640015,248100,0.005123
1258,2019-08-30,847.359985,848.840027,833.780029,838.419983,838.419983,288600,-0.006188

,Date,Open,High,Low,Close,Adj Close,Volume,AMAT
0,2014-09-02,22.889999,23.000000,22.690001,22.930000,21.079887,11956900,0.000000
1,2014-09-03,23.000000,23.059999,22.840000,22.900000,21.052311,12940800,-0.001308
2,2014-09-04,22.950001,22.950001,22.540001,22.540001,20.721355,12291800,-0.015721
3,2014-09-05,22.600000,22.780001,22.420000,22.760000,20.923603,10448000,0.009760
4,2014-09-08,22.760000,22.820000,22.549999,22.670000,20.840870,10070800,-0.003954
...,...,...,...,...,...,...,...,...
1254,2019-08-26,46.000000,46.169998,45.439999,45.610001,45.610001,5715200,0.010860
1255,2019-08-27,46.000000,46.240002,45.110001,45.509998,45.509998,5926900,-0.002193
1256,2019-08-28,45.400002,46.040001,45.049999,45.900002,45.900002,4811500,0.008570
1257,2019-08-29,46.660000,47.419998,46.630001,47.310001,47.310001,6786700,0.030719
1258,2019-08-30,47.549999,48.090000,47.389999,48.020000,48.020000,7819300,0.015007

,Date,Open,High,Low,Close,Adj Close,Volume,BMRN
0,2014-09-02,71.449997,71.449997,69.180000,70.389999,70.389999,792100,0.000000
1,2014-09-03,70.430000,71.330002,70.059998,70.489998,70.489998,755500,0.001421
2,2014-09-04,70.470001,70.889999,68.260002,68.320000,68.320000,1079100,-0.030784
3,2014-09-05,68.750000,69.000000,66.339996,67.300003,67.300003,1264300,-0.014930
4,2014-09-08,66.910004,69.699997,66.910004,69.190002,69.190002,1594800,0.028083
...,...,...,...,...,...,...,...,...
1254,2019-08-26,76.519997,77.000000,75.150002,75.570000,75.570000,866200,-0.002508
1255,2019-08-27,76.059998,76.519997,74.029999,74.680000,74.680000,1039900,-0.011777
1256,2019-08-28,74.290001,74.989998,73.459999,73.690002,73.690002,688300,-0.013257
1257,2019-08-29,74.379997,75.309998,73.940002,74.610001,74.610001,895200,0.012485
1258,2019-08-30,74.750000,75.230003,74.580002,75.059998,75.059998,527900,0.006031

,Date,Open,High,Low,Close,Adj Close,Volume,EVRG
0,2014-09-02,36.880001,37.070000,36.439999,36.630001,30.859589,1111300,0.000000
1,2014-09-03,36.669998,36.919998,36.650002,36.790001,30.994390,927400,0.004368
2,2014-09-04,36.820000,36.869999,36.560001,36.709999,30.926985,831300,-0.002175
3,2014-09-05,36.389999,36.549999,36.180000,36.529999,31.071587,1421900,0.004676
4,2014-09-08,36.599998,36.660000,36.220001,36.389999,30.952507,1378500,-0.003832
...,...,...,...,...,...,...,...,...
1254,2019-08-26,64.480003,65.230003,64.440002,65.180000,64.702873,1296200,0.010699
1255,2019-08-27,65.550003,66.000000,65.250000,65.290001,64.812073,1818600,0.001688
1256,2019-08-28,65.199997,65.570000,64.669998,64.889999,64.415001,2843400,-0.006127
1257,2019-08-29,64.489998,64.809998,64.139999,64.769997,64.769997,1126800,0.005511
1258,2019-08-30,64.970001,65.309998,64.860001,65.000000,65.000000,1817800,0.003551

,Date,Open,High,Low,Close,Adj Close,Volume,SPG
0,2014-09-02,170.619995,170.740005,169.630005,170.119995,139.231918,940800,0.000000
1,2014-09-03,170.529999,172.210007,169.679993,170.789993,139.780258,829900,0.003938
2,2014-09-04,170.759995,172.070007,169.860001,170.300003,139.379272,1066000,-0.002869
3,2014-09-05,170.809998,173.309998,170.589996,173.179993,141.736282,1410000,0.016911
4,2014-09-08,172.860001,173.229996,172.119995,172.389999,141.089752,877600,-0.004561
...,...,...,...,...,...,...,...,...
1254,2019-08-26,147.000000,147.600006,146.070007,146.979996,146.979996,1022300,0.006505
1255,2019-08-27,147.979996,148.199997,145.419998,145.470001,145.470001,1855300,-0.010273
1256,2019-08-28,145.600006,146.779999,145.449997,146.539993,146.539993,1220800,0.007355
1257,2019-08-29,147.000000,148.740005,146.520004,148.220001,148.220001,1280500,0.011465
1258,2019-08-30,148.880005,149.619995,148.059998,148.940002,148.940002,1420500,0.004858

,Date,Open,High,Low,Close,Adj Close,Volume,NVDA
0,2014-09-02,19.500000,19.500000,19.320000,19.500000,18.733986,4815900,0.000000
1,2014-09-03,19.600000,19.750000,19.469999,19.680000,18.906912,6486400,0.009231
2,2014-09-04,19.650000,20.150000,19.639999,20.030001,19.243170,12295800,0.017785
3,2014-09-05,20.010000,20.100000,19.840000,19.969999,19.185526,6344800,-0.002996
4,2014-09-08,19.950001,19.990000,19.709999,19.790001,19.012594,7982200,-0.009014
...,...,...,...,...,...,...,...,...
1254,2019-08-26,165.610001,166.580002,163.910004,165.449997,165.286377,7955200,0.018530
1255,2019-08-27,166.990005,167.100006,160.619995,161.800003,161.639999,7274200,-0.022061
1256,2019-08-28,160.580002,163.339996,159.000000,161.220001,161.220001,6390300,-0.002598
1257,2019-08-29,164.899994,168.300003,164.759995,167.000000,167.000000,8949400,0.035852
1258,2019-08-30,168.860001,170.860001,166.779999,167.509995,167.509995,7265400,0.003054

,Date,Open,High,Low,Close,Adj Close,Volume,BFC
0,2014-09-02,20.799999,20.799999,20.799999,20.799999,19.020342,2300,0.000000
1,2014-09-03,20.850000,20.850000,20.850000,20.850000,19.066069,100,0.002404
2,2014-09-04,20.799999,21.100000,20.799999,20.799999,19.020342,11800,-0.002398
3,2014-09-05,20.799999,20.799999,20.799999,20.799999,19.020342,0,0.000000
4,2014-09-08,21.100000,21.100000,21.100000,21.100000,19.294676,600,0.014423
...,...,...,...,...,...,...,...,...
1254,2019-08-26,55.560001,57.099998,54.810001,55.990002,55.990002,4700,0.019483
1255,2019-08-27,55.650002,56.250000,55.009998,55.200001,55.200001,9200,-0.014110
1256,2019-08-28,55.180000,55.889999,55.029999,55.369999,55.369999,7300,0.003080
1257,2019-08-29,55.910000,56.630001,54.990002,55.230000,55.230000,10300,-0.002528
1258,2019-08-30,55.410000,55.490002,54.369999,54.430000,54.430000,9500,-0.014485

,Date,Open,High,Low,Close,Adj Close,Volume,BBBY
0,2014-09-02,64.360001,64.620003,63.910000,64.160004,57.544987,2155500,0.000000
1,2014-09-03,64.389999,64.730003,63.900002,64.419998,57.778168,1562500,0.004052
2,2014-09-04,64.260002,65.139999,64.239998,65.059998,58.352188,2130600,0.009935
3,2014-09-05,64.839996,65.580002,64.419998,65.510002,58.755798,1523000,0.006917
4,2014-09-08,65.320000,65.500000,64.540001,64.820000,58.136940,2073600,-0.010533
...,...,...,...,...,...,...,...,...
1254,2019-08-26,8.490000,8.590000,8.110000,8.340000,8.210165,4904900,-0.001198
1255,2019-08-27,8.410000,8.420000,8.050000,8.100000,7.973901,3918000,-0.028777
1256,2019-08-28,8.050000,8.680000,8.050000,8.540000,8.407051,6470300,0.054321
1257,2019-08-29,8.630000,9.740000,8.630000,9.480000,9.332417,17652500,0.110070
1258,2019-08-30,9.640000,9.730000,9.350000,9.670000,9.519460,7763500,0.020042

,Date,Open,High,Low,Close,Adj Close,Volume,HSIC
0,2014-09-02,46.933334,47.125492,46.733334,46.980392,46.980392,1350900,0.000000
1,2014-09-03,47.019608,47.074509,46.764706,46.878433,46.878433,597200,-0.002170
2,2014-09-04,47.450981,47.450981,46.419609,46.556862,46.556862,921300,-0.006860
3,2014-09-05,46.690197,46.949020,46.321568,46.745098,46.745098,648700,0.004043
4,2014-09-08,46.564705,46.854900,46.556862,46.811764,46.811764,840700,0.001426
...,...,...,...,...,...,...,...,...
1254,2019-08-26,59.750000,60.720001,59.720001,60.709999,60.709999,849500,0.021023
1255,2019-08-27,60.799999,61.259998,60.060001,60.459999,60.459999,1277100,-0.004118
1256,2019-08-28,60.400002,60.880001,60.150002,60.500000,60.500000,1209900,0.000662
1257,2019-08-29,61.020000,61.500000,60.660000,61.349998,61.349998,1003300,0.014050
1258,2019-08-30,61.509998,61.930000,61.200001,61.619999,61.619999,1104700,0.004401

,Date,Open,High,Low,Close,Adj Close,Volume,HE
0,2014-09-02,25.500000,25.639999,25.100000,25.440001,21.082642,1353600,0.000000
1,2014-09-03,25.530001,25.530001,25.270000,25.330000,20.991484,753000,-0.004324
2,2014-09-04,25.280001,25.370001,25.120001,25.309999,20.974907,646400,-0.000790
3,2014-09-05,25.420000,25.799999,25.320000,25.750000,21.339548,789100,0.017385
4,2014-09-08,25.680000,25.740000,25.540001,25.670000,21.273249,747800,-0.003107
...,...,...,...,...,...,...,...,...
1254,2019-08-26,44.029999,44.410000,43.919998,44.380001,44.380001,224600,0.010934
1255,2019-08-27,44.500000,44.669998,44.020000,44.049999,44.049999,244700,-0.007436
1256,2019-08-28,44.060001,44.220001,43.840000,43.849998,43.849998,295000,-0.004540
1257,2019-08-29,44.049999,44.290001,43.790001,44.270000,44.270000,247700,0.009578
1258,2019-08-30,44.490002,44.549999,44.150002,44.400002,44.400002,274500,0.002937

,Date,Open,High,Low,Close,Adj Close,Volume,CMCSA
0,2014-09-02,27.355000,27.485001,27.174999,27.389999,25.005247,19070200,0.000000
1,2014-09-03,27.370001,27.525000,27.309999,27.434999,25.046333,17900200,0.001643
2,2014-09-04,27.620001,27.695000,27.415001,27.440001,25.050898,26368800,0.000182
3,2014-09-05,27.500000,27.895000,27.434999,27.850000,25.425198,28405400,0.014942
4,2014-09-08,27.754999,28.000000,27.709999,27.940001,25.507364,23610800,0.003232
...,...,...,...,...,...,...,...,...
1254,2019-08-26,42.740002,43.509998,42.549999,43.349998,43.349998,13009600,0.021683
1255,2019-08-27,43.900002,43.919998,43.419998,43.599998,43.599998,12508000,0.005767
1256,2019-08-28,43.400002,43.900002,43.209999,43.770000,43.770000,11761100,0.003899
1257,2019-08-29,44.150002,44.500000,43.950001,44.169998,44.169998,11339500,0.009139
1258,2019-08-30,44.490002,44.650002,44.029999,44.259998,44.259998,15484500,0.002038

,Date,Open,High,Low,Close,Adj Close,Volume,NKE
0,2014-09-02,39.174999,39.759998,39.174999,39.639999,36.813889,8164200,0.000000
1,2014-09-03,39.895000,39.939999,39.270000,39.410000,36.600285,4409600,-0.005802
2,2014-09-04,39.599998,40.110001,39.590000,39.959999,37.111080,6022800,0.013956
3,2014-09-05,39.770000,41.055000,39.674999,41.020000,38.095501,12380600,0.026526
4,2014-09-08,40.959999,41.395000,40.544998,41.200001,38.262669,11728200,0.004388
...,...,...,...,...,...,...,...,...
1254,2019-08-26,81.440002,82.279999,80.739998,82.250000,82.038063,4336000,0.022501
1255,2019-08-27,82.629997,83.180000,82.000000,82.029999,81.818634,3842500,-0.002675
1256,2019-08-28,81.900002,83.589996,81.720001,83.480003,83.264900,4123700,0.017676
1257,2019-08-29,84.220001,85.769997,84.169998,85.379997,85.159996,5101900,0.022760
1258,2019-08-30,85.699997,85.989998,84.410004,84.500000,84.500000,5235400,-0.007750

,Date,Open,High,Low,Close,Adj Close,Volume,CLDR
0,2017-04-28,17.799999,19.330000,17.730000,18.100000,18.100000,14871500,0.000000
1,2017-05-01,18.969999,19.090000,18.160000,18.190001,18.190001,1728700,0.004972
2,2017-05-02,18.370001,18.490000,18.100000,18.389999,18.389999,720200,0.010995
3,2017-05-03,18.309999,20.120001,18.209999,20.120001,20.120001,1520100,0.094073
4,2017-05-04,21.100000,22.020000,19.250000,19.580000,19.580000,3256400,-0.026839
...,...,...,...,...,...,...,...,...
585,2019-08-26,6.780000,6.880000,6.700000,6.870000,6.870000,4160500,0.029985
586,2019-08-27,6.900000,7.009000,6.680000,6.800000,6.800000,5012100,-0.010189
587,2019-08-28,6.780000,6.930000,6.700000,6.760000,6.760000,4065000,-0.005882
588,2019-08-29,6.800000,7.060000,6.800000,7.020000,7.020000,5940900,0.038462
589,2019-08-30,7.070000,7.220000,7.005000,7.140000,7.140000,5967700,0.017094

,Date,Open,High,Low,Close,Adj Close,Volume,CELG
0,2014-09-02,95.500000,96.440002,94.699997,95.089996,95.089996,3485300,0.000000
1,2014-09-03,95.889999,95.889999,94.500000,94.940002,94.940002,2615800,-0.001577
2,2014-09-04,95.230003,95.389999,93.699997,93.930000,93.930000,3321800,-0.010638
3,2014-09-05,94.480003,94.480003,91.750000,93.790001,93.790001,4116600,-0.001490
4,2014-09-08,93.550003,94.260002,92.750000,94.029999,94.029999,3258700,0.002559
...,...,...,...,...,...,...,...,...
1254,2019-08-26,97.300003,98.099998,96.430000,97.000000,97.000000,7787800,0.032025
1255,2019-08-27,97.000000,97.330002,96.599998,96.699997,96.699997,3941600,-0.003093
1256,2019-08-28,96.459999,97.500000,96.139999,97.489998,97.489998,2612700,0.008170
1257,2019-08-29,98.000000,98.000000,96.650002,97.110001,97.110001,2215100,-0.003898
1258,2019-08-30,97.440002,97.500000,96.559998,96.800003,96.800003,2658700,-0.003192

,Date,Open,High,Low,Close,Adj Close,Volume,FB
0,2014-09-02,75.010002,76.699997,74.820000,76.680000,76.680000,34979000,0.000000
1,2014-09-03,77.139999,77.480003,75.599998,75.830002,75.830002,32389000,-0.011085
2,2014-09-04,75.889999,76.930000,75.529999,75.949997,75.949997,26676000,0.001582
3,2014-09-05,76.099998,77.379997,75.599998,77.260002,77.260002,29476000,0.017248
4,2014-09-08,77.260002,78.169998,77.010002,77.889999,77.889999,28183000,0.008154
...,...,...,...,...,...,...,...,...
1254,2019-08-26,179.399994,180.500000,178.240005,180.360001,180.360001,8773600,0.014684
1255,2019-08-27,181.929993,184.039993,181.009995,181.300003,181.300003,14399600,0.005212
1256,2019-08-28,180.529999,181.949997,178.919998,181.759995,181.759995,9386100,0.002537
1257,2019-08-29,183.770004,186.080002,183.470001,185.570007,185.570007,10128700,0.020962
1258,2019-08-30,186.779999,186.800003,183.460007,185.669998,185.669998,10774500,0.000539

,Date,Open,High,Low,Close,Adj Close,Volume,KR
0,2014-09-02,25.514999,25.799999,25.485001,25.665001,23.646732,4784200,0.000000
1,2014-09-03,25.809999,25.860001,25.725000,25.799999,23.771114,4223400,0.005260
2,2014-09-04,25.795000,26.120001,25.780001,25.924999,23.886284,4174800,0.004845
3,2014-09-05,25.915001,26.215000,25.879999,26.205000,24.144268,4309000,0.010801
4,2014-09-08,26.165001,26.360001,25.969999,26.084999,24.033703,5032800,-0.004579
...,...,...,...,...,...,...,...,...
1254,2019-08-26,23.420000,23.930000,23.410000,23.920000,23.920000,5626600,0.027050
1255,2019-08-27,24.000000,24.090000,23.100000,23.120001,23.120001,10237200,-0.033445
1256,2019-08-28,23.129999,23.620001,23.020000,23.510000,23.510000,7035800,0.016868
1257,2019-08-29,23.740000,23.980000,23.590000,23.670000,23.670000,5470700,0.006806
1258,2019-08-30,23.709999,23.950001,23.590000,23.680000,23.680000,6170500,0.000422

,Date,Open,High,Low,Close,Adj Close,Volume,IBM
0,2014-09-02,192.679993,192.970001,190.929993,191.559998,155.124268,2679700,0.000000
1,2014-09-03,192.389999,192.949997,191.860001,191.949997,155.440063,1822800,0.002036
2,2014-09-04,191.690002,192.690002,190.059998,190.679993,154.411606,2865000,-0.006616
3,2014-09-05,190.529999,191.750000,190.089996,191.199997,154.832687,2260200,0.002727
4,2014-09-08,190.750000,191.199997,189.509995,190.139999,153.974335,2524200,-0.005544
...,...,...,...,...,...,...,...,...
1254,2019-08-26,131.050003,131.300003,129.160004,129.990005,129.990005,2833900,0.003241
1255,2019-08-27,131.199997,131.699997,130.309998,131.169998,131.169998,4728000,0.009078
1256,2019-08-28,130.440002,132.889999,130.039993,132.759995,132.759995,2713600,0.012122
1257,2019-08-29,134.179993,135.690002,134.039993,134.880005,134.880005,2971800,0.015969
1258,2019-08-30,135.580002,136.070007,134.360001,135.529999,135.529999,2960600,0.004819

,Date,Open,High,Low,Close,Adj Close,Volume,COLM
0,2014-09-02,38.189999,38.389999,37.930000,38.264999,36.144207,115400,0.000000
1,2014-09-03,38.395000,38.540001,38.035000,38.070000,35.960007,75600,-0.005096
2,2014-09-04,38.090000,38.605000,38.090000,38.435001,36.304783,102400,0.009588
3,2014-09-05,38.189999,38.599998,38.000000,38.555000,36.418133,130400,0.003122
4,2014-09-08,38.400002,38.794998,38.400002,38.735001,36.588154,87800,0.004669
...,...,...,...,...,...,...,...,...
1254,2019-08-26,94.050003,94.760002,92.669998,94.239998,94.239998,212600,0.012354
1255,2019-08-27,94.750000,94.970001,93.540001,94.080002,94.080002,208900,-0.001698
1256,2019-08-28,93.510002,94.720001,93.400002,93.620003,93.620003,225100,-0.004889
1257,2019-08-29,94.540001,95.870003,94.330002,94.930000,94.930000,129300,0.013993
1258,2019-08-30,95.239998,95.449997,93.459999,93.790001,93.790001,259600,-0.012009

,Date,Open,High,Low,Close,Adj Close,Volume,KMB
0,2014-09-02,103.710449,104.084373,103.106422,103.547462,87.545418,1886500,0.000000
1,2014-09-03,103.269417,103.489929,103.039307,103.116013,87.893654,1344600,0.003978
2,2014-09-04,103.211891,103.921379,102.905083,103.106422,87.885468,1447300,-0.000093
3,2014-09-05,103.202301,103.441994,102.866730,103.068069,87.852791,1801800,-0.000372
4,2014-09-08,102.780441,103.259827,102.348991,102.569511,87.427811,1245900,-0.004837
...,...,...,...,...,...,...,...,...
1254,2019-08-26,139.389999,140.820007,138.910004,140.250000,139.237549,1111500,0.013294
1255,2019-08-27,141.179993,141.580002,140.339996,141.139999,140.121109,1346500,0.006346
1256,2019-08-28,141.179993,142.169998,140.600006,141.949997,140.925262,860400,0.005739
1257,2019-08-29,142.789993,142.990005,140.429993,141.839996,140.816055,1057800,-0.000775
1258,2019-08-30,142.539993,142.570007,140.580002,141.110001,140.091339,1316700,-0.005147

,Date,Open,High,Low,Close,Adj Close,Volume,GS
0,2014-09-02,179.259995,180.220001,178.380005,179.770004,167.164047,1986300,0.000000
1,2014-09-03,180.479996,182.070007,179.429993,179.600006,167.005951,2397700,-0.000946
2,2014-09-04,179.929993,181.600006,179.550003,180.080002,167.452301,1678500,0.002673
3,2014-09-05,179.580002,179.910004,177.880005,179.750000,167.145477,2562800,-0.001832
4,2014-09-08,179.580002,180.919998,179.220001,180.110001,167.480194,1746400,0.002003
...,...,...,...,...,...,...,...,...
1254,2019-08-26,198.270004,199.710007,198.000000,199.649994,198.404800,1441900,0.017584
1255,2019-08-27,200.330002,200.860001,196.500000,198.070007,196.834656,1513300,-0.007914
1256,2019-08-28,196.570007,201.470001,196.250000,200.419998,199.169998,1437800,0.011864
1257,2019-08-29,201.360001,204.369995,201.360001,203.440002,203.440002,1816800,0.021439
1258,2019-08-30,204.850006,205.210007,203.009995,203.910004,203.910004,1529600,0.002310

,Date,Open,High,Low,Close,Adj Close,Volume,CLX
0,2014-09-02,88.650002,89.070000,88.230003,88.660004,77.740883,770300,0.000000
1,2014-09-03,88.660004,89.190002,88.629997,88.739998,77.811028,682000,0.000902
2,2014-09-04,88.739998,89.400002,88.650002,88.809998,77.872398,994200,0.000789
3,2014-09-05,88.970001,89.809998,88.610001,89.809998,78.749252,866600,0.011260
4,2014-09-08,89.430000,89.779999,89.089996,89.290001,78.293289,631100,-0.005790
...,...,...,...,...,...,...,...,...
1254,2019-08-26,156.539993,157.639999,156.029999,156.960007,156.960007,669800,0.006606
1255,2019-08-27,157.830002,159.440002,157.500000,158.649994,158.649994,689300,0.010767
1256,2019-08-28,158.830002,160.190002,158.419998,159.979996,159.979996,557100,0.008383
1257,2019-08-29,160.559998,160.559998,157.649994,159.250000,159.250000,785300,-0.004563
1258,2019-08-30,159.199997,160.460007,157.580002,158.160004,158.160004,1096900,-0.006845

,Date,Open,High,Low,Close,Adj Close,Volume,GE
0,2014-09-02,24.894230,25.028847,24.778847,24.855770,21.029394,25353800,0.000000
1,2014-09-03,24.980770,25.000000,24.826923,24.951923,21.110748,20760600,0.003869
2,2014-09-04,24.990385,25.125000,24.894230,24.961538,21.118879,27967400,0.000385
3,2014-09-05,24.903847,25.096153,24.807692,25.096153,21.232771,21883200,0.005393
4,2014-09-08,25.134615,25.259615,25.057692,25.076923,21.216505,21194800,-0.000766
...,...,...,...,...,...,...,...,...
1254,2019-08-26,8.060000,8.100000,7.920000,8.050000,8.050000,57987200,0.010038
1255,2019-08-27,8.090000,8.110000,7.910000,7.930000,7.930000,66069600,-0.014907
1256,2019-08-28,7.920000,7.990000,7.760000,7.940000,7.940000,57698300,0.001261
1257,2019-08-29,8.040000,8.200000,8.000000,8.110000,8.110000,58741000,0.021411
1258,2019-08-30,8.140000,8.260000,8.110000,8.250000,8.250000,47323600,0.017263

,Date,Open,High,Low,Close,Adj Close,Volume,CVS
0,2014-09-02,79.470001,79.790001,79.220001,79.730003,71.092812,2565800,0.000000
1,2014-09-03,79.889999,80.620003,79.669998,80.360001,71.654556,3512200,0.007902
2,2014-09-04,80.430000,81.160004,80.019997,80.309998,71.609978,4924000,-0.000622
3,2014-09-05,80.470001,81.650002,80.110001,81.639999,72.795876,3567400,0.016561
4,2014-09-08,81.720001,82.120003,81.150002,81.400002,72.581894,3357600,-0.002939
...,...,...,...,...,...,...,...,...
1254,2019-08-26,60.799999,60.990002,60.279999,60.759998,60.759998,4849400,0.008632
1255,2019-08-27,61.209999,61.310001,59.119999,59.189999,59.189999,7700600,-0.025839
1256,2019-08-28,59.060001,59.580002,58.619999,59.480000,59.480000,7817200,0.004899
1257,2019-08-29,60.119999,60.599998,59.849998,60.150002,60.150002,6784000,0.011264
1258,2019-08-30,60.669998,61.150002,60.259998,60.919998,60.919998,6310300,0.012801

,Date,Open,High,Low,Close,Adj Close,Volume,JPM
0,2014-09-02,59.459999,59.709999,59.150002,59.669998,52.070126,8671100,0.000000
1,2014-09-03,60.020000,60.369999,59.459999,59.700001,52.096306,11791800,0.000503
2,2014-09-04,59.630001,60.139999,59.430000,59.709999,52.105030,9811900,0.000167
3,2014-09-05,59.619999,59.910000,59.220001,59.910000,52.279552,9600900,0.003349
4,2014-09-08,59.840000,60.220001,59.740002,59.889999,52.262104,8090000,-0.000334
...,...,...,...,...,...,...,...,...
1254,2019-08-26,106.620003,106.989998,106.010002,106.870003,106.870003,8209500,0.008017
1255,2019-08-27,107.349998,107.559998,104.839996,105.739998,105.739998,14331800,-0.010574
1256,2019-08-28,105.080002,107.209999,105.040001,106.800003,106.800003,10585500,0.010025
1257,2019-08-29,108.139999,109.889999,108.019997,109.220001,109.220001,10002200,0.022659
1258,2019-08-30,109.839996,110.559998,109.470001,109.860001,109.860001,10170300,0.005860

,Date,Open,High,Low,Close,Adj Close,Volume,SD
0,2016-10-04,25.000000,25.000000,18.120001,19.50,19.50,61100,0.000000
1,2016-10-05,18.020000,21.500000,15.750000,21.10,21.10,1156300,0.082051
2,2016-10-06,21.000000,22.250000,19.760000,21.52,21.52,574200,0.019905
3,2016-10-07,20.700001,21.750000,20.620001,21.27,21.27,384200,-0.011617
4,2016-10-10,21.000000,22.450001,20.410000,21.57,21.57,667300,0.014104
...,...,...,...,...,...,...,...,...
727,2019-08-26,4.450000,4.500000,4.280000,4.34,4.34,286200,-0.018100
728,2019-08-27,4.400000,4.480000,4.270000,4.35,4.35,358800,0.002304
729,2019-08-28,4.390000,4.590000,4.330000,4.42,4.42,194800,0.016092
730,2019-08-29,4.480000,4.640000,4.470000,4.60,4.60,142600,0.040724
731,2019-08-30,4.600000,4.710000,4.490000,4.68,4.68,219100,0.017391

,Date,Open,High,Low,Close,Adj Close,Volume,JBHT
0,2014-09-02,73.940002,76.370003,73.940002,76.019997,72.352036,1001900,0.000000
1,2014-09-03,76.459999,76.470001,75.750000,76.019997,72.352036,850500,0.000000
2,2014-09-04,76.279999,76.980003,75.830002,76.940002,73.227615,923700,0.012102
3,2014-09-05,76.709999,77.000000,76.550003,76.930000,73.218109,846800,-0.000130
4,2014-09-08,77.050003,77.199997,76.589996,76.739998,73.037262,873800,-0.002470
...,...,...,...,...,...,...,...,...
1254,2019-08-26,99.769997,101.080002,98.650002,100.750000,100.750000,800700,0.016240
1255,2019-08-27,101.400002,102.470001,100.029999,100.660004,100.660004,1247100,-0.000893
1256,2019-08-28,100.220001,104.370003,99.330002,103.970001,103.970001,1069500,0.032883
1257,2019-08-29,105.599998,107.910004,105.269997,106.900002,106.900002,1063300,0.028181
1258,2019-08-30,107.220001,109.000000,107.220001,108.040001,108.040001,1004900,0.010664

,Date,Open,High,Low,Close,Adj Close,Volume,PZZA
0,2014-09-02,39.610001,40.060001,39.500000,39.889999,37.281956,238000,0.000000
1,2014-09-03,39.959999,40.349998,39.709999,39.869999,37.263256,290900,-0.000502
2,2014-09-04,39.919998,40.169998,39.689999,39.860001,37.253902,348500,-0.000251
3,2014-09-05,39.790001,40.250000,39.650002,40.150002,37.524944,243200,0.007276
4,2014-09-08,40.000000,40.450001,39.900002,40.240002,37.609062,330800,0.002242
...,...,...,...,...,...,...,...,...
1254,2019-08-26,43.180000,44.110001,43.139999,43.820000,43.820000,683100,0.017650
1255,2019-08-27,47.049999,48.240002,45.500000,48.000000,48.000000,3484100,0.095390
1256,2019-08-28,49.209999,51.250000,48.380001,50.400002,50.400002,3924400,0.050000
1257,2019-08-29,50.970001,51.240002,49.580002,50.490002,50.490002,1053900,0.001786
1258,2019-08-30,50.639999,50.919998,49.279999,49.759998,49.759998,850700,-0.014458

,Date,Open,High,Low,Close,Adj Close,Volume,GOOGL
0,2014-09-02,582.950012,589.299988,582.400024,588.630005,588.630005,1583000,0.000000
1,2014-09-03,591.729980,594.489990,586.500000,589.520020,589.520020,1579000,0.001512
2,2014-09-04,592.130005,598.000000,590.599976,593.140015,593.140015,1630800,0.006141
3,2014-09-05,595.130005,598.500000,593.549988,597.780029,597.780029,1799100,0.007823
4,2014-09-08,599.140015,603.520020,598.020020,601.630005,601.630005,1599200,0.006440
...,...,...,...,...,...,...,...,...
1254,2019-08-26,1159.449951,1171.859985,1154.849976,1171.180054,1171.180054,1058300,0.015257
1255,2019-08-27,1183.000000,1185.000000,1164.560059,1170.819946,1170.819946,1173000,-0.000307
1256,2019-08-28,1164.869995,1178.500000,1160.250000,1173.750000,1173.750000,840500,0.002503
1257,2019-08-29,1186.420044,1199.189941,1185.280029,1194.239990,1194.239990,981800,0.017457
1258,2019-08-30,1200.349976,1200.349976,1185.719971,1190.530029,1190.530029,903200,-0.003107

,Date,Open,High,Low,Close,Adj Close,Volume,ALK
0,2014-09-02,46.340000,48.250000,46.320000,48.240002,44.339996,1610300,0.000000
1,2014-09-03,48.049999,48.049999,47.110001,47.540001,43.696590,1023100,-0.014511
2,2014-09-04,47.680000,48.209999,47.490002,47.630001,43.779320,1016000,0.001893
3,2014-09-05,47.020000,47.220001,46.330002,47.139999,43.328922,905700,-0.010288
4,2014-09-08,47.270000,47.549999,47.060001,47.330002,43.503559,888400,0.004030
...,...,...,...,...,...,...,...,...
1254,2019-08-26,58.439999,58.849998,57.730000,58.380001,58.380001,1044900,0.007768
1255,2019-08-27,58.779999,58.880001,57.119999,58.009998,58.009998,1455500,-0.006338
1256,2019-08-28,57.790001,59.040001,57.709999,58.740002,58.740002,728400,0.012584
1257,2019-08-29,59.330002,60.169998,59.060001,59.959999,59.959999,788300,0.020769
1258,2019-08-30,60.130001,60.340000,59.369999,59.720001,59.720001,842100,-0.004003

,Date,Open,High,Low,Close,Adj Close,Volume,AAL
0,2014-09-02,39.000000,40.540001,38.889999,40.500000,38.543800,10932800,0.000000
1,2014-09-03,39.730000,39.900002,38.669998,39.139999,37.249485,9995100,-0.033580
2,2014-09-04,39.369999,39.980000,38.360001,38.470001,36.611851,12004000,-0.017118
3,2014-09-05,38.509998,38.709999,37.709999,37.849998,36.021797,12067600,-0.016116
4,2014-09-08,37.959999,38.400002,37.959999,38.230000,36.383446,7345800,0.010040
...,...,...,...,...,...,...,...,...
1254,2019-08-26,25.900000,25.910000,25.030001,25.190001,25.190001,6722600,-0.009048
1255,2019-08-27,25.270000,25.340000,24.320000,24.450001,24.450001,7503700,-0.029377
1256,2019-08-28,24.410000,25.510000,24.230000,25.330000,25.330000,9079100,0.035992
1257,2019-08-29,25.790001,26.610001,25.700001,26.320000,26.320000,7205600,0.039084
1258,2019-08-30,26.400000,26.830000,26.160000,26.309999,26.309999,5076200,-0.000380

,Date,Open,High,Low,Close,Adj Close,Volume,XLNX
0,2014-09-02,42.400002,42.410000,41.840000,42.000000,37.507286,2114800,0.000000
1,2014-09-03,42.439999,43.099998,42.279999,43.049999,38.444973,4723200,0.025000
2,2014-09-04,43.049999,43.389999,43.000000,43.389999,38.748604,5176500,0.007898
3,2014-09-05,43.150002,43.290001,42.689999,43.060001,38.453907,3084100,-0.007605
4,2014-09-08,43.000000,43.169998,42.520000,42.880001,38.293171,3234300,-0.004180
...,...,...,...,...,...,...,...,...
1254,2019-08-26,100.870003,102.400002,98.000000,101.790001,101.790001,3320500,0.008121
1255,2019-08-27,102.550003,103.050003,99.800003,100.220001,100.220001,2746500,-0.015424
1256,2019-08-28,99.959999,100.910004,98.639999,100.830002,100.830002,2249100,0.006087
1257,2019-08-29,102.430000,105.110001,102.430000,103.449997,103.449997,3291700,0.025984
1258,2019-08-30,104.430000,105.190002,103.290001,104.059998,104.059998,1938600,0.005897

,Date,Open,High,Low,Close,Adj Close,Volume,PFE
0,2014-09-02,29.209999,29.410000,29.160000,29.260000,24.461607,20718900,0.000000
1,2014-09-03,29.450001,29.530001,29.230000,29.400000,24.578636,21118100,0.004784
2,2014-09-04,29.530001,29.549999,29.299999,29.370001,24.553558,22374100,-0.001020
3,2014-09-05,29.299999,29.660000,29.209999,29.650000,24.787645,17570100,0.009534
4,2014-09-08,29.580000,29.650000,29.299999,29.400000,24.578636,14627100,-0.008432
...,...,...,...,...,...,...,...,...
1254,2019-08-26,34.619999,34.860001,34.480000,34.840000,34.840000,16573700,0.014560
1255,2019-08-27,35.009998,35.090000,34.310001,34.340000,34.340000,23449100,-0.014351
1256,2019-08-28,34.360001,35.150002,34.279999,35.080002,35.080002,24713400,0.021549
1257,2019-08-29,35.790001,35.790001,35.230000,35.330002,35.330002,18605600,0.007127
1258,2019-08-30,35.619999,35.720001,35.279999,35.549999,35.549999,17906400,0.006227

,Date,Open,High,Low,Close,Adj Close,Volume,CRI
0,2014-09-02,82.919998,83.269997,82.459999,82.860001,76.827316,453000,0.000000
1,2014-09-03,83.080002,83.080002,81.169998,81.480003,75.547783,608800,-0.016655
2,2014-09-04,81.809998,82.580002,81.629997,82.110001,76.131912,429300,0.007732
3,2014-09-05,81.849998,82.300003,81.470001,82.250000,76.261711,308600,0.001705
4,2014-09-08,81.910004,82.199997,80.750000,81.480003,75.547783,324700,-0.009362
...,...,...,...,...,...,...,...,...
1254,2019-08-26,88.629997,88.989998,86.980003,88.889999,88.410965,349000,0.019030
1255,2019-08-27,89.879997,89.879997,86.220001,87.070000,86.600769,695900,-0.020475
1256,2019-08-28,86.769997,90.459999,86.230003,90.199997,89.713898,619800,0.035948
1257,2019-08-29,91.519997,93.550003,91.230003,92.779999,92.279999,571500,0.028603
1258,2019-08-30,92.750000,93.580002,91.129997,91.480003,91.480003,733700,-0.008669

,Date,Open,High,Low,Close,Adj Close,Volume,REGN
0,2014-09-02,367.000000,369.309998,359.230011,359.500000,359.500000,1515800,0.000000
1,2014-09-03,362.299988,364.559998,359.809998,361.899994,361.899994,602300,0.006676
2,2014-09-04,362.959991,362.980011,351.230011,352.079987,352.079987,653000,-0.027135
3,2014-09-05,352.019989,353.559998,343.470001,350.660004,350.660004,834900,-0.004033
4,2014-09-08,349.429993,351.000000,343.179993,348.100006,348.100006,652000,-0.007301
...,...,...,...,...,...,...,...,...
1254,2019-08-26,288.239990,290.369995,283.489990,284.730011,284.730011,527500,-0.007391
1255,2019-08-27,285.869995,291.140015,281.109985,281.410004,281.410004,801500,-0.011660
1256,2019-08-28,280.040009,290.290009,279.390015,287.640015,287.640015,713600,0.022139
1257,2019-08-29,289.790009,292.700012,287.089996,290.570007,290.570007,509300,0.010186
1258,2019-08-30,292.019989,293.459991,287.250000,290.049988,290.049988,604500,-0.001790

,Date,Open,High,Low,Close,Adj Close,Volume,CL
0,2014-09-02,64.440002,64.699997,64.160004,64.419998,57.421986,3045400,0.000000
1,2014-09-03,64.849998,64.889999,64.309998,64.419998,57.421986,3304200,0.000000
2,2014-09-04,64.480003,64.629997,64.080002,64.309998,57.323940,3288600,-0.001707
3,2014-09-05,64.269997,64.879997,64.120003,64.860001,57.814186,3441700,0.008552
4,2014-09-08,64.440002,64.529999,63.630001,63.639999,56.726715,3739100,-0.018810
...,...,...,...,...,...,...,...,...
1254,2019-08-26,72.660004,72.940002,72.209999,72.769997,72.769997,1770300,0.007476
1255,2019-08-27,73.279999,73.730003,73.029999,73.440002,73.440002,2582100,0.009207
1256,2019-08-28,73.500000,74.070000,73.320000,74.000000,74.000000,2050600,0.007625
1257,2019-08-29,74.470001,74.550003,73.379997,74.199997,74.199997,1819700,0.002703
1258,2019-08-30,74.470001,74.510002,73.910004,74.150002,74.150002,2899700,-0.000674

,Date,Open,High,Low,Close,Adj Close,Volume,GPS
0,2014-09-02,46.310001,46.630001,46.240002,46.410000,38.767307,3640800,0.000000
1,2014-09-03,46.369999,46.759998,46.250000,46.320000,38.692135,3016100,-0.001939
2,2014-09-04,46.139999,46.849998,46.139999,46.590000,38.917667,3965400,0.005829
3,2014-09-05,44.000000,44.880001,43.720001,44.650002,37.297146,10536200,-0.041640
4,2014-09-08,43.980000,44.779999,43.950001,44.400002,37.088326,5297000,-0.005599
...,...,...,...,...,...,...,...,...
1254,2019-08-26,17.020000,17.129999,16.290001,16.379999,16.379999,8843000,-0.031915
1255,2019-08-27,16.430000,16.480000,15.570000,15.580000,15.580000,7434700,-0.048840
1256,2019-08-28,15.560000,16.070000,15.470000,15.860000,15.860000,6279800,0.017972
1257,2019-08-29,16.030001,16.270000,15.840000,15.910000,15.910000,6110400,0.003153
1258,2019-08-30,15.970000,16.059999,15.590000,15.790000,15.790000,6468200,-0.007542

,Date,Open,High,Low,Close,Adj Close,Volume,QCOM
0,2014-09-02,75.919998,76.080002,74.750000,75.059998,62.833694,9821500,0.000000
1,2014-09-03,75.470001,75.720001,74.820000,74.889999,62.691414,9791200,-0.002264
2,2014-09-04,75.220001,75.550003,74.620003,75.110001,62.875557,8412100,0.002937
3,2014-09-05,75.000000,75.849998,74.889999,75.809998,63.461548,8471600,0.009320
4,2014-09-08,75.489998,76.239998,75.489998,75.900002,63.536869,6281400,0.001187
...,...,...,...,...,...,...,...,...
1254,2019-08-26,74.900002,75.089996,72.519997,72.910004,72.335693,11153800,-0.008297
1255,2019-08-27,73.680000,74.379997,73.199997,73.970001,73.387337,7303100,0.014538
1256,2019-08-28,73.790001,74.879997,72.910004,74.349998,73.764343,5678500,0.005137
1257,2019-08-29,75.220001,77.029999,75.220001,76.449997,75.847801,7348400,0.028245
1258,2019-08-30,77.180000,78.050003,77.000000,77.769997,77.157402,8465300,0.017266

,Date,Open,High,Low,Close,Adj Close,Volume,LUV
0,2014-09-02,32.080002,32.919998,32.029999,32.910000,31.428007,6136400,0.000000
1,2014-09-03,32.770000,32.770000,32.250000,32.580002,31.112864,6176500,-0.010027
2,2014-09-04,32.740002,33.139999,32.509998,32.619999,31.151060,5551100,0.001228
3,2014-09-05,32.639999,32.919998,32.320000,32.830002,31.351606,3732000,0.006438
4,2014-09-08,33.000000,33.099998,32.770000,32.860001,31.380245,5769400,0.000913
...,...,...,...,...,...,...,...,...
1254,2019-08-26,50.939999,51.160000,50.240002,50.689999,50.689999,3608800,0.002571
1255,2019-08-27,50.970001,51.119999,50.189999,50.490002,50.490002,2519100,-0.003945
1256,2019-08-28,50.240002,51.520000,50.119999,51.160000,51.160000,2614900,0.013270
1257,2019-08-29,51.660000,52.389999,51.610001,52.299999,52.299999,3851800,0.022283
1258,2019-08-30,52.599998,53.189999,52.180000,52.320000,52.320000,3274700,0.000382

,Date,Open,High,Low,Close,Adj Close,Volume,ALXN
0,2014-09-02,169.990005,170.449997,168.419998,169.139999,169.139999,839800,0.000000
1,2014-09-03,170.440002,171.350006,169.240005,169.960007,169.960007,797700,0.004848
2,2014-09-04,170.869995,171.160004,164.789993,165.639999,165.639999,938700,-0.025418
3,2014-09-05,165.929993,165.929993,161.300003,165.300003,165.300003,1075700,-0.002053
4,2014-09-08,164.699997,165.639999,162.889999,164.160004,164.160004,935700,-0.006897
...,...,...,...,...,...,...,...,...
1254,2019-08-26,112.000000,113.379997,109.599998,111.660004,111.660004,4040900,-0.031822
1255,2019-08-27,112.779999,113.500000,109.940002,110.160004,110.160004,1790600,-0.013434
1256,2019-08-28,109.529999,113.290001,109.529999,111.269997,111.269997,1561300,0.010076
1257,2019-08-29,112.989998,114.209999,110.860001,112.169998,112.169998,1599800,0.008088
1258,2019-08-30,103.000000,104.930000,98.940002,100.760002,100.760002,8546900,-0.101721

,Date,Open,High,Low,Close,Adj Close,Volume,LW
0,2016-11-10,32.040001,32.349998,29.820000,30.330000,29.212799,35019100,0.000000
1,2016-11-11,29.799999,30.090000,28.850000,29.889999,28.789009,6020100,-0.014507
2,2016-11-14,29.340000,30.430000,28.750000,30.190001,29.077959,4481900,0.010037
3,2016-11-15,29.639999,30.700001,29.620001,30.430000,29.309120,3667200,0.007950
4,2016-11-16,30.770000,32.040001,30.610001,31.700001,30.532341,4342300,0.041735
...,...,...,...,...,...,...,...,...
700,2019-08-26,68.830002,69.120003,68.470001,68.870003,68.870003,600400,0.006871
701,2019-08-27,68.879997,69.260002,67.940002,68.449997,68.449997,630000,-0.006099
702,2019-08-28,68.559998,69.160004,68.169998,68.769997,68.769997,470600,0.004675
703,2019-08-29,69.199997,70.010002,68.879997,69.919998,69.919998,429100,0.016722
704,2019-08-30,70.279999,70.769997,70.110001,70.389999,70.389999,772900,0.006722

,Date,Open,High,Low,Close,Adj Close,Volume,WORK
0,2019-06-20,38.500000,42.000000,38.250000,38.619999,38.619999,137364200,0.000000
1,2019-06-21,38.880001,40.250000,36.599998,37.220001,37.220001,42874100,-0.036251
2,2019-06-24,36.320000,36.970001,35.349998,35.759998,35.759998,16944500,-0.039226
3,2019-06-25,35.189999,36.139999,34.810001,35.200001,35.200001,10116600,-0.015660
4,2019-06-26,36.209999,37.599998,35.849998,37.189999,37.189999,19132500,0.056534
5,2019-06-27,37.770000,38.220001,36.200001,36.250000,36.250000,11298600,-0.025276
6,2019-06-28,36.730000,37.500000,36.250000,37.500000,37.500000,8709000,0.034483
7,2019-07-01,38.180000,38.439999,35.939999,36.549999,36.549999,9390100,-0.025333
8,2019-07-02,36.110001,36.990002,35.759998,36.549999,36.549999,3190400,0.000000
9,2019-07-03,36.279999,36.459999,35.799999,36.000000,36.000000,3170700,-0.015048
10,2019-07-05,35.799999,36.099998,35.459999,35.520000,35.520000,3437700,-0.013333
11,2019-07-08,35.150002,35.540001,34.950001,35.000000,35.000000,4238400,-0.014640
12,2019-07-09,34.630001,35.660000,34.459999,35.639999,35.639999,4400100,0.018286
13,2019-07-10,35.599998,36.439999,34.980000,35.189999,35.189999,4986500,-0.012626
14,2019-07-11,35.049999,35.500000,34.900002,35.000000,35.000000,4449700,-0.005399
15,2019-07-12,34.669998,34.990002,33.369999,33.730000,33.730000,14968000,-0.036286
16,2019-07-15,34.000000,35.209999,33.939999,34.750000,34.750000,8528400,0.030240
17,2019-07-16,34.570000,35.150002,34.200001,34.400002,34.400002,5821500,-0.010072
18,2019-07-17,34.779999,35.000000,33.400002,33.459999,33.459999,4468800,-0.027326
19,2019-07-18,33.400002,33.540001,31.930000,32.000000,32.000000,6851600,-0.043634
20,2019-07-19,32.049999,32.950001,31.219999,31.299999,31.299999,5727700,-0.021875
21,2019-07-22,31.230000,33.349998,31.180000,33.250000,33.250000,3850800,0.062300
22,2019-07-23,33.599998,34.939999,33.450001,33.939999,33.939999,7629400,0.020752
23,2019-07-24,34.020000,34.160000,33.209999,34.099998,34.099998,3780700,0.004714
24,2019-07-25,34.169998,34.299999,33.529999,33.720001,33.720001,3483000,-0.011144
25,2019-07-26,33.720001,34.209999,33.330002,34.090000,34.090000,4356700,0.010973
26,2019-07-29,34.099998,34.130001,32.500000,33.009998,33.009998,5056400,-0.031681
27,2019-07-30,32.590000,32.799999,32.134998,32.580002,32.580002,2808400,-0.013026
28,2019-07-31,32.820000,34.000000,32.799999,33.419998,33.419998,3539600,0.025783
29,2019-08-01,33.299999,33.330002,31.930000,32.000000,32.000000,5374400,-0.042489
30,2019-08-02,31.799999,31.850000,30.770000,30.870001,30.870001,5259900,-0.035312
31,2019-08-05,29.379999,31.430000,29.100000,31.389999,31.389999,5923100,0.016845
32,2019-08-06,31.480000,32.230000,30.730000,30.840000,30.840000,3940300,-0.017521
33,2019-08-07,30.190001,31.080000,30.049999,30.770000,30.770000,2301200,-0.002270
34,2019-08-08,30.920000,31.670000,30.625000,31.530001,31.530001,1728000,0.024699
35,2019-08-09,31.230000,31.450001,30.639999,30.780001,30.780001,1712200,-0.023787
36,2019-08-12,30.459999,32.130001,30.235001,31.170000,31.170000,2813800,0.012671
37,2019-08-13,30.830000,31.790001,30.750000,31.250000,31.250000,2127900,0.002567
38,2019-08-14,30.520000,30.813000,29.920000,30.760000,30.760000,3234400,-0.015680
39,2019-08-15,30.080000,30.750000,30.010000,30.160000,30.160000,2434800,-0.019506
40,2019-08-16,30.320000,30.355000,29.910000,30.000000,30.000000,2615000,-0.005305
41,2019-08-19,30.570000,31.500000,30.299999,31.139999,31.139999,2874600,0.038000
42,2019-08-20,31.090000,31.100000,30.309999,30.500000,30.500000,2226900,-0.020552
43,2019-08-21,30.639999,31.389999,30.440001,30.799999,30.799999,2072000,0.009836
44,2019-08-22,32.189999,32.480000,30.194000,30.549999,30.549999,4959100,-0.008117
45,2019-08-23,30.520000,30.639999,29.969999,30.049999,30.049999,3977700,-0.016367
46,2019-08-26,30.340000,31.139999,30.219999,30.969999,30.969999,3689500,0.030616
47,2019-08-27,31.209999,31.270000,29.660000,29.910000,29.910000,3269900,-0.034227
48,2019-08-28,29.590000,29.799999,28.500000,29.799999,29.799999,5233600,-0.003678
49,2019-08-29,30.000000,30.190001,29.360001,29.980000,29.980000,3359500,0.006040
50,2019-08-30,29.940001,30.209999,28.250000,28.639999,28.639999,4668600,-0.044696

,Date,Open,High,Low,Close,Adj Close,Volume,CPB
0,2014-09-02,44.750000,45.119999,44.430000,44.639999,38.144882,743300,0.000000
1,2014-09-03,44.689999,44.770000,44.439999,44.470001,37.999619,680100,-0.003808
2,2014-09-04,44.480000,44.680000,44.139999,44.250000,37.811626,625600,-0.004947
3,2014-09-05,44.290001,44.540001,44.049999,44.540001,38.059441,888200,0.006554
4,2014-09-08,43.430000,43.930000,42.900002,43.389999,37.076763,2180000,-0.025820
...,...,...,...,...,...,...,...,...
1254,2019-08-26,42.830002,43.110001,42.410000,42.660000,42.660000,1581500,-0.000469
1255,2019-08-27,42.599998,42.660000,41.669998,42.049999,42.049999,1829100,-0.014299
1256,2019-08-28,41.980000,42.080002,41.560001,41.970001,41.970001,1641800,-0.001902
1257,2019-08-29,42.230000,43.520000,41.889999,43.310001,43.310001,4164400,0.031928
1258,2019-08-30,44.919998,48.029999,44.750000,45.000000,45.000000,11450600,0.039021

,Date,Open,High,Low,Close,Adj Close,Volume,DAL
0,2014-09-02,39.799999,40.970001,39.750000,40.930000,37.293816,11664100,0.000000
1,2014-09-03,39.490002,39.799999,38.369999,38.820000,35.371258,24332900,-0.051552
2,2014-09-04,39.220001,39.500000,38.820000,39.290001,35.799515,12810300,0.012107
3,2014-09-05,39.279999,39.610001,38.720001,39.220001,35.735714,10321800,-0.001782
4,2014-09-08,39.419998,39.799999,39.020000,39.040001,35.571716,9095800,-0.004589
...,...,...,...,...,...,...,...,...
1254,2019-08-26,56.759998,56.869999,55.950001,56.279999,56.279999,3414500,0.001423
1255,2019-08-27,56.630001,56.680000,55.570000,56.139999,56.139999,7702800,-0.002488
1256,2019-08-28,55.840000,57.169998,55.799999,56.680000,56.680000,5264100,0.009619
1257,2019-08-29,57.119999,58.130001,57.060001,57.880001,57.880001,4101400,0.021172
1258,2019-08-30,58.150002,58.860001,57.590000,57.860001,57.860001,4268300,-0.000346

,Date,Open,High,Low,Close,Adj Close,Volume,K
0,2014-09-02,64.930000,65.290001,64.680000,64.790001,55.343235,1369100,0.000000
1,2014-09-03,65.029999,65.279999,64.769997,64.790001,55.343235,1197200,0.000000
2,2014-09-04,64.830002,65.379997,64.760002,64.930000,55.462822,1517400,0.002161
3,2014-09-05,64.779999,65.209999,64.510002,65.199997,55.693455,898200,0.004158
4,2014-09-08,64.930000,65.150002,64.360001,64.440002,55.044270,1322000,-0.011656
...,...,...,...,...,...,...,...,...
1254,2019-08-26,63.439999,63.939999,63.130001,63.650002,63.073757,2422200,0.006324
1255,2019-08-27,63.459999,63.549999,61.919998,62.099998,61.537785,2739400,-0.024352
1256,2019-08-28,62.250000,62.770000,62.000000,62.509998,61.944073,2346100,0.006602
1257,2019-08-29,63.000000,63.180000,62.349998,62.959999,62.389999,2975900,0.007199
1258,2019-08-30,62.950001,63.660000,62.779999,62.799999,62.799999,2329500,0.006572

,Date,Open,High,Low,Close,Adj Close,Volume,TEAM
0,2015-12-09,21.000000,21.000000,21.000000,21.000000,21.000000,0,0.000000
1,2015-12-10,27.670000,28.500000,26.500000,27.780001,27.780001,15009100,0.322857
2,2015-12-11,27.850000,28.500000,27.480000,27.500000,27.500000,2286100,-0.010079
3,2015-12-14,27.500000,27.860001,26.110001,26.260000,26.260000,1223500,-0.045091
4,2015-12-15,26.389999,26.948999,26.299999,26.500000,26.500000,1086400,0.009139
...,...,...,...,...,...,...,...,...
933,2019-08-26,141.789993,143.000000,140.500000,142.860001,142.860001,556800,0.012832
934,2019-08-27,144.320007,145.054993,140.479996,142.619995,142.619995,1056100,-0.001680
935,2019-08-28,141.750000,141.750000,136.649994,138.270004,138.270004,1491600,-0.030501
936,2019-08-29,140.000000,141.455002,137.330002,138.050003,138.050003,1174200,-0.001591
937,2019-08-30,138.429993,139.175003,130.839996,134.509995,134.509995,1750200,-0.025643

,Date,Open,High,Low,Close,Adj Close,Volume,NAT
0,2014-09-02,8.968254,8.978174,8.829365,8.878968,5.945852,791100,0.000000
1,2014-09-03,8.908731,8.938492,8.680555,8.690476,5.819628,1075000,-0.021229
2,2014-09-04,8.690476,8.759921,8.531746,8.561508,5.733264,841200,-0.014840
3,2014-09-05,8.561508,8.720238,8.422619,8.700397,5.826271,1886200,0.016222
4,2014-09-08,8.680555,8.839286,8.650794,8.839286,5.919280,648000,0.015964
...,...,...,...,...,...,...,...,...
1254,2019-08-26,1.830000,1.880000,1.800000,1.850000,1.839946,532500,0.016484
1255,2019-08-27,1.870000,1.870000,1.770000,1.800000,1.790217,998300,-0.027027
1256,2019-08-28,1.810000,1.870000,1.800000,1.840000,1.830000,565800,0.022222
1257,2019-08-29,1.840000,1.850000,1.810000,1.820000,1.820000,484500,-0.005464
1258,2019-08-30,1.820000,1.840000,1.770000,1.780000,1.780000,508200,-0.021978

,Date,Open,High,Low,Close,Adj Close,Volume,EQR
0,2014-09-02,66.629997,66.680000,66.059998,66.300003,48.402542,1363100,0.000000
1,2014-09-03,66.550003,66.660004,65.750000,66.529999,48.570450,1526900,0.003469
2,2014-09-04,66.430000,66.790001,66.010002,66.400002,48.475540,1458500,-0.001954
3,2014-09-05,66.239998,67.279999,66.239998,67.260002,49.103401,1657300,0.012952
4,2014-09-08,67.419998,67.910004,67.279999,67.650002,49.388115,2142300,0.005798
...,...,...,...,...,...,...,...,...
1254,2019-08-26,83.190002,83.610001,82.480003,83.610001,83.610001,1728100,0.010393
1255,2019-08-27,83.989998,84.230003,83.540001,83.779999,83.779999,1933200,0.002033
1256,2019-08-28,83.849998,84.050003,83.339996,83.629997,83.629997,1749600,-0.001790
1257,2019-08-29,83.849998,84.410004,83.489998,84.269997,84.269997,874600,0.007653
1258,2019-08-30,84.500000,84.930000,84.029999,84.760002,84.760002,1510100,0.005815

,Date,Open,High,Low,Close,Adj Close,Volume,HBI
0,2014-09-02,25.692499,26.129999,25.672501,25.959999,22.558258,3630800,0.000000
1,2014-09-03,26.032499,26.200001,25.877501,26.162500,22.734221,3556400,0.007800
2,2014-09-04,26.337500,26.967501,26.225000,26.805000,23.292526,3975600,0.024558
3,2014-09-05,26.727501,27.137501,26.580000,27.125000,23.570601,3188400,0.011938
4,2014-09-08,27.135000,27.405001,27.132500,27.287500,23.711805,3209200,0.005991
...,...,...,...,...,...,...,...,...
1254,2019-08-26,13.720000,13.830000,13.550000,13.730000,13.730000,4604200,0.005861
1255,2019-08-27,13.810000,13.850000,13.360000,13.500000,13.500000,3939900,-0.016752
1256,2019-08-28,13.420000,13.590000,13.360000,13.560000,13.560000,3201100,0.004444
1257,2019-08-29,13.640000,13.880000,13.540000,13.660000,13.660000,3326400,0.007375
1258,2019-08-30,13.700000,13.990000,13.530000,13.660000,13.660000,3798900,0.000000

,Date,Open,High,Low,Close,Adj Close,Volume,XRX
0,2014-09-02,36.521740,36.758892,36.284584,36.469040,32.952049,1726800,0.000000
1,2014-09-03,36.495388,37.075100,36.416336,37.022396,33.452042,2782200,0.015173
2,2014-09-04,37.048748,37.285904,35.836628,35.889328,32.428242,6160800,-0.030605
3,2014-09-05,36.021080,36.258236,35.599472,35.652172,32.213963,4130700,-0.006608
4,2014-09-08,35.678524,35.915680,35.072464,35.283268,31.880636,3694800,-0.010347
...,...,...,...,...,...,...,...,...
1254,2019-08-26,28.160000,28.389999,27.990000,28.100000,28.100000,1604000,0.011519
1255,2019-08-27,27.309999,28.090000,27.250000,27.490000,27.490000,2136400,-0.021708
1256,2019-08-28,27.430000,28.070000,27.430000,27.820000,27.820000,2114700,0.012004
1257,2019-08-29,28.240000,28.910000,28.240000,28.790001,28.790001,1505200,0.034867
1258,2019-08-30,29.110001,29.440001,28.830000,28.990000,28.990000,2053600,0.006947

,Date,Open,High,Low,Close,Adj Close,Volume,AAPL
0,2014-09-02,103.059998,103.739998,102.720001,103.300003,94.787781,53564000,0.000000
1,2014-09-03,103.099998,103.199997,98.580002,98.940002,90.787048,125421000,-0.042207
2,2014-09-04,98.849998,100.089996,97.790001,98.120003,90.034622,85718000,-0.008288
3,2014-09-05,98.800003,99.389999,98.309998,98.970001,90.814583,58457000,0.008663
4,2014-09-08,99.300003,99.309998,98.050003,98.360001,90.254837,46356700,-0.006164
...,...,...,...,...,...,...,...,...
1254,2019-08-26,205.860001,207.190002,205.059998,206.490005,206.490005,26043600,0.018999
1255,2019-08-27,207.860001,208.550003,203.529999,204.160004,204.160004,25873300,-0.011284
1256,2019-08-28,204.100006,205.720001,203.320007,205.529999,205.529999,15938800,0.006710
1257,2019-08-29,208.500000,209.320007,206.660004,209.009995,209.009995,20990500,0.016932
1258,2019-08-30,210.160004,210.449997,207.199997,208.740005,208.740005,21143400,-0.001292

,Date,Open,High,Low,Close,Adj Close,Volume,KRG
0,2014-09-02,25.830000,26.059999,25.690001,26.059999,19.488277,1443100,0.000000
1,2014-09-03,26.040001,26.200001,25.850000,25.879999,19.353666,1067900,-0.006907
2,2014-09-04,25.900000,26.170000,25.690001,25.799999,19.293839,943200,-0.003091
3,2014-09-05,25.830000,26.180000,25.709999,26.090000,19.510712,1116000,0.011241
4,2014-09-08,26.090000,26.700001,26.070000,26.340000,19.697664,1880800,0.009582
...,...,...,...,...,...,...,...,...
1254,2019-08-26,14.440000,14.450000,14.220000,14.320000,14.320000,258100,-0.004172
1255,2019-08-27,14.380000,14.410000,14.080000,14.080000,14.080000,334500,-0.016760
1256,2019-08-28,14.050000,14.250000,14.030000,14.170000,14.170000,217100,0.006392
1257,2019-08-29,14.220000,14.370000,14.200000,14.220000,14.220000,197500,0.003529
1258,2019-08-30,14.230000,14.330000,14.190000,14.290000,14.290000,214300,0.004923

,Date,Open,High,Low,Close,Adj Close,Volume,TEVA
0,2014-09-02,52.340000,52.980000,52.049999,52.139999,47.688454,2764000,0.000000
1,2014-09-03,52.320000,52.970001,52.020000,52.639999,48.145763,2364300,0.009590
2,2014-09-04,52.639999,52.740002,50.970001,51.150002,46.782974,6478200,-0.028305
3,2014-09-05,51.560001,52.169998,50.919998,51.980000,47.542110,3889100,0.016227
4,2014-09-08,52.220001,52.730000,51.529999,52.580002,48.090881,3307100,0.011543
...,...,...,...,...,...,...,...,...
1254,2019-08-26,7.200000,7.600000,7.180000,7.420000,7.420000,22466600,0.052482
1255,2019-08-27,7.620000,7.670000,6.670000,6.710000,6.710000,44216500,-0.095687
1256,2019-08-28,6.770000,7.050000,6.600000,6.960000,6.960000,16733000,0.037258
1257,2019-08-29,7.040000,7.160000,6.910000,6.970000,6.970000,19299700,0.001437
1258,2019-08-30,7.000000,7.050000,6.740000,6.900000,6.900000,14771000,-0.010043

,Date,Open,High,Low,Close,Adj Close,Volume,RIO
0,2014-09-02,54.000000,54.000000,53.470001,53.529999,40.714958,2054800,0.000000
1,2014-09-03,53.959999,54.189999,53.520000,53.720001,40.859474,1437300,0.003549
2,2014-09-04,53.330002,53.759998,52.790001,52.970001,40.289024,3614500,-0.013961
3,2014-09-05,52.669998,53.009998,52.430000,52.959999,40.281418,2434000,-0.000189
4,2014-09-08,52.439999,52.500000,51.820000,51.860001,39.444759,3246600,-0.020770
...,...,...,...,...,...,...,...,...
1254,2019-08-26,48.290001,48.590000,48.070000,48.349998,48.349998,1386900,0.007712
1255,2019-08-27,48.650002,48.669998,48.180000,48.200001,48.200001,1591700,-0.003102
1256,2019-08-28,48.380001,49.180000,48.220001,48.700001,48.700001,2746300,0.010373
1257,2019-08-29,49.630001,49.669998,49.160000,49.259998,49.259998,1838700,0.011499
1258,2019-08-30,50.580002,50.820000,50.290001,50.580002,50.580002,3027000,0.026797

,Date,Open,High,Low,Close,Adj Close,Volume,MU
0,2014-09-02,32.430000,32.599998,31.450001,31.510000,31.510000,26980200,0.000000
1,2014-09-03,31.440001,31.690001,30.879999,31.680000,31.680000,23928200,0.005395
2,2014-09-04,31.950001,32.830002,31.830000,32.119999,32.119999,24800000,0.013889
3,2014-09-05,32.099998,32.950001,32.020000,32.939999,32.939999,17772600,0.025529
4,2014-09-08,32.990002,33.410000,32.840000,33.139999,33.139999,17933300,0.006072
...,...,...,...,...,...,...,...,...
1254,2019-08-26,43.740002,43.770000,43.160000,43.430000,43.430000,12282800,0.010940
1255,2019-08-27,43.709999,43.799999,42.349998,42.439999,42.439999,19122100,-0.022795
1256,2019-08-28,42.099998,43.259998,41.759998,43.150002,43.150002,11545700,0.016730
1257,2019-08-29,43.990002,45.220001,43.910000,44.669998,44.669998,18674100,0.035226
1258,2019-08-30,45.119999,45.930000,45.049999,45.270000,45.270000,16391500,0.013432

,Date,Open,High,Low,Close,Adj Close,Volume,AA
0,2014-09-02,39.985920,40.178162,39.793678,40.058010,39.023960,4474400,0.000000
1,2014-09-03,40.082039,40.851002,40.058010,40.682789,39.632618,4523400,0.015597
2,2014-09-04,40.802940,41.716080,40.634731,41.091301,40.030582,6497800,0.010041
3,2014-09-05,41.115330,41.547871,40.875031,41.523842,40.451958,3995700,0.010526
4,2014-09-08,41.523842,41.571899,40.754879,40.875031,39.819889,4661600,-0.015625
...,...,...,...,...,...,...,...,...
1254,2019-08-26,17.730000,17.730000,17.090000,17.170000,17.170000,3108700,-0.017735
1255,2019-08-27,17.309999,17.370001,16.680000,16.730000,16.730000,2376000,-0.025626
1256,2019-08-28,16.580000,17.280001,16.459999,17.010000,17.010000,2915700,0.016736
1257,2019-08-29,17.320000,17.980000,17.263000,17.799999,17.799999,3069400,0.046443
1258,2019-08-30,17.940001,18.170000,17.709999,17.930000,17.930000,2095400,0.007303

,Date,Open,High,Low,Close,Adj Close,Volume,NWL
0,2014-09-02,33.689999,33.970001,33.599998,33.820000,29.318798,1080100,0.000000
1,2014-09-03,33.910000,33.930000,33.599998,33.919998,29.405491,942200,0.002957
2,2014-09-04,33.990002,34.470001,33.900002,34.279999,29.717571,2072600,0.010613
3,2014-09-05,34.169998,34.299999,33.970001,34.200001,29.648220,1139700,-0.002334
4,2014-09-08,34.180000,34.410000,34.130001,34.320000,29.752245,948500,0.003509
...,...,...,...,...,...,...,...,...
1254,2019-08-26,15.880000,15.970000,15.720000,15.820000,15.596224,3045300,0.003807
1255,2019-08-27,15.900000,16.170000,15.630000,15.700000,15.477921,4645800,-0.007585
1256,2019-08-28,15.620000,16.350000,15.580000,16.260000,16.030001,5065900,0.035669
1257,2019-08-29,16.250000,16.700001,16.230000,16.450001,16.450001,4781600,0.026201
1258,2019-08-30,16.600000,16.690001,16.389999,16.600000,16.600000,3089900,0.009118

,Date,Open,High,Low,Close,Adj Close,Volume,BLK
0,2014-09-02,332.410004,332.660004,327.019989,328.820007,289.469910,772500,0.000000
1,2014-09-03,331.579987,332.730011,329.760010,331.209991,291.573883,446200,0.007268
2,2014-09-04,333.049988,334.950012,330.829987,331.730011,292.031647,441100,0.001570
3,2014-09-05,331.000000,332.760010,328.230011,332.739990,292.920746,395100,0.003045
4,2014-09-08,331.959991,334.250000,330.640015,332.410004,292.630310,334100,-0.000992
...,...,...,...,...,...,...,...,...
1254,2019-08-26,411.679993,411.880005,403.540009,405.470001,402.252136,812300,-0.004371
1255,2019-08-27,406.649994,410.899994,405.260010,410.510010,407.252167,1068800,0.012430
1256,2019-08-28,408.010010,413.970001,406.390015,413.839996,410.555725,590700,0.008112
1257,2019-08-29,419.000000,424.829987,416.989990,422.040009,418.690643,699700,0.019814
1258,2019-08-30,424.959991,425.850006,420.929993,422.559998,419.206512,466300,0.001232

In [5]:
# Assignment8

mdf_intersect = dic["AAL"].iloc[:, [0,-1]]

for key, value in dic.items():
    print(key)
    if key == "AAL":
        continue
    else:
            mdf_intersect = mdf_intersect.merge(dic[key][['Date',key]], 
                         how = 'inner', on = 'Date')
display(mdf_intersect)

UAL
VRTX
AQN
MO
NVS
MCHP
BZH
EDIT
FCX
HAIN
LYFT
SKYW
BG
F
ADBE
SAVE
JCP
PEP
IDA
COST
XEL
DLR
JBLU
MRK
EBAY
SBUX
SNAP
AMT
DPZ
PG
CAT
MCD
AMZN
INTC
GM
SJM
DEO
EXPE
KO
NEE
MSFT
ALGT
FL
CMG
AMAT
BMRN
EVRG
SPG
NVDA
BFC
BBBY
HSIC
HE
CMCSA
NKE
CLDR
CELG
FB
KR
IBM
COLM
KMB
GS
CLX
GE
CVS
JPM
SD
JBHT
PZZA
GOOGL
ALK
AAL
XLNX
PFE
CRI
REGN
CL
GPS
QCOM
LUV
ALXN
LW
WORK
CPB
DAL
K
TEAM
NAT
EQR
HBI
XRX
AAPL
KRG
TEVA
RIO
MU
AA
NWL
BLK

,Date,AAL,UAL,VRTX,AQN,MO,NVS,MCHP,BZH,EDIT,...,HBI,XRX,AAPL,KRG,TEVA,RIO,MU,AA,NWL,BLK
0,2019-06-20,-0.031918,-0.017144,0.002311,0.011327,0.007214,0.005005,0.009794,0.005025,-0.012775,...,0.018572,0.014016,0.008036,-0.013338,-0.007335,0.008347,0.006187,0.004911,0.002661,0.023365
1,2019-06-21,-0.018040,-0.004820,0.009881,-0.002400,-0.044966,0.001299,-0.005609,-0.029000,0.018742,...,0.003989,-0.005360,-0.003409,-0.010178,0.040640,-0.002152,-0.026354,0.003998,0.019244,0.005713
2,2019-06-24,0.007919,-0.001960,-0.016035,-0.002406,0.010208,0.003352,0.000353,-0.023687,-0.045554,...,-0.052213,-0.012479,-0.001006,-0.025707,-0.023669,0.011117,-0.001805,-0.016814,-0.041016,-0.010337
3,2019-06-25,-0.017599,-0.017216,-0.004806,-0.004019,0.005980,-0.004634,-0.013979,-0.024262,0.047728,...,-0.002994,-0.001723,-0.015158,-0.009235,0.067879,0.000821,-0.015366,0.014851,0.008147,-0.010876
4,2019-06-26,0.006398,0.003174,-0.013822,-0.006457,-0.017220,-0.012667,0.038480,-0.007568,-0.022777,...,0.016216,0.015535,0.021629,-0.017976,0.009081,0.011641,0.133415,0.029268,0.035690,0.005672
5,2019-06-27,0.021933,0.012891,0.005178,-0.006492,-0.000834,-0.002851,-0.000344,0.034858,0.049305,...,0.004137,0.007989,-0.000300,0.023729,0.021372,0.004052,0.027808,-0.003447,-0.012354,0.007636
6,2019-06-28,0.014308,0.012958,0.026879,0.001654,-0.011482,0.004069,-0.005049,0.011579,0.056813,...,0.013537,0.002264,-0.009112,0.001987,0.016520,0.006295,0.013659,0.012106,0.015142,0.010377
7,2019-07-01,0.008280,0.010280,-0.008398,-0.005780,0.007181,0.006023,0.054210,0.013528,-0.020210,...,-0.014518,0.023440,0.018341,-0.014541,0.009751,0.007058,0.039388,-0.020931,-0.012970,0.007735
8,2019-07-02,-0.020985,0.004749,-0.012703,0.011628,0.019082,0.002613,-0.018162,0.013347,-0.012789,...,-0.003536,-0.016556,0.005855,0.016097,0.011803,0.015132,-0.012715,0.016579,-0.019054,-0.006470
9,2019-07-03,0.016465,0.020254,0.020776,0.015599,0.012140,0.004343,0.000334,0.019250,0.027163,...,0.027794,0.023569,0.008287,0.006601,0.018028,-0.006590,-0.000252,-0.025751,0.035499,0.011663
10,2019-07-05,-0.007946,-0.000882,-0.026847,-0.004042,-0.008335,-0.022270,-0.006015,-0.009940,-0.021155,...,0.000000,-0.001097,-0.000881,0.005902,-0.013542,-0.051493,-0.004294,0.018943,-0.009056,0.007026
11,2019-07-08,0.010166,0.000883,-0.008916,0.001623,0.006150,0.003317,-0.014569,0.015060,-0.003741,...,0.004603,-0.021405,-0.020614,0.002608,-0.031679,0.007161,0.025114,-0.035884,-0.007180,-0.013056
12,2019-07-09,-0.013114,-0.013345,0.009675,0.000810,-0.014874,0.003527,0.014671,-0.004946,0.021277,...,-0.016036,0.008132,0.006099,0.011053,0.021810,0.001653,0.023262,-0.003587,-0.011177,0.002921
13,2019-07-10,0.017923,0.000559,0.001681,0.004858,0.013444,0.003624,0.001569,0.045726,0.018791,...,-0.048894,-0.013074,0.009889,-0.004502,-0.020277,0.013371,0.037485,0.017552,-0.007979,0.003630
14,2019-07-11,0.002732,-0.000335,-0.015384,0.003223,0.005306,-0.011489,0.004141,0.007605,-0.006415,...,-0.015912,-0.015784,-0.007282,-0.016150,-0.022876,-0.008796,0.013520,-0.004865,-0.020107,0.009526
15,2019-07-12,0.022707,0.019557,-0.001250,0.000803,0.004872,-0.023799,0.022066,0.006604,0.002825,...,0.018657,0.012887,0.007683,0.007879,0.031215,-0.002301,0.023689,0.004444,0.022572,0.004978
16,2019-07-15,-0.005032,0.000986,0.003299,-0.004815,0.000808,0.012246,0.009705,-0.012184,0.018109,...,0.014652,-0.010178,0.009395,0.007818,-0.074595,0.013177,-0.002471,0.025221,0.013378,-0.001575
17,2019-07-16,0.018149,0.028471,-0.001191,0.002419,-0.002624,-0.001232,-0.019978,0.016129,-0.038340,...,0.018652,0.008569,-0.003460,-0.001293,-0.042056,-0.017558,-0.030180,0.006474,0.000000,-0.009404
18,2019-07-17,-0.028054,0.009157,0.005563,0.008850,0.000810,0.012001,0.000110,-0.014939,-0.011097,...,-0.025989,-0.012744,-0.005623,0.003883,-0.010976,0.008770,0.007199,-0.007290,-0.018482,-0.012930
19,2019-07-18,0.014432,0.005275,0.005363,0.007974,0.021840,0.044664,0.023579,0.002844,0.025353,...,-0.001819,0.009753,0.011360,-0.001289,-0.034525,-0.005085,0.029975,0.011231,-0.013450,0.008790
20,2019-07-19,-0.019561,-0.015218,-0.022236,-0.007911,0.000000,-0.007426,-0.006351,-0.003781,-0.033239,...,0.004253,-0.025852,-0.014928,-0.020013,0.010217,0.007584,0.019028,-0.012815,-0.023177,-0.003999
21,2019-07-22,-0.005441,0.000000,-0.000287,-0.003190,-0.017020,0.005130,0.013541,0.012334,0.039413,...,-0.033878,-0.007582,0.022854,-0.003953,-0.027813,-0.005891,0.036687,-0.005625,-0.010467,0.000655
22,2019-07-23,0.025228,0.011723,0.006664,0.000000,0.007449,-0.003828,0.021484,-0.015933,0.024203,...,0.014402,0.020276,0.007818,0.019841,-0.001300,-0.003292,-0.005086,-0.001305,0.007052,0.008257
23,2019-07-24,0.025497,0.001896,-0.010842,-0.005600,-0.005196,-0.003843,0.044679,0.046667,0.024025,...,0.022222,0.010657,-0.000814,0.016213,0.041667,-0.041453,0.022151,0.026579,0.007703,-0.000649
24,2019-07-25,-0.084417,-0.012407,-0.021807,0.002414,-0.003817,-0.014252,-0.017929,0.030027,-0.041538,...,-0.025966,-0.015674,-0.007907,-0.003191,-0.050000,-0.012750,-0.004584,-0.030136,-0.018068,-0.006874
25,2019-07-26,-0.013577,-0.006068,-0.016100,0.004013,0.005445,0.013045,0.000612,0.000000,0.050562,...,0.001860,-0.003185,0.003478,0.001921,-0.007895,0.004014,-0.005861,0.012254,0.004954,0.009074
26,2019-07-29,-0.016005,0.000857,-0.003597,0.005596,0.009025,-0.011375,0.002752,-0.011484,0.003438,...,-0.020421,-0.014232,0.009339,0.004473,0.042440,0.004867,-0.014108,-0.000432,-0.002113,0.000293
27,2019-07-30,-0.000976,0.005244,0.019912,-0.003180,-0.035977,-0.005319,-0.014129,0.046470,0.020556,...,0.003790,-0.034178,-0.004292,0.017812,0.006361,0.003979,0.013669,-0.003460,-0.001411,0.000209
28,2019-07-31,-0.006513,-0.021505,-0.017223,-0.007177,-0.029485,-0.000655,-0.026498,0.000854,-0.058187,...,0.012587,-0.020744,0.020404,-0.005625,0.002528,-0.016540,-0.054151,-0.023872,0.002827,-0.022429
29,2019-08-01,-0.021960,-0.015450,0.076041,0.014458,0.017208,0.007971,-0.029867,-0.040102,0.020990,...,-0.064636,-0.014330,-0.021639,-0.016342,-0.012610,-0.044674,-0.028737,-0.051578,-0.053559,-0.033634
30,2019-08-02,-0.013070,-0.011714,-0.005020,0.010293,0.001044,-0.001408,-0.038646,0.016889,-0.031420,...,0.007309,-0.033502,-0.021158,-0.001278,0.003831,-0.022923,0.011009,-0.029067,0.142219,-0.008253
31,2019-08-05,-0.031239,-0.042939,-0.015864,-0.011755,-0.026706,-0.015839,-0.050420,-0.043706,-0.041650,...,-0.010554,-0.040549,-0.052348,-0.042226,-0.003817,-0.021396,-0.048548,-0.027040,-0.015645,-0.037705
32,2019-08-06,-0.002462,-0.001519,0.007861,0.015067,-0.010504,-0.027557,0.017221,0.031993,0.029252,...,0.002000,-0.001704,0.018930,0.008684,-0.098340,0.000000,0.016214,-0.012903,0.047682,0.010178
33,2019-08-07,0.009520,0.011935,-0.007291,0.006250,0.001516,0.006574,0.039502,0.038973,-0.005278,...,-0.018629,-0.001366,0.010355,0.009272,0.032578,-0.011124,-0.020413,-0.015586,0.019595,-0.012210
34,2019-08-08,0.015718,0.013298,0.041503,0.004658,0.005840,0.027365,0.026917,-0.007673,0.011429,...,0.016271,0.016068,0.022056,0.024278,0.000000,0.011988,0.021078,0.027579,0.004340,0.016799
35,2019-08-09,-0.010316,-0.007417,0.000219,0.002318,-0.007312,-0.004494,-0.032489,-0.002577,0.002421,...,0.005337,-0.051144,-0.008240,0.000000,-0.037037,-0.036920,-0.026038,-0.045229,-0.022222,-0.025799
36,2019-08-12,-0.039611,-0.026098,-0.017160,-0.005397,-0.003900,0.003083,-0.006261,-0.012920,-0.032206,...,-0.025469,-0.003901,-0.002537,-0.014734,0.000000,0.000410,0.014692,-0.035919,0.000000,-0.023198
37,2019-08-13,-0.004703,-0.001771,0.022631,0.006202,0.017399,0.000220,0.035281,0.025305,0.022878,...,0.002063,0.009256,0.042348,-0.009103,0.002849,0.024795,0.048421,0.031858,0.010732,0.021348
38,2019-08-14,-0.051254,-0.030866,-0.023816,-0.005393,-0.019453,-0.023156,-0.038393,-0.020426,0.020333,...,-0.043926,-0.027160,-0.029765,-0.027559,-0.105114,-0.028994,-0.048223,-0.084249,-0.016865,-0.032822
39,2019-08-15,-0.026437,-0.004027,0.008856,-0.000775,-0.008284,-0.004831,-0.000806,-0.017376,0.010761,...,-0.058866,0.012690,-0.004981,-0.017544,-0.022222,0.008443,0.004757,-0.033143,-0.000635,-0.005032
40,2019-08-16,0.014955,0.016172,0.021091,-0.001550,0.021763,0.010047,0.017734,0.011494,0.011041,...,0.038902,0.022914,0.023595,0.005495,0.040584,-0.003063,0.031013,0.035461,0.006993,0.024823
41,2019-08-19,0.012020,0.011454,0.011625,0.003882,0.004733,0.000112,0.018896,0.051573,0.005460,...,0.013216,-0.007350,0.018644,0.019126,0.046802,0.006350,0.033525,0.040525,0.003788,0.014543
42,2019-08-20,-0.010345,0.001669,-0.018013,0.000773,-0.014347,-0.004470,-0.008853,0.048213,-0.007370,...,0.000725,-0.009873,0.000048,-0.022788,0.044709,-0.008345,-0.017329,0.004388,0.012579,-0.017083
43,2019-08-21,0.022842,0.014995,0.014587,0.003091,0.004780,0.011675,0.001462,0.020619,0.010942,...,0.013758,0.018162,0.010839,-0.008916,0.062767,-0.004926,-0.001357,0.008738,0.027950,0.006311
44,2019-08-22,0.004164,0.003166,-0.011749,-0.004622,0.007351,-0.012428,0.006291,-0.008547,-0.022420,...,0.012143,0.000700,-0.000846,0.019377,-0.025503,0.001444,0.013810,-0.022740,0.007855,-0.004585
45,2019-08-23,-0.041839,-0.035414,-0.021877,-0.008514,-0.003864,-0.006292,-0.055816,-0.032915,-0.048636,...,-0.036697,-0.029011,-0.046221,-0.023761,-0.028926,-0.011740,-0.040643,-0.031579,-0.055156,-0.028043
46,2019-08-26,-0.009048,0.012723,0.002553,0.003903,0.015298,0.000905,0.001773,0.008104,0.011638,...,0.005861,0.011519,0.018999,-0.004172,0.052482,0.007712,0.010940,-0.017735,0.003807,-0.004371
47,2019-08-27,-0.029377,-0.019622,-0.013231,0.003888,-0.039686,0.009602,-0.004485,-0.018489,-0.025473,...,-0.016752,-0.021708,-0.011284,-0.016760,-0.095687,-0.003102,-0.022795,-0.025626,-0.007585,0.012430
48,2019-08-28,0.035992,0.006224,0.000505,0.005422,0.013260,-0.004364,0.006283,0.012285,0.024452,...,0.004444,0.012004,0.006710,0.006392,0.037258,0.010373,0.016730,0.016736,0.035669,0.008112
49,2019-08-29,0.039084,0.027168,0.003589,0.002311,-0.034896,0.000337,0.019910,0.004854,0.032099,...,0.007375,0.034867,0.016932,0.003529,0.001437,0.011499,0.035226,0.046443,0.026201,0.019814
50,2019-08-30,-0.000380,-0.004487,0.005811,0.004612,-0.011525,0.012358,-0.002772,0.008857,-0.009968,...,0.000000,0.006947,-0.001292,0.004923,-0.010043,0.026797,0.013432,0.007303,0.009118,0.001232

In [6]:
# Assignment9
mdf_intersect["sum_returns"] = mdf_intersect.sum(axis = 1)
display(mdf_intersect)

spy_data_frame=pd.read_csv("/Users/yachiru/Documents/nyu/class/DSforBusinessTech/assignment/assignment1/stock_data/spy/SPY.csv")
spy_data_frame["SPY"] = (spy_data_frame['Close'].diff() / spy_data_frame['Close'].shift(1)).fillna(0)

display(spy_data_frame)

mdf_intersect = mdf_intersect.merge(spy_data_frame.iloc[:, [0, -1]], how = 'inner', on = 'Date')
display(mdf_intersect)

corr = mdf_intersect["sum_returns"].corr(mdf_intersect["SPY"])
print(corr)

,Date,AAL,UAL,VRTX,AQN,MO,NVS,MCHP,BZH,EDIT,...,XRX,AAPL,KRG,TEVA,RIO,MU,AA,NWL,BLK,sum_returns
0,2019-06-20,-0.031918,-0.017144,0.002311,0.011327,0.007214,0.005005,0.009794,0.005025,-0.012775,...,0.014016,0.008036,-0.013338,-0.007335,0.008347,0.006187,0.004911,0.002661,0.023365,0.387228
1,2019-06-21,-0.018040,-0.004820,0.009881,-0.002400,-0.044966,0.001299,-0.005609,-0.029000,0.018742,...,-0.005360,-0.003409,-0.010178,0.040640,-0.002152,-0.026354,0.003998,0.019244,0.005713,-0.361976
2,2019-06-24,0.007919,-0.001960,-0.016035,-0.002406,0.010208,0.003352,0.000353,-0.023687,-0.045554,...,-0.012479,-0.001006,-0.025707,-0.023669,0.011117,-0.001805,-0.016814,-0.041016,-0.010337,-0.792729
3,2019-06-25,-0.017599,-0.017216,-0.004806,-0.004019,0.005980,-0.004634,-0.013979,-0.024262,0.047728,...,-0.001723,-0.015158,-0.009235,0.067879,0.000821,-0.015366,0.014851,0.008147,-0.010876,-0.631469
4,2019-06-26,0.006398,0.003174,-0.013822,-0.006457,-0.017220,-0.012667,0.038480,-0.007568,-0.022777,...,0.015535,0.021629,-0.017976,0.009081,0.011641,0.133415,0.029268,0.035690,0.005672,0.110097
5,2019-06-27,0.021933,0.012891,0.005178,-0.006492,-0.000834,-0.002851,-0.000344,0.034858,0.049305,...,0.007989,-0.000300,0.023729,0.021372,0.004052,0.027808,-0.003447,-0.012354,0.007636,0.685900
6,2019-06-28,0.014308,0.012958,0.026879,0.001654,-0.011482,0.004069,-0.005049,0.011579,0.056813,...,0.002264,-0.009112,0.001987,0.016520,0.006295,0.013659,0.012106,0.015142,0.010377,0.944625
7,2019-07-01,0.008280,0.010280,-0.008398,-0.005780,0.007181,0.006023,0.054210,0.013528,-0.020210,...,0.023440,0.018341,-0.014541,0.009751,0.007058,0.039388,-0.020931,-0.012970,0.007735,0.360311
8,2019-07-02,-0.020985,0.004749,-0.012703,0.011628,0.019082,0.002613,-0.018162,0.013347,-0.012789,...,-0.016556,0.005855,0.016097,0.011803,0.015132,-0.012715,0.016579,-0.019054,-0.006470,-0.073976
9,2019-07-03,0.016465,0.020254,0.020776,0.015599,0.012140,0.004343,0.000334,0.019250,0.027163,...,0.023569,0.008287,0.006601,0.018028,-0.006590,-0.000252,-0.025751,0.035499,0.011663,0.996453
10,2019-07-05,-0.007946,-0.000882,-0.026847,-0.004042,-0.008335,-0.022270,-0.006015,-0.009940,-0.021155,...,-0.001097,-0.000881,0.005902,-0.013542,-0.051493,-0.004294,0.018943,-0.009056,0.007026,-0.169180
11,2019-07-08,0.010166,0.000883,-0.008916,0.001623,0.006150,0.003317,-0.014569,0.015060,-0.003741,...,-0.021405,-0.020614,0.002608,-0.031679,0.007161,0.025114,-0.035884,-0.007180,-0.013056,-0.257757
12,2019-07-09,-0.013114,-0.013345,0.009675,0.000810,-0.014874,0.003527,0.014671,-0.004946,0.021277,...,0.008132,0.006099,0.011053,0.021810,0.001653,0.023262,-0.003587,-0.011177,0.002921,0.030546
13,2019-07-10,0.017923,0.000559,0.001681,0.004858,0.013444,0.003624,0.001569,0.045726,0.018791,...,-0.013074,0.009889,-0.004502,-0.020277,0.013371,0.037485,0.017552,-0.007979,0.003630,0.268806
14,2019-07-11,0.002732,-0.000335,-0.015384,0.003223,0.005306,-0.011489,0.004141,0.007605,-0.006415,...,-0.015784,-0.007282,-0.016150,-0.022876,-0.008796,0.013520,-0.004865,-0.020107,0.009526,-0.139487
15,2019-07-12,0.022707,0.019557,-0.001250,0.000803,0.004872,-0.023799,0.022066,0.006604,0.002825,...,0.012887,0.007683,0.007879,0.031215,-0.002301,0.023689,0.004444,0.022572,0.004978,0.689189
16,2019-07-15,-0.005032,0.000986,0.003299,-0.004815,0.000808,0.012246,0.009705,-0.012184,0.018109,...,-0.010178,0.009395,0.007818,-0.074595,0.013177,-0.002471,0.025221,0.013378,-0.001575,0.088526
17,2019-07-16,0.018149,0.028471,-0.001191,0.002419,-0.002624,-0.001232,-0.019978,0.016129,-0.038340,...,0.008569,-0.003460,-0.001293,-0.042056,-0.017558,-0.030180,0.006474,0.000000,-0.009404,-0.107169
18,2019-07-17,-0.028054,0.009157,0.005563,0.008850,0.000810,0.012001,0.000110,-0.014939,-0.011097,...,-0.012744,-0.005623,0.003883,-0.010976,0.008770,0.007199,-0.007290,-0.018482,-0.012930,-0.547699
19,2019-07-18,0.014432,0.005275,0.005363,0.007974,0.021840,0.044664,0.023579,0.002844,0.025353,...,0.009753,0.011360,-0.001289,-0.034525,-0.005085,0.029975,0.011231,-0.013450,0.008790,0.441366
20,2019-07-19,-0.019561,-0.015218,-0.022236,-0.007911,0.000000,-0.007426,-0.006351,-0.003781,-0.033239,...,-0.025852,-0.014928,-0.020013,0.010217,0.007584,0.019028,-0.012815,-0.023177,-0.003999,-0.988458
21,2019-07-22,-0.005441,0.000000,-0.000287,-0.003190,-0.017020,0.005130,0.013541,0.012334,0.039413,...,-0.007582,0.022854,-0.003953,-0.027813,-0.005891,0.036687,-0.005625,-0.010467,0.000655,0.085981
22,2019-07-23,0.025228,0.011723,0.006664,0.000000,0.007449,-0.003828,0.021484,-0.015933,0.024203,...,0.020276,0.007818,0.019841,-0.001300,-0.003292,-0.005086,-0.001305,0.007052,0.008257,0.777671
23,2019-07-24,0.025497,0.001896,-0.010842,-0.005600,-0.005196,-0.003843,0.044679,0.046667,0.024025,...,0.010657,-0.000814,0.016213,0.041667,-0.041453,0.022151,0.026579,0.007703,-0.000649,0.869473
24,2019-07-25,-0.084417,-0.012407,-0.021807,0.002414,-0.003817,-0.014252,-0.017929,0.030027,-0.041538,...,-0.015674,-0.007907,-0.003191,-0.050000,-0.012750,-0.004584,-0.030136,-0.018068,-0.006874,-1.056451
25,2019-07-26,-0.013577,-0.006068,-0.016100,0.004013,0.005445,0.013045,0.000612,0.000000,0.050562,...,-0.003185,0.003478,0.001921,-0.007895,0.004014,-0.005861,0.012254,0.004954,0.009074,0.652657
26,2019-07-29,-0.016005,0.000857,-0.003597,0.005596,0.009025,-0.011375,0.002752,-0.011484,0.003438,...,-0.014232,0.009339,0.004473,0.042440,0.004867,-0.014108,-0.000432,-0.002113,0.000293,-0.297944
27,2019-07-30,-0.000976,0.005244,0.019912,-0.003180,-0.035977,-0.005319,-0.014129,0.046470,0.020556,...,-0.034178,-0.004292,0.017812,0.006361,0.003979,0.013669,-0.003460,-0.001411,0.000209,-0.102027
28,2019-07-31,-0.006513,-0.021505,-0.017223,-0.007177,-0.029485,-0.000655,-0.026498,0.000854,-0.058187,...,-0.020744,0.020404,-0.005625,0.002528,-0.016540,-0.054151,-0.023872,0.002827,-0.022429,-1.045514
29,2019-08-01,-0.021960,-0.015450,0.076041,0.014458,0.017208,0.007971,-0.029867,-0.040102,0.020990,...,-0.014330,-0.021639,-0.016342,-0.012610,-0.044674,-0.028737,-0.051578,-0.053559,-0.033634,-1.000549
30,2019-08-02,-0.013070,-0.011714,-0.005020,0.010293,0.001044,-0.001408,-0.038646,0.016889,-0.031420,...,-0.033502,-0.021158,-0.001278,0.003831,-0.022923,0.011009,-0.029067,0.142219,-0.008253,-0.372348
31,2019-08-05,-0.031239,-0.042939,-0.015864,-0.011755,-0.026706,-0.015839,-0.050420,-0.043706,-0.041650,...,-0.040549,-0.052348,-0.042226,-0.003817,-0.021396,-0.048548,-0.027040,-0.015645,-0.037705,-2.629654
32,2019-08-06,-0.002462,-0.001519,0.007861,0.015067,-0.010504,-0.027557,0.017221,0.031993,0.029252,...,-0.001704,0.018930,0.008684,-0.098340,0.000000,0.016214,-0.012903,0.047682,0.010178,0.587357
33,2019-08-07,0.009520,0.011935,-0.007291,0.006250,0.001516,0.006574,0.039502,0.038973,-0.005278,...,-0.001366,0.010355,0.009272,0.032578,-0.011124,-0.020413,-0.015586,0.019595,-0.012210,0.550914
34,2019-08-08,0.015718,0.013298,0.041503,0.004658,0.005840,0.027365,0.026917,-0.007673,0.011429,...,0.016068,0.022056,0.024278,0.000000,0.011988,0.021078,0.027579,0.004340,0.016799,1.667765
35,2019-08-09,-0.010316,-0.007417,0.000219,0.002318,-0.007312,-0.004494,-0.032489,-0.002577,0.002421,...,-0.051144,-0.008240,0.000000,-0.037037,-0.036920,-0.026038,-0.045229,-0.022222,-0.025799,-1.143860
36,2019-08-12,-0.039611,-0.026098,-0.017160,-0.005397,-0.003900,0.003083,-0.006261,-0.012920,-0.032206,...,-0.003901,-0.002537,-0.014734,0.000000,0.000410,0.014692,-0.035919,0.000000,-0.023198,-1.323351
37,2019-08-13,-0.004703,-0.001771,0.022631,0.006202,0.017399,0.000220,0.035281,0.025305,0.022878,...,0.009256,0.042348,-0.009103,0.002849,0.024795,0.048421,0.031858,0.010732,0.021348,1.174656
38,2019-08-14,-0.051254,-0.030866,-0.023816,-0.005393,-0.019453,-0.023156,-0.038393,-0.020426,0.020333,...,-0.027160,-0.029765,-0.027559,-0.105114,-0.028994,-0.048223,-0.084249,-0.016865,-0.032822,-2.801341
39,2019-08-15,-0.026437,-0.004027,0.008856,-0.000775,-0.008284,-0.004831,-0.000806,-0.017376,0.010761,...,0.012690,-0.004981,-0.017544,-0.022222,0.008443,0.004757,-0.033143,-0.000635,-0.005032,-0.407483
40,2019-08-16,0.014955,0.016172,0.021091,-0.001550,0.021763,0.010047,0.017734,0.011494,0.011041,...,0.022914,0.023595,0.005495,0.040584,-0.003063,0.031013,0.035461,0.006993,0.024823,1.717460
41,2019-08-19,0.012020,0.011454,0.011625,0.003882,0.004733,0.000112,0.018896,0.051573,0.005460,...,-0.007350,0.018644,0.019126,0.046802,0.006350,0.033525,0.040525,0.003788,0.014543,1.189793
42,2019-08-20,-0.010345,0.001669,-0.018013,0.000773,-0.014347,-0.004470,-0.008853,0.048213,-0.007370,...,-0.009873,0.000048,-0.022788,0.044709,-0.008345,-0.017329,0.004388,0.012579,-0.017083,-0.702049
43,2019-08-21,0.022842,0.014995,0.014587,0.003091,0.004780,0.011675,0.001462,0.020619,0.010942,...,0.018162,0.010839,-0.008916,0.062767,-0.004926,-0.001357,0.008738,0.027950,0.006311,0.882859
44,2019-08-22,0.004164,0.003166,-0.011749,-0.004622,0.007351,-0.012428,0.006291,-0.008547,-0.022420,...,0.000700,-0.000846,0.019377,-0.025503,0.001444,0.013810,-0.022740,0.007855,-0.004585,0.238221
45,2019-08-23,-0.041839,-0.035414,-0.021877,-0.008514,-0.003864,-0.006292,-0.055816,-0.032915,-0.048636,...,-0.029011,-0.046221,-0.023761,-0.028926,-0.011740,-0.040643,-0.031579,-0.055156,-0.028043,-2.952789
46,2019-08-26,-0.009048,0.012723,0.002553,0.003903,0.015298,0.000905,0.001773,0.008104,0.011638,...,0.011519,0.018999,-0.004172,0.052482,0.007712,0.010940,-0.017735,0.003807,-0.004371,1.048989
47,2019-08-27,-0.029377,-0.019622,-0.013231,0.003888,-0.039686,0.009602,-0.004485,-0.018489,-0.025473,...,-0.021708,-0.011284,-0.016760,-0.095687,-0.003102,-0.022795,-0.025626,-0.007585,0.012430,-0.901406
48,2019-08-28,0.035992,0.006224,0.000505,0.005422,0.013260,-0.004364,0.006283,0.012285,0.024452,...,0.012004,0.006710,0.006392,0.037258,0.010373,0.016730,0.016736,0.035669,0.008112,1.006220
49,2019-08-29,0.039084,0.027168,0.003589,0.002311,-0.034896,0.000337,0.019910,0.004854,0.032099,...,0.034867,0.016932,0.003529,0.001437,0.011499,0.035226,0.046443,0.026201,0.019814,1.591059
50,2019-08-30,-0.000380,-0.004487,0.005811,0.004612,-0.011525,0.012358,-0.002772,0.008857,-0.009968,...,0.006947,-0.001292,0.004923,-0.010043,0.026797,0.013432,0.007303,0.009118,0.001232,0.047288

,Date,Open,High,Low,Close,Adj Close,Volume,SPY
0,2014-09-02,200.970001,201.000000,199.860001,200.610001,181.672318,72426000,0.000000
1,2014-09-03,201.380005,201.410004,200.220001,200.500000,181.572693,57462000,-0.000548
2,2014-09-04,200.839996,201.580002,199.660004,200.210007,181.310104,85236000,-0.001446
3,2014-09-05,200.169998,201.190002,199.410004,201.110001,182.125122,102177000,0.004495
4,2014-09-08,200.919998,201.210007,200.000000,200.589996,181.654205,64146000,-0.002586
...,...,...,...,...,...,...,...,...
1254,2019-08-26,287.269989,288.000000,285.579987,288.000000,288.000000,72423800,0.011058
1255,2019-08-27,289.540009,289.950012,286.029999,286.869995,286.869995,66668900,-0.003924
1256,2019-08-28,286.140015,289.070007,285.250000,288.890015,288.890015,59696700,0.007042
1257,2019-08-29,291.720001,293.160004,290.609985,292.579987,292.579987,57899400,0.012773
1258,2019-08-30,294.220001,294.239990,291.420013,292.450012,292.450012,62901200,-0.000444

,Date,AAL,UAL,VRTX,AQN,MO,NVS,MCHP,BZH,EDIT,...,AAPL,KRG,TEVA,RIO,MU,AA,NWL,BLK,sum_returns,SPY
0,2019-06-20,-0.031918,-0.017144,0.002311,0.011327,0.007214,0.005005,0.009794,0.005025,-0.012775,...,0.008036,-0.013338,-0.007335,0.008347,0.006187,0.004911,0.002661,0.023365,0.387228,0.009554
1,2019-06-21,-0.018040,-0.004820,0.009881,-0.002400,-0.044966,0.001299,-0.005609,-0.029000,0.018742,...,-0.003409,-0.010178,0.040640,-0.002152,-0.026354,0.003998,0.019244,0.005713,-0.361976,-0.006287
2,2019-06-24,0.007919,-0.001960,-0.016035,-0.002406,0.010208,0.003352,0.000353,-0.023687,-0.045554,...,-0.001006,-0.025707,-0.023669,0.011117,-0.001805,-0.016814,-0.041016,-0.010337,-0.792729,-0.001224
3,2019-06-25,-0.017599,-0.017216,-0.004806,-0.004019,0.005980,-0.004634,-0.013979,-0.024262,0.047728,...,-0.015158,-0.009235,0.067879,0.000821,-0.015366,0.014851,0.008147,-0.010876,-0.631469,-0.009808
4,2019-06-26,0.006398,0.003174,-0.013822,-0.006457,-0.017220,-0.012667,0.038480,-0.007568,-0.022777,...,0.021629,-0.017976,0.009081,0.011641,0.133415,0.029268,0.035690,0.005672,0.110097,-0.000997
5,2019-06-27,0.021933,0.012891,0.005178,-0.006492,-0.000834,-0.002851,-0.000344,0.034858,0.049305,...,-0.000300,0.023729,0.021372,0.004052,0.027808,-0.003447,-0.012354,0.007636,0.685900,0.003546
6,2019-06-28,0.014308,0.012958,0.026879,0.001654,-0.011482,0.004069,-0.005049,0.011579,0.056813,...,-0.009112,0.001987,0.016520,0.006295,0.013659,0.012106,0.015142,0.010377,0.944625,0.005146
7,2019-07-01,0.008280,0.010280,-0.008398,-0.005780,0.007181,0.006023,0.054210,0.013528,-0.020210,...,0.018341,-0.014541,0.009751,0.007058,0.039388,-0.020931,-0.012970,0.007735,0.360311,0.009079
8,2019-07-02,-0.020985,0.004749,-0.012703,0.011628,0.019082,0.002613,-0.018162,0.013347,-0.012789,...,0.005855,0.016097,0.011803,0.015132,-0.012715,0.016579,-0.019054,-0.006470,-0.073976,0.002604
9,2019-07-03,0.016465,0.020254,0.020776,0.015599,0.012140,0.004343,0.000334,0.019250,0.027163,...,0.008287,0.006601,0.018028,-0.006590,-0.000252,-0.025751,0.035499,0.011663,0.996453,0.007995
10,2019-07-05,-0.007946,-0.000882,-0.026847,-0.004042,-0.008335,-0.022270,-0.006015,-0.009940,-0.021155,...,-0.000881,0.005902,-0.013542,-0.051493,-0.004294,0.018943,-0.009056,0.007026,-0.169180,-0.001138
11,2019-07-08,0.010166,0.000883,-0.008916,0.001623,0.006150,0.003317,-0.014569,0.015060,-0.003741,...,-0.020614,0.002608,-0.031679,0.007161,0.025114,-0.035884,-0.007180,-0.013056,-0.257757,-0.005495
12,2019-07-09,-0.013114,-0.013345,0.009675,0.000810,-0.014874,0.003527,0.014671,-0.004946,0.021277,...,0.006099,0.011053,0.021810,0.001653,0.023262,-0.003587,-0.011177,0.002921,0.030546,0.001247
13,2019-07-10,0.017923,0.000559,0.001681,0.004858,0.013444,0.003624,0.001569,0.045726,0.018791,...,0.009889,-0.004502,-0.020277,0.013371,0.037485,0.017552,-0.007979,0.003630,0.268806,0.004778
14,2019-07-11,0.002732,-0.000335,-0.015384,0.003223,0.005306,-0.011489,0.004141,0.007605,-0.006415,...,-0.007282,-0.016150,-0.022876,-0.008796,0.013520,-0.004865,-0.020107,0.009526,-0.139487,0.002344
15,2019-07-12,0.022707,0.019557,-0.001250,0.000803,0.004872,-0.023799,0.022066,0.006604,0.002825,...,0.007683,0.007879,0.031215,-0.002301,0.023689,0.004444,0.022572,0.004978,0.689189,0.004477
16,2019-07-15,-0.005032,0.000986,0.003299,-0.004815,0.000808,0.012246,0.009705,-0.012184,0.018109,...,0.009395,0.007818,-0.074595,0.013177,-0.002471,0.025221,0.013378,-0.001575,0.088526,0.000333
17,2019-07-16,0.018149,0.028471,-0.001191,0.002419,-0.002624,-0.001232,-0.019978,0.016129,-0.038340,...,-0.003460,-0.001293,-0.042056,-0.017558,-0.030180,0.006474,0.000000,-0.009404,-0.107169,-0.003225
18,2019-07-17,-0.028054,0.009157,0.005563,0.008850,0.000810,0.012001,0.000110,-0.014939,-0.011097,...,-0.005623,0.003883,-0.010976,0.008770,0.007199,-0.007290,-0.018482,-0.012930,-0.547699,-0.006805
19,2019-07-18,0.014432,0.005275,0.005363,0.007974,0.021840,0.044664,0.023579,0.002844,0.025353,...,0.011360,-0.001289,-0.034525,-0.005085,0.029975,0.011231,-0.013450,0.008790,0.441366,0.003661
20,2019-07-19,-0.019561,-0.015218,-0.022236,-0.007911,0.000000,-0.007426,-0.006351,-0.003781,-0.033239,...,-0.014928,-0.020013,0.010217,0.007584,0.019028,-0.012815,-0.023177,-0.003999,-0.988458,-0.005555
21,2019-07-22,-0.005441,0.000000,-0.000287,-0.003190,-0.017020,0.005130,0.013541,0.012334,0.039413,...,0.022854,-0.003953,-0.027813,-0.005891,0.036687,-0.005625,-0.010467,0.000655,0.085981,0.002456
22,2019-07-23,0.025228,0.011723,0.006664,0.000000,0.007449,-0.003828,0.021484,-0.015933,0.024203,...,0.007818,0.019841,-0.001300,-0.003292,-0.005086,-0.001305,0.007052,0.008257,0.777671,0.007150
23,2019-07-24,0.025497,0.001896,-0.010842,-0.005600,-0.005196,-0.003843,0.044679,0.046667,0.024025,...,-0.000814,0.016213,0.041667,-0.041453,0.022151,0.026579,0.007703,-0.000649,0.869473,0.004700
24,2019-07-25,-0.084417,-0.012407,-0.021807,0.002414,-0.003817,-0.014252,-0.017929,0.030027,-0.041538,...,-0.007907,-0.003191,-0.050000,-0.012750,-0.004584,-0.030136,-0.018068,-0.006874,-1.056451,-0.004777
25,2019-07-26,-0.013577,-0.006068,-0.016100,0.004013,0.005445,0.013045,0.000612,0.000000,0.050562,...,0.003478,0.001921,-0.007895,0.004014,-0.005861,0.012254,0.004954,0.009074,0.652657,0.006700
26,2019-07-29,-0.016005,0.000857,-0.003597,0.005596,0.009025,-0.011375,0.002752,-0.011484,0.003438,...,0.009339,0.004473,0.042440,0.004867,-0.014108,-0.000432,-0.002113,0.000293,-0.297944,-0.001821
27,2019-07-30,-0.000976,0.005244,0.019912,-0.003180,-0.035977,-0.005319,-0.014129,0.046470,0.020556,...,-0.004292,0.017812,0.006361,0.003979,0.013669,-0.003460,-0.001411,0.000209,-0.102027,-0.002455
28,2019-07-31,-0.006513,-0.021505,-0.017223,-0.007177,-0.029485,-0.000655,-0.026498,0.000854,-0.058187,...,0.020404,-0.005625,0.002528,-0.016540,-0.054151,-0.023872,0.002827,-0.022429,-1.045514,-0.010940
29,2019-08-01,-0.021960,-0.015450,0.076041,0.014458,0.017208,0.007971,-0.029867,-0.040102,0.020990,...,-0.021639,-0.016342,-0.012610,-0.044674,-0.028737,-0.051578,-0.053559,-0.033634,-1.000549,-0.008708
30,2019-08-02,-0.013070,-0.011714,-0.005020,0.010293,0.001044,-0.001408,-0.038646,0.016889,-0.031420,...,-0.021158,-0.001278,0.003831,-0.022923,0.011009,-0.029067,0.142219,-0.008253,-0.372348,-0.007530
31,2019-08-05,-0.031239,-0.042939,-0.015864,-0.011755,-0.026706,-0.015839,-0.050420,-0.043706,-0.041650,...,-0.052348,-0.042226,-0.003817,-0.021396,-0.048548,-0.027040,-0.015645,-0.037705,-2.629654,-0.030073
32,2019-08-06,-0.002462,-0.001519,0.007861,0.015067,-0.010504,-0.027557,0.017221,0.031993,0.029252,...,0.018930,0.008684,-0.098340,0.000000,0.016214,-0.012903,0.047682,0.010178,0.587357,0.014023
33,2019-08-07,0.009520,0.011935,-0.007291,0.006250,0.001516,0.006574,0.039502,0.038973,-0.005278,...,0.010355,0.009272,0.032578,-0.011124,-0.020413,-0.015586,0.019595,-0.012210,0.550914,0.000591
34,2019-08-08,0.015718,0.013298,0.041503,0.004658,0.005840,0.027365,0.026917,-0.007673,0.011429,...,0.022056,0.024278,0.000000,0.011988,0.021078,0.027579,0.004340,0.016799,1.667765,0.019620
35,2019-08-09,-0.010316,-0.007417,0.000219,0.002318,-0.007312,-0.004494,-0.032489,-0.002577,0.002421,...,-0.008240,0.000000,-0.037037,-0.036920,-0.026038,-0.045229,-0.022222,-0.025799,-1.143860,-0.006812
36,2019-08-12,-0.039611,-0.026098,-0.017160,-0.005397,-0.003900,0.003083,-0.006261,-0.012920,-0.032206,...,-0.002537,-0.014734,0.000000,0.000410,0.014692,-0.035919,0.000000,-0.023198,-1.323351,-0.012173
37,2019-08-13,-0.004703,-0.001771,0.022631,0.006202,0.017399,0.000220,0.035281,0.025305,0.022878,...,0.042348,-0.009103,0.002849,0.024795,0.048421,0.031858,0.010732,0.021348,1.174656,0.015552
38,2019-08-14,-0.051254,-0.030866,-0.023816,-0.005393,-0.019453,-0.023156,-0.038393,-0.020426,0.020333,...,-0.029765,-0.027559,-0.105114,-0.028994,-0.048223,-0.084249,-0.016865,-0.032822,-2.801341,-0.029568
39,2019-08-15,-0.026437,-0.004027,0.008856,-0.000775,-0.008284,-0.004831,-0.000806,-0.017376,0.010761,...,-0.004981,-0.017544,-0.022222,0.008443,0.004757,-0.033143,-0.000635,-0.005032,-0.407483,0.002642
40,2019-08-16,0.014955,0.016172,0.021091,-0.001550,0.021763,0.010047,0.017734,0.011494,0.011041,...,0.023595,0.005495,0.040584,-0.003063,0.031013,0.035461,0.006993,0.024823,1.717460,0.014755
41,2019-08-19,0.012020,0.011454,0.011625,0.003882,0.004733,0.000112,0.018896,0.051573,0.005460,...,0.018644,0.019126,0.046802,0.006350,0.033525,0.040525,0.003788,0.014543,1.189793,0.012048
42,2019-08-20,-0.010345,0.001669,-0.018013,0.000773,-0.014347,-0.004470,-0.008853,0.048213,-0.007370,...,0.000048,-0.022788,0.044709,-0.008345,-0.017329,0.004388,0.012579,-0.017083,-0.702049,-0.007663
43,2019-08-21,0.022842,0.014995,0.014587,0.003091,0.004780,0.011675,0.001462,0.020619,0.010942,...,0.010839,-0.008916,0.062767,-0.004926,-0.001357,0.008738,0.027950,0.006311,0.882859,0.008135
44,2019-08-22,0.004164,0.003166,-0.011749,-0.004622,0.007351,-0.012428,0.006291,-0.008547,-0.022420,...,-0.000846,0.019377,-0.025503,0.001444,0.013810,-0.022740,0.007855,-0.004585,0.238221,-0.000308
45,2019-08-23,-0.041839,-0.035414,-0.021877,-0.008514,-0.003864,-0.006292,-0.055816,-0.032915,-0.048636,...,-0.046221,-0.023761,-0.028926,-0.011740,-0.040643,-0.031579,-0.055156,-0.028043,-2.952789,-0.025687
46,2019-08-26,-0.009048,0.012723,0.002553,0.003903,0.015298,0.000905,0.001773,0.008104,0.011638,...,0.018999,-0.004172,0.052482,0.007712,0.010940,-0.017735,0.003807,-0.004371,1.048989,0.011058
47,2019-08-27,-0.029377,-0.019622,-0.013231,0.003888,-0.039686,0.009602,-0.004485,-0.018489,-0.025473,...,-0.011284,-0.016760,-0.095687,-0.003102,-0.022795,-0.025626,-0.007585,0.012430,-0.901406,-0.003924
48,2019-08-28,0.035992,0.006224,0.000505,0.005422,0.013260,-0.004364,0.006283,0.012285,0.024452,...,0.006710,0.006392,0.037258,0.010373,0.016730,0.016736,0.035669,0.008112,1.006220,0.007042
49,2019-08-29,0.039084,0.027168,0.003589,0.002311,-0.034896,0.000337,0.019910,0.004854,0.032099,...,0.016932,0.003529,0.001437,0.011499,0.035226,0.046443,0.026201,0.019814,1.591059,0.012773
50,2019-08-30,-0.000380,-0.004487,0.005811,0.004612,-0.011525,0.012358,-0.002772,0.008857,-0.009968,...,-0.001292,0.004923,-0.010043,0.026797,0.013432,0.007303,0.009118,0.001232,0.047288,-0.000444

0.9463332899604906

In [21]:
# spy_data_frame=pd.read_csv("/Users/yachiru/Documents/extra/otherDocuments/SPY.csv")
# # spy_data_frame["diff"] = (spy_data_frame['Adj Close'].diff() / spy_data_frame['Adj Close'])
# # spy_data_frame["diff"] = spy_data_frame['Adj Close'].diff()
# spy_data_frame["Adj Close shift"] = spy_data_frame['Adj Close'].shift(1)
# spy_data_frame["diff"] = spy_data_frame['Adj Close']/spy_data_frame["Adj Close shift"] - 1
# spy_data_frame.to_csv('/Users/yachiru/Documents/extra/otherDocuments/new_SPY.csv')
# print(spy_data_frame[spy_data_frame['diff'] == -0.16035482456059746])

# print(spy_data_frame["diff"].min())
# display(spy_data_frame)

           Date        Open        High        Low      Close  Adj Close  \
188  2008-10-01  115.269997  116.690002  83.580002  96.830002  74.459824

          Volume  Adj Close shift      diff
188  11882352200        88.680107 -0.160355
-0.16035482456059746

,Date,Open,High,Low,Close,Adj Close,Volume,Adj Close shift,diff
0,1993-02-01,43.968750,45.125000,42.812500,44.406250,25.900745,5417600,NaN,NaN
1,1993-03-01,44.562500,45.843750,44.218750,45.187500,26.356440,3019200,25.900745,0.017594
2,1993-04-01,45.250000,45.250000,43.281250,44.031250,25.803320,2697200,26.356440,-0.020986
3,1993-05-01,44.093750,45.656250,43.843750,45.218750,26.499229,1808000,25.803320,0.026970
4,1993-06-01,45.375000,45.812500,44.218750,45.062500,26.407658,3438000,26.499229,-0.003456
...,...,...,...,...,...,...,...,...,...
344,2021-10-01,430.980011,459.559998,426.359985,459.250000,457.642181,1508513100,426.272003,0.073592
345,2021-11-01,460.299988,473.540009,455.299988,455.559998,453.965118,1335249700,457.642181,-0.008035
346,2021-12-01,461.640015,479.000000,448.920013,474.959991,473.297180,1927059600,453.965118,0.042585
347,2022-01-01,476.299988,479.980011,420.760010,449.910004,449.910004,2485079700,473.297180,-0.049413
348,2022-02-01,450.679993,458.119995,410.640015,437.750000,437.750000,2151990100,449.910004,-0.027028

In [7]:
# Assignment10
for i in range(1, len(mdf_intersect.columns)):
    column_name = mdf_intersect.columns.values[i]
    corr_by_column = mdf_intersect.iloc[:, i].corr(mdf_intersect["SPY"])
    startDate = "2019-06-20"
    endDate = "2019-08-31"
    
    print(f'The correlation between SPY and {column_name} is {100 * corr_by_column:.2f}% (start date : {startDate}. end date : {endDate})')

The correlation between SPY and AAL is 60.19% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and UAL is 73.93% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and VRTX is 42.80% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and AQN is 44.39% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and MO is 38.45% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and NVS is 31.64% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and MCHP is 75.89% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and BZH is 48.86% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and EDIT is 44.77% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and FCX is 63.09% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and HAIN is 40.47% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and LYFT is 33.66% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and SKYW is 73.78% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and BG is 59.35% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and F is 52.66% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and ADBE is 79.84% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and SAVE is 32.28% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and JCP is 39.95% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and PEP is 68.31% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and IDA is 41.15% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and COST is 64.01% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and XEL is 46.38% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and DLR is 48.87% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and JBLU is 56.06% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and MRK is 48.14% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and EBAY is 84.83% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and SBUX is 55.17% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and SNAP is 40.84% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and AMT is 30.74% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and DPZ is 29.86% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and PG is 61.06% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and CAT is 59.20% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and MCD is 59.74% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and AMZN is 84.55% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and INTC is 71.90% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and GM is 71.13% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and SJM is 31.17% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and DEO is 35.95% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and EXPE is 75.23% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and KO is 52.98% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and NEE is 34.37% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and MSFT is 88.21% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and ALGT is 37.55% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and FL is 64.10% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and CMG is 48.61% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and AMAT is 68.80% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and BMRN is 49.81% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and EVRG is 43.23% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and SPG is 57.99% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and NVDA is 78.42% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and BFC is 26.44% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and BBBY is 29.18% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and HSIC is 42.38% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and HE is 64.73% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and CMCSA is 85.94% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and NKE is 79.17% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and CLDR is 42.08% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and CELG is 42.10% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and FB is 82.69% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and KR is 33.23% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and IBM is 76.64% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and COLM is 70.61% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and KMB is 66.47% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and GS is 79.62% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and CLX is 46.03% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and GE is 48.70% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and CVS is 46.96% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and JPM is 81.17% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and SD is 49.27% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and JBHT is 57.62% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and PZZA is 30.48% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and GOOGL is 68.15% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and ALK is 56.07% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and XLNX is 62.64% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and PFE is 54.20% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and CRI is 46.91% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and REGN is 61.29% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and CL is 63.12% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and GPS is 53.79% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and QCOM is 59.88% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and LUV is 67.64% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and ALXN is 47.18% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and LW is 19.21% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and WORK is 21.79% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and CPB is 46.58% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and DAL is 75.01% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and K is 32.08% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and TEAM is 49.09% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and NAT is 47.32% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and EQR is 54.90% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and HBI is 42.86% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and XRX is 70.29% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and AAPL is 82.36% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and KRG is 58.14% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and TEVA is 26.68% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and RIO is 44.31% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and MU is 56.75% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and AA is 64.01% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and NWL is 28.32% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and BLK is 85.83% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and sum_returns is 94.63% (start date : 2019-06-20. end date : 2019-08-31)
The correlation between SPY and SPY is 100.00% (start date : 2019-06-20. end date : 2019-08-31)

In [8]:
# Assignment12
mdf_union = dic["AAL"].iloc[:, [0,-1]]
display(dic["AAL"])

for key, value in dic.items():
    if key == "AAL":
        continue
    else:
        mdf_union = mdf_union.merge(dic[key][['Date',key]], 
                         how = 'outer', on = 'Date')

# mdf_union = mdf_union.merge(spy_data_frame.iloc[:, [0, -1]], how = 'outer', on = 'Date')
        
display(mdf_union)

result = 0
        
for i in range(0, len(mdf_union)):
    count = 0
    for j in range(1, len(mdf_union.columns)):
        if float(mdf_union.iloc[i, j]) > 0.0:
            count = count + 1
    
    if count >= 90:
        result = result + 1

print(result)

,Date,Open,High,Low,Close,Adj Close,Volume,AAL
0,2014-09-02,39.000000,40.540001,38.889999,40.500000,38.543800,10932800,0.000000
1,2014-09-03,39.730000,39.900002,38.669998,39.139999,37.249485,9995100,-0.033580
2,2014-09-04,39.369999,39.980000,38.360001,38.470001,36.611851,12004000,-0.017118
3,2014-09-05,38.509998,38.709999,37.709999,37.849998,36.021797,12067600,-0.016116
4,2014-09-08,37.959999,38.400002,37.959999,38.230000,36.383446,7345800,0.010040
...,...,...,...,...,...,...,...,...
1254,2019-08-26,25.900000,25.910000,25.030001,25.190001,25.190001,6722600,-0.009048
1255,2019-08-27,25.270000,25.340000,24.320000,24.450001,24.450001,7503700,-0.029377
1256,2019-08-28,24.410000,25.510000,24.230000,25.330000,25.330000,9079100,0.035992
1257,2019-08-29,25.790001,26.610001,25.700001,26.320000,26.320000,7205600,0.039084
1258,2019-08-30,26.400000,26.830000,26.160000,26.309999,26.309999,5076200,-0.000380

,Date,AAL,UAL,VRTX,AQN,MO,NVS,MCHP,BZH,EDIT,...,HBI,XRX,AAPL,KRG,TEVA,RIO,MU,AA,NWL,BLK
0,2014-09-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2014-09-03,-0.033580,-0.019204,-0.001506,0.010922,0.000694,0.005336,-0.004305,-0.028222,NaN,...,0.007800,0.015173,-0.042207,-0.006907,0.009590,0.003549,0.005395,0.015597,0.002957,0.007268
2,2014-09-04,-0.017118,0.028350,-0.013682,0.002401,-0.001851,-0.009341,0.001029,0.015343,NaN,...,0.024558,-0.030605,-0.008288,-0.003091,-0.028305,-0.013961,0.013889,0.010041,0.010613,0.001570
3,2014-09-05,-0.016116,0.006148,0.038121,-0.023952,0.005795,-0.000643,0.004730,0.009174,NaN,...,0.011938,-0.006608,0.008663,0.011241,0.016227,-0.000189,0.025529,0.010526,-0.002334,0.003045
4,2014-09-08,0.010040,0.007885,-0.005787,-0.012270,0.002305,0.000107,0.002457,0.006417,NaN,...,0.005991,-0.010347,-0.006164,0.009582,0.011543,-0.020770,0.006072,-0.015625,0.003509,-0.000992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2019-08-26,-0.009048,0.012723,0.002553,0.003903,0.015298,0.000905,0.001773,0.008104,0.011638,...,0.005861,0.011519,0.018999,-0.004172,0.052482,0.007712,0.010940,-0.017735,0.003807,-0.004371
1255,2019-08-27,-0.029377,-0.019622,-0.013231,0.003888,-0.039686,0.009602,-0.004485,-0.018489,-0.025473,...,-0.016752,-0.021708,-0.011284,-0.016760,-0.095687,-0.003102,-0.022795,-0.025626,-0.007585,0.012430
1256,2019-08-28,0.035992,0.006224,0.000505,0.005422,0.013260,-0.004364,0.006283,0.012285,0.024452,...,0.004444,0.012004,0.006710,0.006392,0.037258,0.010373,0.016730,0.016736,0.035669,0.008112
1257,2019-08-29,0.039084,0.027168,0.003589,0.002311,-0.034896,0.000337,0.019910,0.004854,0.032099,...,0.007375,0.034867,0.016932,0.003529,0.001437,0.011499,0.035226,0.046443,0.026201,0.019814
1258,2019-08-30,-0.000380,-0.004487,0.005811,0.004612,-0.011525,0.012358,-0.002772,0.008857,-0.009968,...,0.000000,0.006947,-0.001292,0.004923,-0.010043,0.026797,0.013432,0.007303,0.009118,0.001232

9

In [9]:
# Assignment13
mdf_union_dropna = mdf_union.dropna()

display(mdf_union_dropna)
print(len(mdf_union_dropna))

,Date,AAL,UAL,VRTX,AQN,MO,NVS,MCHP,BZH,EDIT,...,HBI,XRX,AAPL,KRG,TEVA,RIO,MU,AA,NWL,BLK
1208,2019-06-20,-0.031918,-0.017144,0.002311,0.011327,0.007214,0.005005,0.009794,0.005025,-0.012775,...,0.018572,0.014016,0.008036,-0.013338,-0.007335,0.008347,0.006187,0.004911,0.002661,0.023365
1209,2019-06-21,-0.018040,-0.004820,0.009881,-0.002400,-0.044966,0.001299,-0.005609,-0.029000,0.018742,...,0.003989,-0.005360,-0.003409,-0.010178,0.040640,-0.002152,-0.026354,0.003998,0.019244,0.005713
1210,2019-06-24,0.007919,-0.001960,-0.016035,-0.002406,0.010208,0.003352,0.000353,-0.023687,-0.045554,...,-0.052213,-0.012479,-0.001006,-0.025707,-0.023669,0.011117,-0.001805,-0.016814,-0.041016,-0.010337
1211,2019-06-25,-0.017599,-0.017216,-0.004806,-0.004019,0.005980,-0.004634,-0.013979,-0.024262,0.047728,...,-0.002994,-0.001723,-0.015158,-0.009235,0.067879,0.000821,-0.015366,0.014851,0.008147,-0.010876
1212,2019-06-26,0.006398,0.003174,-0.013822,-0.006457,-0.017220,-0.012667,0.038480,-0.007568,-0.022777,...,0.016216,0.015535,0.021629,-0.017976,0.009081,0.011641,0.133415,0.029268,0.035690,0.005672
1213,2019-06-27,0.021933,0.012891,0.005178,-0.006492,-0.000834,-0.002851,-0.000344,0.034858,0.049305,...,0.004137,0.007989,-0.000300,0.023729,0.021372,0.004052,0.027808,-0.003447,-0.012354,0.007636
1214,2019-06-28,0.014308,0.012958,0.026879,0.001654,-0.011482,0.004069,-0.005049,0.011579,0.056813,...,0.013537,0.002264,-0.009112,0.001987,0.016520,0.006295,0.013659,0.012106,0.015142,0.010377
1215,2019-07-01,0.008280,0.010280,-0.008398,-0.005780,0.007181,0.006023,0.054210,0.013528,-0.020210,...,-0.014518,0.023440,0.018341,-0.014541,0.009751,0.007058,0.039388,-0.020931,-0.012970,0.007735
1216,2019-07-02,-0.020985,0.004749,-0.012703,0.011628,0.019082,0.002613,-0.018162,0.013347,-0.012789,...,-0.003536,-0.016556,0.005855,0.016097,0.011803,0.015132,-0.012715,0.016579,-0.019054,-0.006470
1217,2019-07-03,0.016465,0.020254,0.020776,0.015599,0.012140,0.004343,0.000334,0.019250,0.027163,...,0.027794,0.023569,0.008287,0.006601,0.018028,-0.006590,-0.000252,-0.025751,0.035499,0.011663
1218,2019-07-05,-0.007946,-0.000882,-0.026847,-0.004042,-0.008335,-0.022270,-0.006015,-0.009940,-0.021155,...,0.000000,-0.001097,-0.000881,0.005902,-0.013542,-0.051493,-0.004294,0.018943,-0.009056,0.007026
1219,2019-07-08,0.010166,0.000883,-0.008916,0.001623,0.006150,0.003317,-0.014569,0.015060,-0.003741,...,0.004603,-0.021405,-0.020614,0.002608,-0.031679,0.007161,0.025114,-0.035884,-0.007180,-0.013056
1220,2019-07-09,-0.013114,-0.013345,0.009675,0.000810,-0.014874,0.003527,0.014671,-0.004946,0.021277,...,-0.016036,0.008132,0.006099,0.011053,0.021810,0.001653,0.023262,-0.003587,-0.011177,0.002921
1221,2019-07-10,0.017923,0.000559,0.001681,0.004858,0.013444,0.003624,0.001569,0.045726,0.018791,...,-0.048894,-0.013074,0.009889,-0.004502,-0.020277,0.013371,0.037485,0.017552,-0.007979,0.003630
1222,2019-07-11,0.002732,-0.000335,-0.015384,0.003223,0.005306,-0.011489,0.004141,0.007605,-0.006415,...,-0.015912,-0.015784,-0.007282,-0.016150,-0.022876,-0.008796,0.013520,-0.004865,-0.020107,0.009526
1223,2019-07-12,0.022707,0.019557,-0.001250,0.000803,0.004872,-0.023799,0.022066,0.006604,0.002825,...,0.018657,0.012887,0.007683,0.007879,0.031215,-0.002301,0.023689,0.004444,0.022572,0.004978
1224,2019-07-15,-0.005032,0.000986,0.003299,-0.004815,0.000808,0.012246,0.009705,-0.012184,0.018109,...,0.014652,-0.010178,0.009395,0.007818,-0.074595,0.013177,-0.002471,0.025221,0.013378,-0.001575
1225,2019-07-16,0.018149,0.028471,-0.001191,0.002419,-0.002624,-0.001232,-0.019978,0.016129,-0.038340,...,0.018652,0.008569,-0.003460,-0.001293,-0.042056,-0.017558,-0.030180,0.006474,0.000000,-0.009404
1226,2019-07-17,-0.028054,0.009157,0.005563,0.008850,0.000810,0.012001,0.000110,-0.014939,-0.011097,...,-0.025989,-0.012744,-0.005623,0.003883,-0.010976,0.008770,0.007199,-0.007290,-0.018482,-0.012930
1227,2019-07-18,0.014432,0.005275,0.005363,0.007974,0.021840,0.044664,0.023579,0.002844,0.025353,...,-0.001819,0.009753,0.011360,-0.001289,-0.034525,-0.005085,0.029975,0.011231,-0.013450,0.008790
1228,2019-07-19,-0.019561,-0.015218,-0.022236,-0.007911,0.000000,-0.007426,-0.006351,-0.003781,-0.033239,...,0.004253,-0.025852,-0.014928,-0.020013,0.010217,0.007584,0.019028,-0.012815,-0.023177,-0.003999
1229,2019-07-22,-0.005441,0.000000,-0.000287,-0.003190,-0.017020,0.005130,0.013541,0.012334,0.039413,...,-0.033878,-0.007582,0.022854,-0.003953,-0.027813,-0.005891,0.036687,-0.005625,-0.010467,0.000655
1230,2019-07-23,0.025228,0.011723,0.006664,0.000000,0.007449,-0.003828,0.021484,-0.015933,0.024203,...,0.014402,0.020276,0.007818,0.019841,-0.001300,-0.003292,-0.005086,-0.001305,0.007052,0.008257
1231,2019-07-24,0.025497,0.001896,-0.010842,-0.005600,-0.005196,-0.003843,0.044679,0.046667,0.024025,...,0.022222,0.010657,-0.000814,0.016213,0.041667,-0.041453,0.022151,0.026579,0.007703,-0.000649
1232,2019-07-25,-0.084417,-0.012407,-0.021807,0.002414,-0.003817,-0.014252,-0.017929,0.030027,-0.041538,...,-0.025966,-0.015674,-0.007907,-0.003191,-0.050000,-0.012750,-0.004584,-0.030136,-0.018068,-0.006874
1233,2019-07-26,-0.013577,-0.006068,-0.016100,0.004013,0.005445,0.013045,0.000612,0.000000,0.050562,...,0.001860,-0.003185,0.003478,0.001921,-0.007895,0.004014,-0.005861,0.012254,0.004954,0.009074
1234,2019-07-29,-0.016005,0.000857,-0.003597,0.005596,0.009025,-0.011375,0.002752,-0.011484,0.003438,...,-0.020421,-0.014232,0.009339,0.004473,0.042440,0.004867,-0.014108,-0.000432,-0.002113,0.000293
1235,2019-07-30,-0.000976,0.005244,0.019912,-0.003180,-0.035977,-0.005319,-0.014129,0.046470,0.020556,...,0.003790,-0.034178,-0.004292,0.017812,0.006361,0.003979,0.013669,-0.003460,-0.001411,0.000209
1236,2019-07-31,-0.006513,-0.021505,-0.017223,-0.007177,-0.029485,-0.000655,-0.026498,0.000854,-0.058187,...,0.012587,-0.020744,0.020404,-0.005625,0.002528,-0.016540,-0.054151,-0.023872,0.002827,-0.022429
1237,2019-08-01,-0.021960,-0.015450,0.076041,0.014458,0.017208,0.007971,-0.029867,-0.040102,0.020990,...,-0.064636,-0.014330,-0.021639,-0.016342,-0.012610,-0.044674,-0.028737,-0.051578,-0.053559,-0.033634
1238,2019-08-02,-0.013070,-0.011714,-0.005020,0.010293,0.001044,-0.001408,-0.038646,0.016889,-0.031420,...,0.007309,-0.033502,-0.021158,-0.001278,0.003831,-0.022923,0.011009,-0.029067,0.142219,-0.008253
1239,2019-08-05,-0.031239,-0.042939,-0.015864,-0.011755,-0.026706,-0.015839,-0.050420,-0.043706,-0.041650,...,-0.010554,-0.040549,-0.052348,-0.042226,-0.003817,-0.021396,-0.048548,-0.027040,-0.015645,-0.037705
1240,2019-08-06,-0.002462,-0.001519,0.007861,0.015067,-0.010504,-0.027557,0.017221,0.031993,0.029252,...,0.002000,-0.001704,0.018930,0.008684,-0.098340,0.000000,0.016214,-0.012903,0.047682,0.010178
1241,2019-08-07,0.009520,0.011935,-0.007291,0.006250,0.001516,0.006574,0.039502,0.038973,-0.005278,...,-0.018629,-0.001366,0.010355,0.009272,0.032578,-0.011124,-0.020413,-0.015586,0.019595,-0.012210
1242,2019-08-08,0.015718,0.013298,0.041503,0.004658,0.005840,0.027365,0.026917,-0.007673,0.011429,...,0.016271,0.016068,0.022056,0.024278,0.000000,0.011988,0.021078,0.027579,0.004340,0.016799
1243,2019-08-09,-0.010316,-0.007417,0.000219,0.002318,-0.007312,-0.004494,-0.032489,-0.002577,0.002421,...,0.005337,-0.051144,-0.008240,0.000000,-0.037037,-0.036920,-0.026038,-0.045229,-0.022222,-0.025799
1244,2019-08-12,-0.039611,-0.026098,-0.017160,-0.005397,-0.003900,0.003083,-0.006261,-0.012920,-0.032206,...,-0.025469,-0.003901,-0.002537,-0.014734,0.000000,0.000410,0.014692,-0.035919,0.000000,-0.023198
1245,2019-08-13,-0.004703,-0.001771,0.022631,0.006202,0.017399,0.000220,0.035281,0.025305,0.022878,...,0.002063,0.009256,0.042348,-0.009103,0.002849,0.024795,0.048421,0.031858,0.010732,0.021348
1246,2019-08-14,-0.051254,-0.030866,-0.023816,-0.005393,-0.019453,-0.023156,-0.038393,-0.020426,0.020333,...,-0.043926,-0.027160,-0.029765,-0.027559,-0.105114,-0.028994,-0.048223,-0.084249,-0.016865,-0.032822
1247,2019-08-15,-0.026437,-0.004027,0.008856,-0.000775,-0.008284,-0.004831,-0.000806,-0.017376,0.010761,...,-0.058866,0.012690,-0.004981,-0.017544,-0.022222,0.008443,0.004757,-0.033143,-0.000635,-0.005032
1248,2019-08-16,0.014955,0.016172,0.021091,-0.001550,0.021763,0.010047,0.017734,0.011494,0.011041,...,0.038902,0.022914,0.023595,0.005495,0.040584,-0.003063,0.031013,0.035461,0.006993,0.024823
1249,2019-08-19,0.012020,0.011454,0.011625,0.003882,0.004733,0.000112,0.018896,0.051573,0.005460,...,0.013216,-0.007350,0.018644,0.019126,0.046802,0.006350,0.033525,0.040525,0.003788,0.014543
1250,2019-08-20,-0.010345,0.001669,-0.018013,0.000773,-0.014347,-0.004470,-0.008853,0.048213,-0.007370,...,0.000725,-0.009873,0.000048,-0.022788,0.044709,-0.008345,-0.017329,0.004388,0.012579,-0.017083
1251,2019-08-21,0.022842,0.014995,0.014587,0.003091,0.004780,0.011675,0.001462,0.020619,0.010942,...,0.013758,0.018162,0.010839,-0.008916,0.062767,-0.004926,-0.001357,0.008738,0.027950,0.006311
1252,2019-08-22,0.004164,0.003166,-0.011749,-0.004622,0.007351,-0.012428,0.006291,-0.008547,-0.022420,...,0.012143,0.000700,-0.000846,0.019377,-0.025503,0.001444,0.013810,-0.022740,0.007855,-0.004585
1253,2019-08-23,-0.041839,-0.035414,-0.021877,-0.008514,-0.003864,-0.006292,-0.055816,-0.032915,-0.048636,...,-0.036697,-0.029011,-0.046221,-0.023761,-0.028926,-0.011740,-0.040643,-0.031579,-0.055156,-0.028043
1254,2019-08-26,-0.009048,0.012723,0.002553,0.003903,0.015298,0.000905,0.001773,0.008104,0.011638,...,0.005861,0.011519,0.018999,-0.004172,0.052482,0.007712,0.010940,-0.017735,0.003807,-0.004371
1255,2019-08-27,-0.029377,-0.019622,-0.013231,0.003888,-0.039686,0.009602,-0.004485,-0.018489,-0.025473,...,-0.016752,-0.021708,-0.011284,-0.016760,-0.095687,-0.003102,-0.022795,-0.025626,-0.007585,0.012430
1256,2019-08-28,0.035992,0.006224,0.000505,0.005422,0.013260,-0.004364,0.006283,0.012285,0.024452,...,0.004444,0.012004,0.006710,0.006392,0.037258,0.010373,0.016730,0.016736,0.035669,0.008112
1257,2019-08-29,0.039084,0.027168,0.003589,0.002311,-0.034896,0.000337,0.019910,0.004854,0.032099,...,0.007375,0.034867,0.016932,0.003529,0.001437,0.011499,0.035226,0.046443,0.026201,0.019814
1258,2019-08-30,-0.000380,-0.004487,0.005811,0.004612,-0.011525,0.012358,-0.002772,0.008857,-0.009968,...,0.000000,0.006947,-0.001292,0.004923,-0.010043,0.026797,0.013432,0.007303,0.009118,0.001232

51

In [10]:
# Assignment14
mdf_union_fillna = mdf_union.fillna(0.0)

display(mdf_union_fillna)
print(len(mdf_union_fillna))

mdf_union_fillna.to_csv('/Users/yachiru/Documents/nyu/class/DSforBusinessTech/assignment/assignment1/stock_data/mdf_union_fillna.csv')

,Date,AAL,UAL,VRTX,AQN,MO,NVS,MCHP,BZH,EDIT,...,HBI,XRX,AAPL,KRG,TEVA,RIO,MU,AA,NWL,BLK
0,2014-09-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2014-09-03,-0.033580,-0.019204,-0.001506,0.010922,0.000694,0.005336,-0.004305,-0.028222,0.000000,...,0.007800,0.015173,-0.042207,-0.006907,0.009590,0.003549,0.005395,0.015597,0.002957,0.007268
2,2014-09-04,-0.017118,0.028350,-0.013682,0.002401,-0.001851,-0.009341,0.001029,0.015343,0.000000,...,0.024558,-0.030605,-0.008288,-0.003091,-0.028305,-0.013961,0.013889,0.010041,0.010613,0.001570
3,2014-09-05,-0.016116,0.006148,0.038121,-0.023952,0.005795,-0.000643,0.004730,0.009174,0.000000,...,0.011938,-0.006608,0.008663,0.011241,0.016227,-0.000189,0.025529,0.010526,-0.002334,0.003045
4,2014-09-08,0.010040,0.007885,-0.005787,-0.012270,0.002305,0.000107,0.002457,0.006417,0.000000,...,0.005991,-0.010347,-0.006164,0.009582,0.011543,-0.020770,0.006072,-0.015625,0.003509,-0.000992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2019-08-26,-0.009048,0.012723,0.002553,0.003903,0.015298,0.000905,0.001773,0.008104,0.011638,...,0.005861,0.011519,0.018999,-0.004172,0.052482,0.007712,0.010940,-0.017735,0.003807,-0.004371
1255,2019-08-27,-0.029377,-0.019622,-0.013231,0.003888,-0.039686,0.009602,-0.004485,-0.018489,-0.025473,...,-0.016752,-0.021708,-0.011284,-0.016760,-0.095687,-0.003102,-0.022795,-0.025626,-0.007585,0.012430
1256,2019-08-28,0.035992,0.006224,0.000505,0.005422,0.013260,-0.004364,0.006283,0.012285,0.024452,...,0.004444,0.012004,0.006710,0.006392,0.037258,0.010373,0.016730,0.016736,0.035669,0.008112
1257,2019-08-29,0.039084,0.027168,0.003589,0.002311,-0.034896,0.000337,0.019910,0.004854,0.032099,...,0.007375,0.034867,0.016932,0.003529,0.001437,0.011499,0.035226,0.046443,0.026201,0.019814
1258,2019-08-30,-0.000380,-0.004487,0.005811,0.004612,-0.011525,0.012358,-0.002772,0.008857,-0.009968,...,0.000000,0.006947,-0.001292,0.004923,-0.010043,0.026797,0.013432,0.007303,0.009118,0.001232

1259