### Sample code to use the scikit-learn OneHotEncoder class to convert a categorical variable into to a set of One-Hot encoded (a.k.a. binary/dummy) variables

#### <font color='blue'>Note that Pandas has a 'get_dummies' function that does something similar but applying it to unseen data is a little more cumbersome</font>

In [1]:
import pandas as pd
import numpy as np

In [2]:
datadir = '/home/pbatra/Dropbox/airport/nyu/datasets/honda/'
filename = 'honda_insurance_claims.csv'

In [3]:
dat = pd.read_csv(f'{datadir}/{filename}')

In [5]:

display(dat.head(10))
display(dat.shape)

  Manufacturer    Model  Weight  Year  Miles    Type  Claim_amount
0        Honda  Odyssey    4354  2011  70300   Owned          3013
1        Honda   Accord    3131  2015  14800   Owned          9547
2        Honda    Civic    2739  2010  62000   Owned          9156
3        Honda    Pilot    4036  2018  28350  Leased          1430
4        Honda  Odyssey    4354  2011  87200  Leased          5869
5        Honda     CR-V    3307  2011  60900   Owned           854
6        Honda     City    2414  2018  45350   Owned          4741
7        Honda    Civic    2739  2012  64320   Owned          9144
8        Honda    Pilot    4036  2012  89900   Owned          1342
9        Honda  Odyssey    4354  2016  46200   Owned          2632

(28, 7)

In [6]:
print(f"Column Model has {dat['Model'].nunique()} unique values:")
print()
print(', '.join( list(dat['Model'].unique()))  )

Column Model has 8 unique values:

Odyssey, Accord, Civic, Pilot, CR-V, City, Fit, Shuttle


### Import the scikit-learn <font color='blue'>preprocessing</font> package

In [8]:
from sklearn import preprocessing

### Instantiate an object of the OneHotEncoder() class

#### <font color='blue'> In newer versions of scikit-learn, drop='first' will drop 1 of the 8 new columns, you only need 7 (and having a set of columns that always add up to 1 is problematic for linear models)

In [11]:
ohe = preprocessing.OneHotEncoder(drop='first')   #will not work in older versions

### 'fit' will fit our OneHotEncoder on our training data

In [12]:
ohe.fit(dat[['Model']])

OneHotEncoder(categories='auto', drop='first', dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

### 'transform' allows us to use our OneHotEncoder on either the data it was trained on or other out-of-sample data (e.g. test/validation)

In [14]:
ohe.transform(dat[['Model']])

<28x7 sparse matrix of type '<class 'numpy.float64'>'
	with 24 stored elements in Compressed Sparse Row format>

In [15]:
ohe.transform(dat[['Model']]).toarray()

array([[0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.]])

In [17]:
ohe.transform(dat[['Model']]).toarray().shape

(28, 7)

### 'get_feature_names' allows us to get column names that match our original category values

In [18]:
ohe.get_feature_names()

array(['x0_CR-V', 'x0_City', 'x0_Civic', 'x0_Fit', 'x0_Odyssey',
       'x0_Pilot', 'x0_Shuttle'], dtype=object)

### Assign the feature names and transformed values to variables

In [19]:
ohe_names = ohe.get_feature_names()
ohe_values = ohe.transform(dat[['Model']]).toarray()

In [25]:
ohe_values

array([[0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.]])

In [24]:
ohe_values.shape

(28, 7)

### Massage the returned data to create a dataframe from it

In [26]:
column_values_dict = dict(zip(ohe_names, ohe_values.transpose()))

#### Why do we need to transpose (above)?

In [27]:
column_values_dict

{'x0_CR-V': array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0.]),
 'x0_City': array([0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'x0_Civic': array([0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]),
 'x0_Fit': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0.,
        0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0.]),
 'x0_Odyssey': array([1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0.]),
 'x0_Pilot': array([0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'x0_Shuttle': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])}

In [29]:
new_df = pd.DataFrame( column_values_dict )
display(new_df)

    x0_CR-V  x0_City  x0_Civic  x0_Fit  x0_Odyssey  x0_Pilot  x0_Shuttle
0       0.0      0.0       0.0     0.0         1.0       0.0         0.0
1       0.0      0.0       0.0     0.0         0.0       0.0         0.0
2       0.0      0.0       1.0     0.0         0.0       0.0         0.0
3       0.0      0.0       0.0     0.0         0.0       1.0         0.0
4       0.0      0.0       0.0     0.0         1.0       0.0         0.0
5       1.0      0.0       0.0     0.0         0.0       0.0         0.0
6       0.0      1.0       0.0     0.0         0.0       0.0         0.0
7       0.0      0.0       1.0     0.0         0.0       0.0         0.0
8       0.0      0.0       0.0     0.0         0.0       1.0         0.0
9       0.0      0.0       0.0     0.0         1.0       0.0         0.0
10      0.0      0.0       0.0     1.0         0.0       0.0         0.0
11      0.0      1.0       0.0     0.0         0.0       0.0         0.0
12      1.0      0.0       0.0     0.0         0.0       0.0         0.0
13      0.0      0.0       0.0     0.0         0.0       0.0         1.0
14      0.0      0.0       0.0     1.0         0.0       0.0         0.0
15      0.0      0.0       0.0     0.0         0.0       0.0         0.0
16      1.0      0.0       0.0     0.0         0.0       0.0         0.0
17      0.0      0.0       1.0     0.0         0.0       0.0         0.0
18      0.0      0.0       0.0     0.0         0.0       1.0         0.0
19      0.0      0.0       0.0     0.0         1.0       0.0         0.0
20      0.0      0.0       0.0     1.0         0.0       0.0         0.0
21      0.0      0.0       0.0     0.0         1.0       0.0         0.0
22      1.0      0.0       0.0     0.0         0.0       0.0         0.0
23      1.0      0.0       0.0     0.0         0.0       0.0         0.0
24      0.0      0.0       0.0     0.0         0.0       0.0         0.0
25      0.0      0.0       0.0     1.0         0.0       0.0         0.0
26      0.0      0.0       0.0     0.0         0.0       0.0         0.0
27      0.0      0.0       1.0     0.0         0.0       0.0         0.0

### Concatenate this dataframe to our original dataframe

In [30]:
dat_new = pd.concat( [dat, new_df], axis=1)
display(dat_new)

,Manufacturer,Model,Weight,Year,Miles,Type,Claim_amount,x0_CR-V,x0_City,x0_Civic,x0_Fit,x0_Odyssey,x0_Pilot,x0_Shuttle
0,Honda,Odyssey,4354,2011,70300,Owned,3013,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Honda,Accord,3131,2015,14800,Owned,9547,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Honda,Civic,2739,2010,62000,Owned,9156,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,Honda,Pilot,4036,2018,28350,Leased,1430,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Honda,Odyssey,4354,2011,87200,Leased,5869,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,Honda,CR-V,3307,2011,60900,Owned,854,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Honda,City,2414,2018,45350,Owned,4741,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,Honda,Civic,2739,2012,64320,Owned,9144,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,Honda,Pilot,4036,2012,89900,Owned,1342,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,Honda,Odyssey,4354,2016,46200,Owned,2632,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,Honda,Fit,2522,2016,31300,Owned,8136,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11,Honda,City,2414,2017,33210,Owned,6055,0.0,1.0,0.0,0.0,0.0,0.0,0.0
12,Honda,CR-V,3307,2016,79100,Leased,4570,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Honda,Shuttle,2623,2013,81600,Leased,9077,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,Honda,Fit,2522,2014,62400,Owned,4817,0.0,0.0,0.0,1.0,0.0,0.0,0.0
15,Honda,Accord,3131,2012,22000,Owned,7759,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Honda,CR-V,3307,2010,2400,Owned,5534,1.0,0.0,0.0,0.0,0.0,0.0,0.0
17,Honda,Civic,2739,2010,72300,Owned,8919,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,Honda,Pilot,4036,2019,7500,Owned,3773,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19,Honda,Odyssey,4354,2010,67000,Owned,7649,0.0,0.0,0.0,0.0,1.0,0.0,0.0
20,Honda,Fit,2522,2011,82800,Owned,7774,0.0,0.0,0.0,1.0,0.0,0.0,0.0
21,Honda,Odyssey,4354,2012,81700,Owned,4307,0.0,0.0,0.0,0.0,1.0,0.0,0.0
22,Honda,CR-V,3307,2017,5100,Leased,16245,1.0,0.0,0.0,0.0,0.0,0.0,0.0
23,Honda,CR-V,3307,2014,9300,Owned,7605,1.0,0.0,0.0,0.0,0.0,0.0,0.0
24,Honda,Accord,3131,2011,66300,Leased,3378,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,Honda,Fit,2522,2014,64800,Owned,7469,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26,Honda,Accord,3131,1998,135000,Owned,939,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,Honda,Civic,2739,2014,56100,Owned,1882,0.0,0.0,1.0,0.0,0.0,0.0,0.0

### Drop our original 'Model' column

In [31]:
dat_new = dat_new.drop('Model', axis=1)

In [32]:
display(dat_new)

,Manufacturer,Weight,Year,Miles,Type,Claim_amount,x0_CR-V,x0_City,x0_Civic,x0_Fit,x0_Odyssey,x0_Pilot,x0_Shuttle
0,Honda,4354,2011,70300,Owned,3013,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Honda,3131,2015,14800,Owned,9547,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Honda,2739,2010,62000,Owned,9156,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,Honda,4036,2018,28350,Leased,1430,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Honda,4354,2011,87200,Leased,5869,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,Honda,3307,2011,60900,Owned,854,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Honda,2414,2018,45350,Owned,4741,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,Honda,2739,2012,64320,Owned,9144,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,Honda,4036,2012,89900,Owned,1342,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,Honda,4354,2016,46200,Owned,2632,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,Honda,2522,2016,31300,Owned,8136,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11,Honda,2414,2017,33210,Owned,6055,0.0,1.0,0.0,0.0,0.0,0.0,0.0
12,Honda,3307,2016,79100,Leased,4570,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Honda,2623,2013,81600,Leased,9077,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,Honda,2522,2014,62400,Owned,4817,0.0,0.0,0.0,1.0,0.0,0.0,0.0
15,Honda,3131,2012,22000,Owned,7759,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Honda,3307,2010,2400,Owned,5534,1.0,0.0,0.0,0.0,0.0,0.0,0.0
17,Honda,2739,2010,72300,Owned,8919,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,Honda,4036,2019,7500,Owned,3773,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19,Honda,4354,2010,67000,Owned,7649,0.0,0.0,0.0,0.0,1.0,0.0,0.0
20,Honda,2522,2011,82800,Owned,7774,0.0,0.0,0.0,1.0,0.0,0.0,0.0
21,Honda,4354,2012,81700,Owned,4307,0.0,0.0,0.0,0.0,1.0,0.0,0.0
22,Honda,3307,2017,5100,Leased,16245,1.0,0.0,0.0,0.0,0.0,0.0,0.0
23,Honda,3307,2014,9300,Owned,7605,1.0,0.0,0.0,0.0,0.0,0.0,0.0
24,Honda,3131,2011,66300,Leased,3378,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,Honda,2522,2014,64800,Owned,7469,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26,Honda,3131,1998,135000,Owned,939,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,Honda,2739,2014,56100,Owned,1882,0.0,0.0,1.0,0.0,0.0,0.0,0.0

### Transform the "Type" column

In [33]:
dat_new.Type.unique()

array(['Owned', 'Leased'], dtype=object)

#### <font color='green'> Can we do this manually? </font>

In [37]:
dat_new['is_owned'] = (dat_new.Type=='Owned').astype(int)

In [38]:
dat_new.head()

,Manufacturer,Weight,Year,Miles,Type,Claim_amount,x0_CR-V,x0_City,x0_Civic,x0_Fit,x0_Odyssey,x0_Pilot,x0_Shuttle,is_owned
0,Honda,4354,2011,70300,Owned,3013,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
1,Honda,3131,2015,14800,Owned,9547,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,Honda,2739,2010,62000,Owned,9156,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
3,Honda,4036,2018,28350,Leased,1430,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
4,Honda,4354,2011,87200,Leased,5869,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0